openapi: 3.2.0
info:
  title: Wistia Customizations API
  version: '1.0'
  description: 'Operations tagged Customizations across 3 of this provider''s published API definitions: wistia-data-api-modern-edge-openapi.yml, wistia-data-api-v1-openapi.yml, wistia-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.wistia.com/modern
- url: https://api.wistia.com/v1
tags:
- name: Customizations
  x-displayName: Customizations
paths:
  /medias/{mediaId}/customizations:
    get:
      x-wistia-mcp-ignore: true
      summary: Show Customizations
      x-speakeasy-group: customizations
      x-speakeasy-name-override: get
      description: 'Fetches explicitly defined customizations for the video.


        ## Requires api token with one of the following permissions

        ```

        Read all folder and media data

        ```'
      x-wistia-mcp-tool-name: show-customizations
      x-wistia-mcp-description: 'Show all of a video''s player customizations in one call — appearance,

        playback/controls, thumbnail, accessibility/captions, engagement, related

        media, sharing, lead capture, and access. Use this to read the current

        configuration. To change one area, use the matching focused update tool

        (e.g. update-appearance-customizations, update-playback-customizations).

        '
      x-wistia-mcp-annotations:
        read_only_hint: true
        read_only_hint_justification: This tool only reads the video's customizations and makes no changes.
        open_world_hint: false
        open_world_hint_justification: This tool only operates on records inside the account and does not reach external services.
        destructive_hint: false
        destructive_hint_justification: This tool only reads data and never modifies the account.
        idempotent_hint: true
        idempotent_hint_justification: Reading data does not change any state, so repeated calls have no additional effect.
      parameters:
      - name: mediaId
        in: path
        description: The hashed ID of the video.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  playerColor:
                    description: The color of the video player.
                    type: string
                  stillUrl:
                    type: string
                  autoPlay:
                    description: Whether the video should auto play or not.
                    type: string
                  bpbTime:
                    type: string
                  controlsVisibleOnLoad:
                    type: string
                  endVideoBehavior:
                    description: Behavior of the video at the end.
                    type: string
                  fullscreenButton:
                    type: string
                  branding:
                    type: string
                  playbar:
                    type: string
                  playButton:
                    description: Indicates if the play button is visible.
                    type: string
                  settingsControl:
                    type: string
                  showCustomerLogo:
                    type: string
                  qualityControl:
                    type: string
                  playbackRateControl:
                    type: string
                  smallPlayButton:
                    type: string
                  spherical:
                    type: string
                  volumeControl:
                    type: string
                  copyLinkAndThumbnailEnabled:
                    type: string
                  doNotTrack:
                    type: string
                  email:
                    type: string
                  fitStrategy:
                    type: string
                  fullscreenOnRotateToLandscape:
                    type: string
                  muted:
                    type: string
                  playlistLinks:
                    type: string
                  playlistLoop:
                    type: string
                  playsinline:
                    type: string
                  playPauseNotifier:
                    type: string
                  playSuspendedOffScreen:
                    type: string
                  preload:
                    type: string
                  qualityMax:
                    type: string
                  qualityMin:
                    type: string
                  resumable:
                    type: string
                  seo:
                    type: string
                  silentAutoPlay:
                    type: string
                  time:
                    type: string
                  thumbnailAltText:
                    type: string
                  videoFoam:
                    type: string
                  volume:
                    type: string
                  wmode:
                    type: string
                  keyMoments:
                    description: String representation of whether the key moments feature is enabled.
                    type: string
                  plugin:
                    unevaluatedProperties: true
                    description: 'Container for player plugin configurations. Plugin keys are extensible and

                      not strictly validated; the documented sub-objects represent the most

                      common plugins.

                      '
                    type: object
                    properties:
                      passwordProtectedVideo:
                        unevaluatedProperties: false
                        type: object
                        properties:
                          'on':
                            type: string
                          src:
                            type: string
                          challenge:
                            type: string
                          async:
                            type: string
                      videoThumbnail:
                        unevaluatedProperties: false
                        type: object
                        properties:
                          clickToPlayButton:
                            type: string
                      socialbar-v1:
                        unevaluatedProperties: false
                        type: object
                        properties:
                          buttons:
                            type: string
                          showTweetCount:
                            type: string
                          tweetText:
                            type: string
                          height:
                            type: string
                      chapters:
                        unevaluatedProperties: false
                        type: object
                        properties:
                          visibleOnLoad:
                            type: string
                          chapterList:
                            type: array
                            items:
                              unevaluatedProperties: false
                              type: object
                              properties:
                                id:
                                  type: string
                                title:
                                  type: string
                                time:
                                  type: string
                                deleted:
                                  type: string
                          'on':
                            type: string
                      postRoll-v1:
                        unevaluatedProperties: false
                        description: Adds a Call To Action to your Video (response format)
                        type: object
                        properties:
                          rewatch:
                            description: String representation of whether the video can be rewatched.
                            type: string
                          text:
                            description: The URL of the text to be displayed.
                            type: string
                          link:
                            description: The URL of the link to be displayed.
                            type: string
                          time:
                            description: The time when the post-roll should be displayed as a string.
                            type: string
                          autoSize:
                            description: String representation of whether the post-roll will automatically adjust its size.
                            type: string
                          style:
                            unevaluatedProperties: false
                            type: object
                            properties:
                              backgroundColor:
                                description: The background color of the post-roll.
                                type: string
                          ctaType:
                            description: The type of call-to-action to be displayed.
                            type: string
                          'on':
                            description: String representation of whether the post-roll is enabled.
                            type: string
                          conversionOpportunityKey:
                            description: The key used for tracking conversion opportunities.
                            type: string
                      captions-v1:
                        unevaluatedProperties: false
                        description: Captions plugin configuration (response format)
                        type: object
                        properties:
                          'on':
                            description: String representation of whether the captions plugin is enabled ("true" or "false").
                            type: string
                          onByDefault:
                            description: String representation of whether captions are turned on by default ("true" or "false").
                            type: string
                  private:
                    unevaluatedProperties: false
                    type: object
                    properties:
                      password_protect_on:
                        type: string
                      show_comments:
                        type: string
                  encrypted:
                    unevaluatedProperties: false
                    type: object
                    properties:
                      password_protect_password:
                        type: string
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Folder with ID 'fakeid' not found.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Internal server error
      tags:
      - Customizations
      security:
      - BearerAuth: []
      operationId: getMediasByMediaIdCustomizations
      x-operation-id-source: derived
    post:
      x-wistia-mcp-ignore: true
      summary: Create Customizations
      x-speakeasy-group: customizations
      x-speakeasy-name-override: create
      description: 'Set customizations for a video. Replaces the customizations explicitly set for this video.


        ## Requires api token with one of the following permissions

        ```

        Read, update & delete anything

        ```'
      x-wistia-mcp-tool-name: create-customizations
      x-wistia-mcp-description: 'Set customizations for a video. Replaces the customizations explicitly set for this video.

        '
      parameters:
      - name: mediaId
        in: path
        description: The hashed ID of the video.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              unevaluatedProperties: false
              type: object
              description: 'A collection of settings you can apply to a video to change its appearance and

                behavior.

                '
              properties:
                autoPlay:
                  description: If set to true, the video will play as soon as it’s ready. Note that autoplay might not work on some devices and browsers.
                  type: boolean
                controlsVisibleOnLoad:
                  description: If set to true, controls like the big play button, playbar, volume, etc. will be visible as soon as the video is embedded.
                  type: boolean
                copyLinkAndThumbnailEnabled:
                  description: If set to false, the option to “Copy Link and Thumbnail” will be removed when right-clicking on the video.
                  type: boolean
                doNotTrack:
                  description: If set to true, data for each viewing session will not be tracked.
                  type: boolean
                email:
                  description: Associate a specific email address with this video’s viewing sessions.
                  type: string
                endVideoBehavior:
                  description: Determines what happens when the video ends. Options are default (stays on the last frame), reset (shows thumbnail and controls), and loop (plays again from the start).
                  type: string
                fakeFullscreen:
                  description: If set to true, the video will try to play in a pseudo-fullscreen mode on certain mobile devices.
                  type: boolean
                fitStrategy:
                  description: Resizes the video when there's a discrepancy between its aspect ratio and that of its parent container. Options are contain, cover, fill, and none.
                  type: string
                fullscreenButton:
                  description: If set to true, the fullscreen button will be available as a video control.
                  type: boolean
                fullscreenOnRotateToLandscape:
                  description: If set to false, the video will not automatically go to fullscreen mode on mobile when rotated to landscape.
                  type: boolean
                keyMoments:
                  description: If set to false, the key moments feature will be disabled.
                  type: boolean
                muted:
                  description: If set to true, the video will start in a muted state.
                  type: boolean
                playbackRateControl:
                  description: If set to false, the playback speed controls in the settings menu will be hidden.
                  type: boolean
                playbar:
                  description: If set to true, the playbar will be available. If set to false, it will be hidden.
                  type: boolean
                playButton:
                  description: Indicates if the play button is visible.
                  type: boolean
                playerColor:
                  description: Changes the base color of the player. Expects a hexadecimal rgb string.
                  type: string
                playlistLinks:
                  description: Enables the use of specially crafted links on the page to associate with a video, turning them into a playlist.
                  type: boolean
                playlistLoop:
                  description: If set to true and this video has a playlist, it will loop back to the first video after the last one has finished.
                  type: boolean
                playsinline:
                  description: If set to false, videos will play within the native mobile player.
                  type: boolean
                playPauseNotifier:
                  description: If set to false, animations for the Pause and Play symbols will be removed.
                  type: boolean
                playSuspendedOffScreen:
                  description: If set to false for a muted autoplay video, the video won't pause when out of view.
                  type: boolean
                plugin:
                  unevaluatedProperties: false
                  type: object
                  properties:
                    videoThumbnail:
                      unevaluatedProperties: false
                      type: object
                      properties:
                        clickToPlayButton:
                          description: If set to false, removes the “Click to Play” button on video thumbnails.
                          type: boolean
                    socialbar-v1:
                      unevaluatedProperties: false
                      type: object
                      properties:
                        buttons:
                          type: string
                        showTweetCount:
                          type: boolean
                        tweetText:
                          type: string
                        height:
                          type: integer
                    chapters:
                      unevaluatedProperties: false
                      type: object
                      properties:
                        visibleOnLoad:
                          type: boolean
                        chapterList:
                          type: array
                          items:
                            unevaluatedProperties: false
                            type: object
                            properties:
                              id:
                                type: string
                              title:
                                type: string
                              time:
                                type: string
                              deleted:
                                type: string
                        'on':
                          type: boolean
                    postRoll-v1:
                      unevaluatedProperties: false
                      description: Adds a Call To Action to your Video
                      type: object
                      properties:
                        rewatch:
                          description: If set to true, allows the video to be rewatched.
                          type: boolean
                        text:
                          description: The URL of the text to be displayed.
                          type: string
                        link:
                          description: The URL of the link to be displayed.
                          type: string
                        time:
                          unevaluatedProperties: false
                          description: The time when the post-roll should be displayed. Can be a string like "end" or a number representing seconds.
                          oneOf:
                          - type: string
                          - type: number
                        autoSize:
                          description: If set to true, the post-roll will automatically adjust its size.
                          type: boolean
                        style:
                          unevaluatedProperties: false
                          type: object
                          properties:
                            backgroundColor:
                              description: The background color of the post-roll.
                              type: string
                              examples:
                              - '#303030'
                        ctaType:
                          description: The type of call-to-action to be displayed. Typically set to "text". Other options are "image" which allows for "altText", and "html".
                          type: string
                          examples:
                          - text
                        'on':
                          description: If set to true, the post-roll is enabled.
                          type: boolean
                        conversionOpportunityKey:
                          description: The key used for tracking conversion opportunities.
                          type: string
                    captions-v1:
                      unevaluatedProperties: false
                      description: Enables closed captions for the video
                      type: object
                      properties:
                        'on':
                          description: If set to true, the captions plugin is enabled and captions controls will be available to viewers.
                          type: boolean
                        onByDefault:
                          description: If set to true, captions will be turned on automatically when the video loads. Only takes effect when the captions plugin is enabled.
                          type: boolean
                preload:
                  description: Sets the video’s preload property. Possible values are metadata, auto, none, true, and false.
                  type: string
                qualityControl:
                  description: If set to false, the video quality selector in the settings menu will be hidden.
                  type: boolean
                qualityMax:
                  description: Specifies the maximum quality the video will play at.
                  type: integer
                qualityMin:
                  description: Specifies the minimum quality the video will play at.
                  type: integer
                resumable:
                  description: Determines if the video should resume from where the viewer left off. Options are true, false, and auto.
                  type: string
                seo:
                  description: If set to true, the video’s metadata will be injected into the page’s markup for SEO.
                  type: boolean
                settingsControl:
                  description: If set to true, the settings control will be available.
                  type: boolean
                silentAutoPlay:
                  description: Determines how videos handle autoplay in contexts where normal autoplay might be blocked. Options are true, allow, and false.
                  type: string
                smallPlayButton:
                  type: boolean
                stillUrl:
                  description: Overrides the thumbnail image that appears before the video plays.
                  type: string
                time:
                  description: Sets the starting time of the video.
                  type: string
                thumbnailAltText:
                  description: Sets the Thumbnail Alt Text for the media.
                  type: string
                videoFoam:
                  unevaluatedProperties: false
                  description: When set to true, the video will adjust its size according to its parent element. It can also be an object specifying min/max width or height.
                  anyOf:
                  - type: boolean
                    examples:
                    - true
                  - type: object
                    unevaluatedProperties: false
                    properties:
                      minWidth:
                        description: Minimum width the video can be resized to.
                        type: integer
                      maxWidth:
                        description: Maximum width the video can be resized to.
                        type: integer
                      minHeight:
                        description: Minimum height the video can be resized to.
                        type: integer
                      maxHeight:
                        description: Maximum height the video can be resized to.
                        type: integer
                    description: "Examples:\n```json\n{\n  \"minWidth\": 400,\n  \"maxWidth\": 960\n}\n```\n```json\n{\n  \"minHeight\": 300,\n  \"maxHeight\": 450\n}\n```\n"
                volume:
                  description: Sets the volume of the video.
                  type: number
                volumeControl:
                  description: When set to true, a volume control is available over the video.
                  type: boolean
                wmode:
                  description: If set to transparent, the background behind the player will be transparent instead of black.
                  type: string
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  playerColor:
                    description: The color of the video player.
                    type: string
                  stillUrl:
                    type: string
                  autoPlay:
                    description: Whether the video should auto play or not.
                    type: string
                  bpbTime:
                    type: string
                  controlsVisibleOnLoad:
                    type: string
                  endVideoBehavior:
                    description: Behavior of the video at the end.
                    type: string
                  fullscreenButton:
                    type: string
                  branding:
                    type: string
                  playbar:
                    type: string
                  playButton:
                    description: Indicates if the play button is visible.
                    type: string
                  settingsControl:
                    type: string
                  showCustomerLogo:
                    type: string
                  qualityControl:
                    type: string
                  playbackRateControl:
                    type: string
                  smallPlayButton:
                    type: string
                  spherical:
                    type: string
                  volumeControl:
                    type: string
                  copyLinkAndThumbnailEnabled:
                    type: string
                  doNotTrack:
                    type: string
                  email:
                    type: string
                  fitStrategy:
                    type: string
                  fullscreenOnRotateToLandscape:
                    type: string
                  muted:
                    type: string
                  playlistLinks:
                    type: string
                  playlistLoop:
                    type: string
                  playsinline:
                    type: string
                  playPauseNotifier:
                    type: string
                  playSuspendedOffScreen:
                    type: string
                  preload:
                    type: string
                  qualityMax:
                    type: string
                  qualityMin:
                    type: string
                  resumable:
                    type: string
                  seo:
                    type: string
                  silentAutoPlay:
                    type: string
                  time:
                    type: string
                  thumbnailAltText:
                    type: string
                  videoFoam:
                    type: string
                  volume:
                    type: string
                  wmode:
                    type: string
                  keyMoments:
                    description: String representation of whether the key moments feature is enabled.
                    type: string
                  plugin:
                    unevaluatedProperties: true
                    description: 'Container for player plugin configurations. Plugin keys are extensible and

                      not strictly validated; the documented sub-objects represent the most

                      common plugins.

                      '
                    type: object
                    properties:
                      passwordProtectedVideo:
                        unevaluatedProperties: false
                        type: object
                        properties:
                          'on':
                            type: string
                          src:
                            type: string
                          challenge:
                            type: string
                          async:
                            type: string
                      videoThumbnail:
                        unevaluatedProperties: false
                        type: object
                        properties:
                          clickToPlayButton:
                            type: string
                      socialbar-v1:
                        unevaluatedProperties: false
                        type: object
                        properties:
                          buttons:
                            type: string
                          showTweetCount:
                            type: string
                          tweetText:
                            type: string
                          height:
                            type: string
                      chapters:
                        unevaluatedProperties: false
                        type: object
                        properties:
                          visibleOnLoad:
                            type: string
                          chapterList:
                            type: array
                            items:
                              unevaluatedProperties: false
                              type: object
                              properties:
                                id:
                                  type: string
                                title:
                                  type: string
                                time:
                                  type: string
                                deleted:
                                  type: string
                          'on':
                            type: string
                      postRoll-v1:
                        unevaluatedProperties: false
                        description: Adds a Call To Action to your Video (response format)
                        type: object
                        properties:
                          rewatch:
                            description: String representation of whether the video can be rewatched.
                            type: string
                          text:
                            description: The URL of the text to be displayed.
                            type: string
                          link:
                            description: The URL of the link to be displayed.
                            type: string
                          time:
                            description: The time when the post-roll should be displayed as a string.
                            type: string
                          autoSize:
                            description: String representation of whether the post-roll will automatically adjust its size.
                            type: string
                          style:
                            unevaluatedProperties: false
                            type: object
                            properties:
                              backgroundColor:
                                description: The background color of the post-roll.
                                type: string
                          ctaType:
                            description: The type of call-to-action to be displayed.
                            type: string
                          'on':
                            description: String representation of whether the post-roll is enabled.
                            type: string
                          conversionOpportunityKey:
                            description: The key used for tracking conversion opportunities.
                            type: string
                      captions-v1:
                        unevaluatedProperties: false
                        description: Captions plugin configuration (response format)
                        type: object
                        properties:
                          'on':
                            description: String representation of whether the captions plugin is enabled ("true" or "false").
                            type: string
                          onByDefault:
                            description: String representation of whether captions are turned on by default ("true" or "false").
                            type: string
                  private:
                    unevaluatedProperties: false
                    type: object
                    properties:
                      password_protect_on:
                        type: string
                      show_comments:
                        type: string
                  encrypted:
                    unevaluatedProperties: false
                    type: object
                    properties:
                      password_protect_password:
                        type: string
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '403':
          description: Forbidden, token is valid but account does not have access to feature
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Webinars are not available on your current plan
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Internal server error
      tags:
      - Customizations
      security:
      - BearerAuth: []
      operationId: postMediasByMediaIdCustomizations
      x-operation-id-source: derived
    put:
      x-wistia-mcp-ignore: true
      summary: Update Customizations
      x-speakeasy-group: customizations
      x-speakeasy-name-override: update
      description: 'Allows for partial updates on a video’s customizations. If a value is null, then that key will be deleted from the saved customizations. If it is not null, that value will be set.


        ## Requires api token with one of the following permissions

        ```

        Read, update & delete anything

        ```'
      x-wistia-mcp-tool-name: update-customizations
      x-wistia-mcp-description: 'Allows for partial updates on a video’s customizations. If a value is null, then that key will be deleted from the saved customizations. If it is not null, that value will be set.

        '
      parameters:
      - name: mediaId
        in: path
        description: The hashed ID of the video to be customized.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              unevaluatedProperties: false
              type: object
              description: 'A collection of settings you can apply to a video to change its appearance and

                behavior.

                '
              properties:
                autoPlay:
                  description: If set to true, the video will play as soon as it’s ready. Note that autoplay might not work on some devices and browsers.
                  type: boolean
                controlsVisibleOnLoad:
                  description: If set to true, controls like the big play button, playbar, volume, etc. will be visible as soon as the video is embedded.
                  type: boolean
                copyLinkAndThumbnailEnabled:
                  description: If set to false, the option to “Copy Link and Thumbnail” will be removed when right-clicking on the video.
                  type: boolean
                doNotTrack:
                  description: If set to true, data for each viewing session will not be tracked.
                  type: boolean
                email:
                  description: Associate a specific email address with this video’s viewing sessions.
                  type: string
                endVideoBehavior:
                  description: Determines what happens when the video ends. Options are default (stays on the last frame), reset (shows thumbnail and controls), and loop (plays again from the start).
                  type: string
                fakeFullscreen:
                  description: If set to true, the video will try to play in a pseudo-fullscreen mode on certain mobile devices.
                  type: boolean
                fitStrategy:
                  description: Resizes the video when there's a discrepancy between its aspect ratio and that of its parent container. Options are contain, cover, fill, and none.
                  type: string
                fullscreenButton:
                  description: If set to true, the fullscreen button will be available as a video control.
                  type: boolean
                fullscreenOnRotateToLandscape:
                  description: If set to false, the video will not automatically go to fullscreen mode on mobile when rotated to landscape.
                  type: boolean
                keyMoments:
                  description: If set to false, the key moments feature will be disabled.
                  type: boolean
                muted:
                  description: If set to true, the video will start in a muted state.
                  type: boolean
                playbackRateControl:
                  description: If set to false, the playback speed controls in the settings menu will be hidden.
                  type: boolean
                playbar:
                  description: If set to true, the playbar will be available. If set to false, it will be hidden.
                  type: boolean
                playButton:
                  description: Indicates if the play button is visible.
                  type: boolean
                playerColor:
                  description: Changes the base color of the player. Expects a hexadecimal rgb string.
                  type: string
                playlistLinks:
                  description: Enables the use of specially crafted links on the page to associate with a video, turning them into a playlist.
                  type: boolean
                playlistLoop:
                  description: If set to true and this video has a playlist, it will loop back to the first video after the last one has finished.
                  type: boolean
                playsinline:
                  description: If set to false, videos will play within the native mobile player.
                  type: boolean
                playPauseNotifier:
                  description: If set to false, animations for the Pause and Play symbols will be removed.
                  type: boolean
                playSuspendedOffScreen:
                  description: If set to false for a muted autoplay video, the video won't pause when out of view.
                  type: boolean
                plugin:
                  unevaluatedProperties: false
                  type: object
                  properties:
                    videoThumbnail:
                      unevaluatedProperties: false
                      type: object
                      properties:
                        clickToPlayButton:
                          description: If set to false, removes the “Click to Play” button on video thumbnails.
                          type: boolean
                    socialbar-v1:
                      unevaluatedProperties: false
                      type: object
                      properties:
                        buttons:
                          type: string
                        showTweetCount:
                          type: boolean
                        tweetText:
                          type: string
                        height:
                          type: integer
                    chapters:
                      unevaluatedProperties: false
                      type: object
                      properties:
                        visibleOnLoad:
                          type: boolean
                        chapterList:
                          type: array
                          items:
                            unevaluatedProperties: false
                            type: object
                            properties:
                              id:
                                type: string
                              title:
                                type: string
                              time:
                                type: string
                              deleted:
                                type: string
                        'on':
                          type: boolean
                    postRoll-v1:
                      unevaluatedProperties: false
                      description: Adds a Call To Action to your Video
                      type: object
                      properties:
                        rewatch:
                          description: If set to true, allows the video to be rewatched.
                          type: boolean
                        text:
                          description: The URL of the text to be displayed.
                          type: string
                        link:
                          description: The URL of the link to be displayed.
                          type: string
                        time:
                          unevaluatedProperties: false
                          description: The time when the post-roll should be displayed. Can be a string like "end" or a number representing seconds.
                          oneOf:
                          - type: string
                          - type: number
                        autoSize:
                          description: If set to true, the post-roll will automatically adjust its size.
                          type: boolean
                        style:
                          unevaluatedProperties: false
                          type: object
                          properties:
                            backgroundColor:
                              description: The background color of the post-roll.
                              type: string
                              examples:
                              - '#303030'
                        ctaType:
                          description: The type of call-to-action to be displayed. Typically set to "text". Other options are "image" which allows for "altText", and "html".
                          type: string
                          examples:
                          - text
                        'on':
                          description: If set to true, the post-roll is enabled.
                          type: boolean
                        conversionOpportunityKey:
                          description: The key used for tracking conversion opportunities.
                          type: string
                    captions-v1:
                      unevaluatedProperties: false
                      description: Enables closed captions for the video
                      type: object
                      properties:
                        'on':
                          description: If set to true, the captions plugin is enabled and captions controls will be available to viewers.
                          type: boolean
                        onByDefault:
                          description: If set to true, captions will be turned on automatically when the video loads. Only takes effect when the captions plugin is enabled.
                          type: boolean
                preload:
                  description: Sets the video’s preload property. Possible values are metadata, auto, none, true, and false.
                  type: string
                qualityControl:
                  description: If set to false, the video quality selector in the settings menu will be hidden.
                  type: boolean
                qualityMax:
                  description: Specifies the maximum quality the video will play at.
                  type: integer
                qualityMin:
                  description: Specifies the minimum quality the video will play at.
                  type: integer
                resumable:
                  description: Determines if the video should resume from where the viewer left off. Options are true, false, and auto.
                  type: string
                seo:
                  description: If set to true, the video’s metadata will be injected into the page’s markup for SEO.
                  type: boolean
                settingsControl:
                  description: If set to true, the settings control will be available.
                  type: boolean
                silentAutoPlay:
                  description: Determines how videos handle autoplay in contexts where normal autoplay might be blocked. Options are true, allow, and false.
                  type: string
                smallPlayButton:
                  type: boolean
                stillUrl:
                  description: Overrides the thumbnail image that appears before the video plays.
                  type: string
                time:
                  description: Sets the starting time of the video.
                  type: string
                thumbnailAltText:
                  description: Sets the Thumbnail Alt Text for the media.
                  type: string
                videoFoam:
                  unevaluatedProperties: false
                  description: When set to true, the video will adjust its size according to its parent element. It can also be an object specifying min/max width or height.
                  anyOf:
                  - type: boolean
                    examples:
                    - true
                  - type: object
                    unevaluatedProperties: false
                    properties:
                      minWidth:
                        description: Minimum width the video can be resized to.
                        type: integer
                      maxWidth:
                        description: Maximum width the video can be resized to.
                        type: integer
                      minHeight:
                        description: Minimum height the video can be resized to.
                        type: integer
                      maxHeight:
                        description: Maximum height the video can be resized to.
                        type: integer
                    description: "Examples:\n```json\n{\n  \"minWidth\": 400,\n  \"maxWidth\": 960\n}\n```\n```json\n{\n  \"minHeight\": 300,\n  \"maxHeight\": 450\n}\n```\n"
                volume:
                  description: Sets the volume of the video.
                  type: number
                volumeControl:
                  description: When set to true, a volume control is available over the video.
                  type: boolean
                wmode:
                  description: If set to transparent, the background behind the player will be transparent instead of black.
                  type: string
      responses:
        '200':
          description: Video customization update successful
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  playerColor:
                    description: The color of the video player.
                    type: string
                  stillUrl:
                    type: string
                  autoPlay:
                    description: Whether the video should auto play or not.
                    type: string
                  bpbTime:
                    type: string
                  controlsVisibleOnLoad:
                    type: string
                  endVideoBehavior:
                    description: Behavior of the video at the end.
                    type: string
                  fullscreenButton:
                    type: string
                  branding:
                    type: string
                  playbar:
                    type: string
                  playButton:
                    description: Indicates if the play button is visible.
                    type: string
                  settingsControl:
                    type: string
                  showCustomerLogo:
                    type: string
                  qualityControl:
                    type: string
                  playbackRateControl:
                    type: string
                  smallPlayButton:
                    type: string
                  spherical:
                    type: string
                  volumeControl:
                    type: string
                  copyLinkAndThumbnailEnabled:
                    type: string
                  doNotTrack:
                    type: string
                  email:
                    type: string
                  fitStrategy:
                    type: string
                  fullscreenOnRotateToLandscape:
                    type: string
                  muted:
                    type: string
                  playlistLinks:
                    type: string
                  playlistLoop:
                    type: string
                  playsinline:
                    type: string
                  playPauseNotifier:
                    type: string
                  playSuspendedOffScreen:
                    type: string
                  preload:
                    type: string
                  qualityMax:
                    type: string
                  qualityMin:
                    type: string
                  resumable:
                    type: string
                  seo:
                    type: string
                  silentAutoPlay:
                    type: string
                  time:
                    type: string
                  thumbnailAltText:
                    type: string
                  videoFoam:
                    type: string
                  volume:
                    type: string
                  wmode:
                    type: string
                  keyMoments:
                    description: String representation of whether the key moments feature is enabled.
                    type: string
                  plugin:
                    unevaluatedProperties: true
                    description: 'Container for player plugin configurations. Plugin keys are extensible and

                      not strictly validated; the documented sub-objects represent the most

                      common plugins.

                      '
                    type: object
                    properties:
                      passwordProtectedVideo:
                        unevaluatedProperties: false
                        type: object
                        properties:
                          'on':
                            type: string
                          src:
                            type: string
                          challenge:
                            type: string
                          async:
                            type: string
                      videoThumbnail:
                        unevaluatedProperties: false
                        type: object
                        properties:
                          clickToPlayButton:
                            type: string
                      socialbar-v1:
                        unevaluatedProperties: false
                        type: object
                        properties:
                          buttons:
                            type: string
                          showTweetCount:
                            type: string
                          tweetText:
                            type: string
                          height:
                            type: string
                      chapters:
                        unevaluatedProperties: false
                        type: object
                        properties:
                          visibleOnLoad:
                            type: string
                          chapterList:
                            type: array
                            items:
                              unevaluatedProperties: false
                              type: object
                              properties:
                                id:
                                  type: string
                                title:
                                  type: string
                                time:
                                  type: string
                                deleted:
                                  type: string
                          'on':
                            type: string
                      postRoll-v1:
                        unevaluatedProperties: false
                        description: Adds a Call To Action to your Video (response format)
                        type: object
                        properties:
                          rewatch:
                            description: String representation of whether the video can be rewatched.
                            type: string
                          text:
                            description: The URL of the text to be displayed.
                            type: string
                          link:
                            description: The URL of the link to be displayed.
                            type: string
                          time:
                            description: The time when the post-roll should be displayed as a string.
                            type: string
                          autoSize:
                            description: String representation of whether the post-roll will automatically adjust its size.
                            type: string
                          style:
                            unevaluatedProperties: false
                            type: object
                            properties:
                              backgroundColor:
                                description: The background color of the post-roll.
                                type: string
                          ctaType:
                            description: The type of call-to-action to be displayed.
                            type: string
                          'on':
                            description: String representation of whether the post-roll is enabled.
                            type: string
                          conversionOpportunityKey:
                            description: The key used for tracking conversion opportunities.
                            type: string
                      captions-v1:
                        unevaluatedProperties: false
                        description: Captions plugin configuration (response format)
                        type: object
                        properties:
                          'on':
                            description: String representation of whether the captions plugin is enabled ("true" or "false").
                            type: string
                          onByDefault:
                            description: String representation of whether captions are turned on by default ("true" or "false").
                            type: string
                  private:
                    unevaluatedProperties: false
                    type: object
                    properties:
                      password_protect_on:
                        type: string
                      show_comments:
                        type: string
                  encrypted:
                    unevaluatedProperties: false
                    type: object
                    properties:
                      password_protect_password:
                        type: string
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Folder with ID 'fakeid' not found.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Internal server error
      tags:
      - Customizations
      security:
      - BearerAuth: []
      operationId: putMediasByMediaIdCustomizations
      x-operation-id-source: derived
    delete:
      summary: Delete Customizations
      x-speakeasy-group: customizations
      x-speakeasy-name-override: delete
      description: 'Deletes all explicit customizations for a video, making it act as if it has never been customized.


        ## Requires api token with one of the following permissions

        ```

        Read, update & delete anything

        ```'
      x-wistia-mcp-tool-name: delete-customizations
      x-wistia-mcp-description: 'Deletes all explicit customizations for a video, resetting it to default

        player behavior. Use this to clear all appearance, playback, engagement,

        and other settings at once.

        '
      x-wistia-mcp-annotations:
        read_only_hint: false
        read_only_hint_justification: This tool deletes the media's customizations.
        open_world_hint: false
        open_world_hint_justification: This tool only operates on records inside the account and does not reach external services.
        destructive_hint: true
        destructive_hint_justification: This permanently removes all customizations from the video; they cannot be recovered.
        idempotent_hint: true
        idempotent_hint_justification: Deleting a resource that is already deleted has no additional effect, so the request can be safely repeated.
      parameters:
      - name: mediaId
        in: path
        description: The hashed ID of the media whose customizations are to be deleted.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Video customization deletion successful
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Folder with ID 'fakeid' not found.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Internal server error
      tags:
      - Customizations
      security:
      - BearerAuth: []
      operationId: deleteMediasByMediaIdCustomizations
      x-operation-id-source: derived
    servers:
    - url: https://api.wistia.com/modern
  /medias/{mediaId}/customizations/appearance:
    get:
      summary: Show Appearance Customizations
      x-speakeasy-group: customizations
      x-speakeasy-name-override: getAppearance
      x-wistia-mcp-tool-name: show-appearance-customizations
      x-wistia-mcp-description: 'Show a video''s appearance customizations: player color, gradient, rounded

        corners, control contrast, and customer logo.

        '
      x-wistia-mcp-annotations:
        read_only_hint: true
        read_only_hint_justification: This tool only reads customizations and makes no changes.
        open_world_hint: false
        open_world_hint_justification: This tool only operates on records inside the account.
        destructive_hint: false
        destructive_hint_justification: This tool only reads data.
        idempotent_hint: true
        idempotent_hint_justification: Reading data does not change any state, so repeated calls have no additional effect.
      description: 'Fetches the explicitly-set appearance customizations (player color, gradient,

        rounded corners, control contrast, and customer logo) for the video.


        ## Requires api token with one of the following permissions

        ```

        Read all folder and media data

        ```'
      parameters:
      - name: mediaId
        in: path
        description: The hashed ID of the video.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                description: 'Explicitly-set appearance customizations for the video. Values are returned

                  as strings (e.g. "true", "12"); fields that have never been set are omitted.

                  '
                properties:
                  playerColor:
                    type: string
                  playerColorGradient:
                    unevaluatedProperties: false
                    type: object
                    properties:
                      'on':
                        type: string
                      colors:
                        type: array
                        items:
                          type: array
                  roundedPlayer:
                    type: string
                  opaqueControls:
                    type: string
                  contrastIcons:
                    type: string
                  branding:
                    type: string
                  showCustomerLogo:
                    type: string
                  customerLogoImageUrl:
                    type: string
                  customerLogoTargetUrl:
                    type: string
                  customerLogoPlacement:
                    type: string
                  customerLogoSizePercent:
                    type: string
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Folder with ID 'fakeid' not found.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Internal server error
      tags:
      - Customizations
      security:
      - BearerAuth: []
      operationId: getMediasByMediaIdCustomizationsAppearance
      x-operation-id-source: derived
    put:
      summary: Update Appearance Customizations
      x-speakeasy-group: customizations
      x-speakeasy-name-override: updateAppearance
      x-wistia-mcp-tool-name: update-appearance-customizations
      x-wistia-mcp-description: 'Update a video''s player appearance: base player color, color gradient,

        rounded corners, opaque/high-contrast controls, Wistia branding visibility,

        and the customer logo (image, link, placement, size). This is a partial

        update — only the fields you send change; send a field as null to reset it.

        Use this when someone wants to restyle or rebrand the player''s look. For

        playback behavior and controls use update-playback-customizations.

        '
      x-wistia-mcp-annotations:
        read_only_hint: false
        read_only_hint_justification: This tool updates the media's appearance customizations.
        open_world_hint: false
        open_world_hint_justification: This tool only operates on records inside the account and does not reach external services.
        destructive_hint: false
        destructive_hint_justification: This applies a partial update to appearance settings; settings you do not send are left unchanged.
        idempotent_hint: true
        idempotent_hint_justification: Re-sending the same update with identical attributes leaves the resource in the same state, so repeating the request has no additional effect.
      description: 'Applies a partial update to a video''s appearance customizations. Only the

        fields supplied are changed; sending a field as null deletes it (reverting to

        the default).


        ## Requires api token with one of the following permissions

        ```

        Read, update & delete anything

        ```'
      parameters:
      - name: mediaId
        in: path
        description: The hashed ID of the video to be customized.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              unevaluatedProperties: false
              type: object
              description: 'Player visual identity & branding for a video. Every field is optional; only

                the fields you send are changed (partial update). Send a field as null to

                reset it to its default.

                '
              properties:
                playerColor:
                  description: Base color of the player as a hexadecimal RGB string (no leading '#').
                  type: string
                  examples:
                  - 2949E5
                playerColorGradient:
                  unevaluatedProperties: false
                  description: Optional gradient applied to the player color.
                  type: object
                  properties:
                    'on':
                      description: Whether the gradient is enabled.
                      type: boolean
                    colors:
                      description: Ordered list of [hex color, stop] pairs defining the gradient.
                      type: array
                      items:
                        type: array
                roundedPlayer:
                  description: Corner radius of the player in pixels. 0 disables rounding.
                  type: integer
                opaqueControls:
                  description: If true, player controls render on an opaque background.
                  type: boolean
                contrastIcons:
                  description: If true, control icons use a higher-contrast treatment.
                  type: boolean
                branding:
                  description: If false, Wistia branding is hidden on the player.
                  type: boolean
                showCustomerLogo:
                  description: If true, your customer logo is shown on the player.
                  type: boolean
                customerLogoImageUrl:
                  description: URL of the customer logo image to display on the player.
                  type: string
                customerLogoTargetUrl:
                  description: URL the customer logo links to when clicked.
                  type: string
                customerLogoPlacement:
                  description: Placement of the customer logo on the player (e.g. top-right).
                  type: string
                customerLogoSizePercent:
                  description: Size of the customer logo as a percentage of the player.
                  type: integer
      responses:
        '200':
          description: Appearance customization update successful
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                description: 'Explicitly-set appearance customizations for the video. Values are returned

                  as strings (e.g. "true", "12"); fields that have never been set are omitted.

                  '
                properties:
                  playerColor:
                    type: string
                  playerColorGradient:
                    unevaluatedProperties: false
                    type: object
                    properties:
                      'on':
                        type: string
                      colors:
                        type: array
                        items:
                          type: array
                  roundedPlayer:
                    type: string
                  opaqueControls:
                    type: string
                  contrastIcons:
                    type: string
                  branding:
                    type: string
                  showCustomerLogo:
                    type: string
                  customerLogoImageUrl:
                    type: string
                  customerLogoTargetUrl:
                    type: string
                  customerLogoPlacement:
                    type: string
                  customerLogoSizePercent:
                    type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    description: Error message detailing the reason for the bad request.
                    type: string
                    examples:
                    - Bad request
                  errors:
                    description: Array of error messages detailing the reasons for the bad request.
                    type: array
                    items:
                      type: string
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '403':
          description: Forbidden, token is valid but account does not have access to feature
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Webinars are not available on your current plan
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Folder with ID 'fakeid' not found.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Internal server error
      tags:
      - Customizations
      security:
      - BearerAuth: []
      operationId: putMediasByMediaIdCustomizationsAppearance
      x-operation-id-source: derived
    servers:
    - url: https://api.wistia.com/modern
  /medias/{mediaId}/customizations/playback:
    get:
      summary: Show Playback Customizations
      x-speakeasy-group: customizations
      x-speakeasy-name-override: getPlayback
      x-wistia-mcp-tool-name: show-playback-customizations
      x-wistia-mcp-description: 'Show a video''s playback customizations.

        '
      x-wistia-mcp-annotations:
        read_only_hint: true
        read_only_hint_justification: This tool only reads customizations and makes no changes.
        open_world_hint: false
        open_world_hint_justification: This tool only operates on records inside the account.
        destructive_hint: false
        destructive_hint_justification: This tool only reads data.
        idempotent_hint: true
        idempotent_hint_justification: Reading data does not change any state, so repeated calls have no additional effect.
      description: 'Fetches the explicitly-set playback customizations (autoplay, mute, controls

        visibility, player control buttons, end behavior, looping, quality bounds, and

        embed/runtime flags) for the video.


        ## Requires api token with one of the following permissions

        ```

        Read all folder and media data

        ```'
      parameters:
      - name: mediaId
        in: path
        description: The hashed ID of the video.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                description: 'Explicitly-set playback customizations for the video. Values are returned as

                  strings (e.g. "true", "12"); fields that have never been set are omitted.

                  '
                properties:
                  autoPlay:
                    type: string
                  silentAutoPlay:
                    type: string
                  muted:
                    type: string
                  volume:
                    type: string
                  controlsVisibleOnLoad:
                    type: string
                  playButton:
                    type: string
                  smallPlayButton:
                    type: string
                  playbar:
                    type: string
                  volumeControl:
                    type: string
                  fullscreenButton:
                    type: string
                  settingsControl:
                    type: string
                  playbackRateControl:
                    type: string
                  qualityControl:
                    type: string
                  qualityMin:
                    type: string
                  qualityMax:
                    type: string
                  videoQuality:
                    type: string
                  hls:
                    type: string
                  endVideoBehavior:
                    type: string
                  playsinline:
                    type: string
                  playlistLoop:
                    type: string
                  playlistLinks:
                    type: string
                  playPauseNotifier:
                    type: string
                  playSuspendedOffScreen:
                    type: string
                  resumable:
                    type: string
                  preload:
                    type: string
                  time:
                    type: string
                  keyMoments:
                    type: string
                  fullscreenOnRotateToLandscape:
                    type: string
                  fakeFullScreen:
                    type: string
                  videoFoam:
                    unevaluatedProperties: false
                    description: 'Either a string (e.g. "true") when set as a boolean, or an object with

                      string-valued min/max width/height when set as a responsive-size config.

                      '
                    anyOf:
                    - type: string
                    - type: object
                      unevaluatedProperties: false
                      properties:
                        minWidth:
                          type: string
                        maxWidth:
                          type: string
                        minHeight:
                          type: string
                        maxHeight:
                          type: string
                  wmode:
                    type: string
                  bpbTime:
                    type: string
                  spherical:
                    type: string
                  clickForSound:
                    type: string
                  seo:
                    type: string
                  doNotTrack:
                    type: string
                  copyLinkAndThumbnailEnabled:
                    type: string
                  email:
                    type: string
                  googleAnalytics:
                    type: string
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Folder with ID 'fakeid' not found.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Internal server error
      tags:
      - Customizations
      security:
      - BearerAuth: []
      operationId: getMediasByMediaIdCustomizationsPlayback
      x-operation-id-source: derived
    put:
      summary: Update Playback Customizations
      x-speakeasy-group: customizations
      x-speakeasy-name-override: updatePlayback
      x-wistia-mcp-tool-name: update-playback-customizations
      x-wistia-mcp-description: 'Controls how a video plays and which player controls/affordances appear:

        autoplay and silent autoplay, mute and volume, controls visibility, the

        play/volume/fullscreen/settings/quality buttons, end behavior, looping,

        quality bounds, and embed/runtime flags. This is a partial update — only the

        fields you send change; send a field as null to reset it. Use this when

        someone wants to change playback behavior or which controls are shown. For

        look & branding use update-appearance-customizations.

        '
      x-wistia-mcp-annotations:
        read_only_hint: false
        read_only_hint_justification: This tool updates the media's playback customizations.
        open_world_hint: false
        open_world_hint_justification: This tool only operates on records inside the account and does not reach external services.
        destructive_hint: false
        destructive_hint_justification: This applies a partial update to playback settings; settings you do not send are left unchanged.
        idempotent_hint: true
        idempotent_hint_justification: Re-sending the same update with identical attributes leaves the resource in the same state, so repeating the request has no additional effect.
      description: 'Applies a partial update to a video''s playback customizations. Only the

        fields supplied are changed; sending a field as null deletes it (reverting to

        the default).


        ## Requires api token with one of the following permissions

        ```

        Read, update & delete anything

        ```'
      parameters:
      - name: mediaId
        in: path
        description: The hashed ID of the video to be customized.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              unevaluatedProperties: false
              type: object
              description: 'Playback behavior and player controls for a video. Every field is optional;

                only the fields you send are changed (partial update). Send a field as null

                to reset it to its default.

                '
              properties:
                autoPlay:
                  description: If set to true, the video will play as soon as it’s ready. Note that autoplay might not work on some devices and browsers.
                  type: boolean
                silentAutoPlay:
                  description: Determines how videos handle autoplay in contexts where normal autoplay might be blocked. Options are "true", "allow", and "false".
                  type: string
                muted:
                  description: If set to true, the video will start in a muted state.
                  type: boolean
                volume:
                  description: Sets the volume of the video.
                  type: number
                controlsVisibleOnLoad:
                  description: If set to true, controls like the big play button, playbar, volume, etc. will be visible as soon as the video is embedded.
                  type: boolean
                playButton:
                  description: Indicates if the play button is visible.
                  type: boolean
                smallPlayButton:
                  description: If set to true, the small play button control is shown.
                  type: boolean
                playbar:
                  description: If set to true, the playbar will be available. If set to false, it will be hidden.
                  type: boolean
                volumeControl:
                  description: When set to true, a volume control is available over the video.
                  type: boolean
                fullscreenButton:
                  description: If set to true, the fullscreen button will be available as a video control.
                  type: boolean
                settingsControl:
                  description: If set to true, the settings control will be available.
                  type: boolean
                playbackRateControl:
                  description: If set to false, the playback speed controls in the settings menu will be hidden.
                  type: boolean
                qualityControl:
                  description: If set to false, the video quality selector in the settings menu will be hidden.
                  type: boolean
                qualityMin:
                  description: Specifies the minimum quality the video will play at.
                  type: integer
                qualityMax:
                  description: Specifies the maximum quality the video will play at.
                  type: integer
                videoQuality:
                  description: Sets the default video quality the video will play at.
                  type: string
                hls:
                  description: If set to true, HLS adaptive bitrate streaming is enabled.
                  type: boolean
                endVideoBehavior:
                  description: Determines what happens when the video ends. Options are "default" (stays on the last frame), "reset" (shows thumbnail and controls), and "loop" (plays again from the start).
                  type: string
                playsinline:
                  description: If set to false, videos will play within the native mobile player.
                  type: boolean
                playlistLoop:
                  description: If set to true and this video has a playlist, it will loop back to the first video after the last one has finished.
                  type: boolean
                playlistLinks:
                  description: Enables the use of specially crafted links on the page to associate with a video, turning them into a playlist.
                  type: boolean
                playPauseNotifier:
                  description: If set to false, animations for the Pause and Play symbols will be removed.
                  type: boolean
                playSuspendedOffScreen:
                  description: If set to false for a muted autoplay video, the video won’t pause when out of view.
                  type: boolean
                resumable:
                  description: Determines if the video should resume from where the viewer left off. Options are "true", "false", and "auto".
                  type: string
                preload:
                  description: Sets the video’s preload property. Possible values are metadata, auto, none, true, and false.
                  type: string
                time:
                  description: Sets the starting time of the video.
                  type: string
                keyMoments:
                  description: If set to false, the key moments feature will be disabled.
                  type: boolean
                fullscreenOnRotateToLandscape:
                  description: If set to false, the video will not automatically go to fullscreen mode on mobile when rotated to landscape.
                  type: boolean
                fakeFullScreen:
                  description: If set to true, the video will try to play in a pseudo-fullscreen mode on certain mobile devices.
                  type: boolean
                videoFoam:
                  unevaluatedProperties: false
                  description: When set to true, the video will adjust its size according to its parent element. It can also be an object specifying min/max width or height.
                  anyOf:
                  - type: boolean
                    examples:
                    - true
                  - type: object
                    unevaluatedProperties: false
                    properties:
                      minWidth:
                        description: Minimum width the video can be resized to.
                        type: integer
                      maxWidth:
                        description: Maximum width the video can be resized to.
                        type: integer
                      minHeight:
                        description: Minimum height the video can be resized to.
                        type: integer
                      maxHeight:
                        description: Maximum height the video can be resized to.
                        type: integer
                    description: "Examples:\n```json\n{\n  \"minWidth\": 400,\n  \"maxWidth\": 960\n}\n```\n```json\n{\n  \"minHeight\": 300,\n  \"maxHeight\": 450\n}\n```\n"
                wmode:
                  description: If set to transparent, the background behind the player will be transparent instead of black.
                  type: string
                bpbTime:
                  description: Controls when the big play button appears, expressed as a string.
                  type: string
                spherical:
                  description: If set to true, the video is rendered as a spherical (360-degree) video.
                  type: boolean
                clickForSound:
                  description: If set to true, viewers can click to enable sound on a muted video.
                  type: boolean
                seo:
                  description: If set to true, the video’s metadata will be injected into the page’s markup for SEO.
                  type: boolean
                doNotTrack:
                  description: If set to true, data for each viewing session will not be tracked.
                  type: boolean
                copyLinkAndThumbnailEnabled:
                  description: If set to false, the option to “Copy Link and Thumbnail” will be removed when right-clicking on the video.
                  type: boolean
                email:
                  description: Associate a specific email address with this video’s viewing sessions.
                  type: string
                googleAnalytics:
                  description: Google Analytics tracking configuration to associate with this video’s viewing sessions.
                  type: string
      responses:
        '200':
          description: Playback customization update successful
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                description: 'Explicitly-set playback customizations for the video. Values are returned as

                  strings (e.g. "true", "12"); fields that have never been set are omitted.

                  '
                properties:
                  autoPlay:
                    type: string
                  silentAutoPlay:
                    type: string
                  muted:
                    type: string
                  volume:
                    type: string
                  controlsVisibleOnLoad:
                    type: string
                  playButton:
                    type: string
                  smallPlayButton:
                    type: string
                  playbar:
                    type: string
                  volumeControl:
                    type: string
                  fullscreenButton:
                    type: string
                  settingsControl:
                    type: string
                  playbackRateControl:
                    type: string
                  qualityControl:
                    type: string
                  qualityMin:
                    type: string
                  qualityMax:
                    type: string
                  videoQuality:
                    type: string
                  hls:
                    type: string
                  endVideoBehavior:
                    type: string
                  playsinline:
                    type: string
                  playlistLoop:
                    type: string
                  playlistLinks:
                    type: string
                  playPauseNotifier:
                    type: string
                  playSuspendedOffScreen:
                    type: string
                  resumable:
                    type: string
                  preload:
                    type: string
                  time:
                    type: string
                  keyMoments:
                    type: string
                  fullscreenOnRotateToLandscape:
                    type: string
                  fakeFullScreen:
                    type: string
                  videoFoam:
                    unevaluatedProperties: false
                    description: 'Either a string (e.g. "true") when set as a boolean, or an object with

                      string-valued min/max width/height when set as a responsive-size config.

                      '
                    anyOf:
                    - type: string
                    - type: object
                      unevaluatedProperties: false
                      properties:
                        minWidth:
                          type: string
                        maxWidth:
                          type: string
                        minHeight:
                          type: string
                        maxHeight:
                          type: string
                  wmode:
                    type: string
                  bpbTime:
                    type: string
                  spherical:
                    type: string
                  clickForSound:
                    type: string
                  seo:
                    type: string
                  doNotTrack:
                    type: string
                  copyLinkAndThumbnailEnabled:
                    type: string
                  email:
                    type: string
                  googleAnalytics:
                    type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    description: Error message detailing the reason for the bad request.
                    type: string
                    examples:
                    - Bad request
                  errors:
                    description: Array of error messages detailing the reasons for the bad request.
                    type: array
                    items:
                      type: string
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '403':
          description: Forbidden, token is valid but account does not have access to feature
          content:
[...]
