openapi: 3.2.0
info:
  title: Wistia Captions API
  version: '1.0'
  description: 'Operations tagged Captions across 3 of this provider''s published API definitions: wistia-data-api-modern-edge-openapi.yml, wistia-data-api-v1-openapi.yml, wistia-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.wistia.com/modern
- url: https://api.wistia.com/v1
tags:
- name: Captions
  x-displayName: Captions
paths:
  /medias/{mediaHashedId}/captions:
    get:
      x-wistia-mcp-ignore: true
      summary: List Captions by Media
      x-speakeasy-group: captions
      x-speakeasy-name-override: list
      description: 'Lists captions belonging to a specific media.


        ## Requires api token with one of the following permissions

        ```

        Read all folder and media data

        ```'
      parameters:
      - name: mediaHashedId
        in: path
        description: The hashed ID of the media for which captions are to be retrieved.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Captions retrieval successful
          content:
            application/json:
              schema:
                type: array
                items:
                  unevaluatedProperties: false
                  type: object
                  properties:
                    english_name:
                      description: English name of the language.
                      type: string
                    native_name:
                      description: Native name of the language.
                      type: string
                    language:
                      description: A 3 character language code as specified by ISO-639–2.
                      type: string
                    text:
                      description: The text of the captions for the specified language in SRT format.
                      type:
                      - string
                      - 'null'
                    is_draft:
                      type: boolean
                    id:
                      description: The unique hashed identifier of the time-coded transcript.
                      type: string
                    version:
                      description: The active caption payload version, or null when no payload is active.
                      type:
                      - integer
                      - 'null'
                    segments:
                      description: Time-coded caption cues when `include=segments`; null otherwise.
                      type:
                      - array
                      - 'null'
                      items:
                        unevaluatedProperties: false
                        type: object
                        properties:
                          start_ms:
                            description: The segment's start offset from the beginning of the media, in milliseconds.
                            type: integer
                          end_ms:
                            description: The segment's end offset from the beginning of the media, in milliseconds.
                            type: integer
                          text:
                            description: The segment's transcript text.
                            type: string
                        required:
                        - start_ms
                        - end_ms
                        - text
                    cursor:
                      description: A cursor for stable pagination based on current `sort_by` order. You can pass this to `cursor[before]` or `cursor[after]` as a parameter to fetch the records before or after this record in the same sort order. This is only populated if records were fetched with `cursor[enabled]`, or `cursor[before]` or `cursor[after]`.
                      type:
                      - string
                      - 'null'
                  required:
                  - language
                  - is_draft
                  - id
                  - version
                  - segments
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '404':
          description: Video not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Internal server error
      tags:
      - Captions
      security:
      - BearerAuth: []
      operationId: getMediasByMediaHashedIdCaptions
      x-operation-id-source: derived
    post:
      summary: Create Captions
      x-wistia-mcp-annotations:
        read_only_hint: false
        read_only_hint_justification: This tool creates a new captions in the account, which modifies data.
        open_world_hint: false
        open_world_hint_justification: This tool only operates on records inside the account and does not reach external services.
        destructive_hint: false
        destructive_hint_justification: This tool only adds a new resource; existing data is not modified.
        idempotent_hint: false
        idempotent_hint_justification: Each call attempts to create an additional resource, so repeating the request may create duplicates.
      x-speakeasy-group: captions
      x-speakeasy-name-override: create
      description: 'Adds captions to a specified media by providing an SRT file or its contents directly.


        ## Requires api token with one of the following permissions

        ```

        Read, update & delete anything

        ```'
      x-wistia-mcp-tool-name: create-captions
      x-wistia-mcp-description: 'Add or upload captions (subtitles / closed captions / CC / SRT subtitle

        track) to a video for a specific language by supplying an SRT file or its

        contents. The language conforms to ISO-639-2 and is auto-detected if

        omitted. Use this when someone wants to add subtitles or a caption track to

        a media. Use update-captions to replace an existing track, purchase-captions

        to buy Wistia-generated English captions, get-captions to list tracks, or

        delete-captions to remove one.

        '
      parameters:
      - name: mediaHashedId
        in: path
        description: The hashed ID of the media for which captions are to be added.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              unevaluatedProperties: false
              type: object
              properties:
                caption_file:
                  description: Either an attached SRT file or a string parameter with the contents of an SRT file.
                  type: string
                language:
                  description: An optional parameter that denotes which language this file represents. Should conform to ISO-639–2. If left unspecified, the language code will be detected automatically.
                  type: string
              required:
              - caption_file
          multipart/form-data:
            schema:
              unevaluatedProperties: false
              type: object
              properties:
                caption_file:
                  description: Either an attached SRT file or a string parameter with the contents of an SRT file.
                  type: string
                  format: binary
                language:
                  description: An optional parameter that denotes which language this file represents. Should conform to ISO-639–2. If left unspecified, the language code will be detected automatically.
                  type: string
              required:
              - caption_file
      responses:
        '200':
          description: Captions added successfully
        '400':
          description: Captions already exist for this video
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '403':
          description: Forbidden, token is valid but account does not have access to feature
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Webinars are not available on your current plan
        '404':
          description: Video not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Internal server error
      tags:
      - Captions
      security:
      - BearerAuth: []
      operationId: postMediasByMediaHashedIdCaptions
      x-operation-id-source: derived
    servers:
    - url: https://api.wistia.com/modern
  /captions:
    get:
      summary: List Captions
      x-wistia-mcp-annotations:
        read_only_hint: true
        read_only_hint_justification: This tool only reads captions from the account and does not modify any data.
        open_world_hint: false
        open_world_hint_justification: This tool only queries records inside the account and does not reach external services.
        destructive_hint: false
        destructive_hint_justification: This tool is read-only and does not make any changes.
        idempotent_hint: true
        idempotent_hint_justification: Reading data does not change any state, so repeated calls have no additional effect.
      x-speakeasy-group: captions
      x-speakeasy-name-override: listAll
      description: 'Lists captions belonging to the account. This endpoint can also narrow down results

        to those belonging to a specific media.


        ## Requires api token with one of the following permissions

        ```

        Read all folder and media data

        ```'
      x-wistia-mcp-tool-name: get-captions
      x-wistia-mcp-description: 'List, get, or find the caption tracks (subtitles / closed captions / CC /

        SRT subtitle tracks) belonging to the account, optionally narrowed to a

        specific media by hashed ID, with each track returned as JSON including its

        language. Use this when someone wants to see which subtitle or caption

        languages exist on a media. Use show-captions-file to fetch one track''s text,

        create-captions to add one, or purchase-captions to buy Wistia-generated

        English captions.

        '
      parameters:
      - name: media_id
        in: query
        description: Find captions for a particular media by providing the media hashed ID
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: 'The page number to retrieve. This cannot be combined with `cursor`,

          pagination.

          '
        required: false
        schema:
          type: integer
      - name: per_page
        in: query
        description: The number of medias per page. Use this for both offset pagination and cursor pagination.
        required: false
        schema:
          type: integer
      - name: cursor
        in: query
        description: 'If `cursor[enabled]` is set to 1 then cursor pagination is enabled and the

          first set of records are fetched up to the `per_page`. Cursor

          pagination will also be turned on if `cursor[before]` or `cursor[after]`

          are set. Records returned will have a `cursor` property set which can be used to fetch more records in the same `sort_by` ordering.

          The cursor value of the last record can be used to fetch records after the current result set and

          the cursor of the first record can be used to fetch records before the result set.


          NOTE: a cursor value is only valid if the `sort_by` value hasn''t changed from the

          last fetch. For example, you cannot fetch using `sort_by` id and then pass that

          cursor value to a `sort_by` name.

          '
        required: false
        schema:
          unevaluatedProperties: false
          type: object
          properties:
            enabled:
              description: 'If `cursor[enabled]` is set to 1, the first result set will be fetched with cursor pagination enabled. This

                values is ignored if `cursor[before]` or `cursor[after]` are set.

                '
              type: integer
              enum:
              - 0
              - 1
            before:
              description: 'If `cursor[before]` is set then cursor pagination is enabled and all records

                before the cursor up to the `per_page` are returned. This feature is useful for

                fetching "new records", for example, in a "pull to refersh" feature when showing records in a descending

                order.

                '
              type: string
            after:
              description: 'If `cursor[after]` is set then cursor pagination is enabled and all records

                after the cursor up to the `per_page` are returned.

                '
              type: string
        style: deepObject
      - name: sort_by
        in: query
        description: 'Ordering. When using cursor pagination (see cursor param),

          only `id` is supported.

          '
        required: false
        schema:
          type: string
          enum:
          - id
          - created
          - updated
          - language
          default: id
      - name: sort_direction
        in: query
        description: Ordering Sort Direction (0 = desc, 1 = asc; default is 1)
        required: false
        schema:
          type: integer
          enum:
          - 0
          - 1
          default: 1
      responses:
        '200':
          description: Captions retrieval successful
          content:
            application/json:
              schema:
                type: array
                items:
                  unevaluatedProperties: false
                  type: object
                  properties:
                    english_name:
                      description: English name of the language.
                      type: string
                    native_name:
                      description: Native name of the language.
                      type: string
                    language:
                      description: A 3 character language code as specified by ISO-639–2.
                      type: string
                    text:
                      description: The text of the captions for the specified language in SRT format.
                      type:
                      - string
                      - 'null'
                    is_draft:
                      type: boolean
                    id:
                      description: The unique hashed identifier of the time-coded transcript.
                      type: string
                    version:
                      description: The active caption payload version, or null when no payload is active.
                      type:
                      - integer
                      - 'null'
                    segments:
                      description: Time-coded caption cues when `include=segments`; null otherwise.
                      type:
                      - array
                      - 'null'
                      items:
                        unevaluatedProperties: false
                        type: object
                        properties:
                          start_ms:
                            description: The segment's start offset from the beginning of the media, in milliseconds.
                            type: integer
                          end_ms:
                            description: The segment's end offset from the beginning of the media, in milliseconds.
                            type: integer
                          text:
                            description: The segment's transcript text.
                            type: string
                        required:
                        - start_ms
                        - end_ms
                        - text
                    cursor:
                      description: A cursor for stable pagination based on current `sort_by` order. You can pass this to `cursor[before]` or `cursor[after]` as a parameter to fetch the records before or after this record in the same sort order. This is only populated if records were fetched with `cursor[enabled]`, or `cursor[before]` or `cursor[after]`.
                      type:
                      - string
                      - 'null'
                  required:
                  - language
                  - is_draft
                  - id
                  - version
                  - segments
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    description: Error message detailing the reason for the bad request.
                    type: string
                    examples:
                    - Bad request
                  errors:
                    description: Array of error messages detailing the reasons for the bad request.
                    type: array
                    items:
                      type: string
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '404':
          description: Video not found (when media_id parameter is provided)
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Internal server error
      tags:
      - Captions
      security:
      - BearerAuth: []
      operationId: getCaptions
      x-operation-id-source: derived
    servers:
    - url: https://api.wistia.com/modern
  /medias/{mediaHashedId}/captions/purchase:
    post:
      summary: Purchase Captions
      x-wistia-mcp-annotations:
        read_only_hint: false
        read_only_hint_justification: This tool purchases captions, which incurs a charge and modifies the account.
        open_world_hint: true
        open_world_hint_justification: This tool submits the order to an external captioning vendor.
        destructive_hint: true
        destructive_hint_justification: The purchase incurs a charge and cannot be undone.
        idempotent_hint: false
        idempotent_hint_justification: Each call places another paid captions order.
      x-wistia-is-purchase: true
      x-speakeasy-group: captions
      x-speakeasy-name-override: purchase
      description: 'This method is for purchasing English captions for a media. The request will charge the credit card on the account if successful. A saved credit card is required to use this endpoint.


        ## Requires api token with one of the following permissions

        ```

        Read, update & delete anything

        ```'
      x-wistia-mcp-tool-name: purchase-captions
      x-wistia-mcp-description: 'Purchase, buy, or order Wistia-generated English captions (subtitles /

        closed captions / CC) for a video. This incurs a charge: it bills the saved

        credit card on the account (required), with computer-generated captions free

        or human-generated captions priced per minute, processed asynchronously. Use

        this when someone wants Wistia to generate or order English subtitles rather

        than uploading their own. Then call translate-media to get them in another

        language, or use create-captions to upload your own SRT track.

        '
      parameters:
      - name: mediaHashedId
        in: path
        description: Unique identifier for the video.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              unevaluatedProperties: false
              type: object
              properties:
                automated:
                  description: Order computer-generated captions (free) or human-generated captions ($2.50/minute).
                  type: boolean
                  default: false
                rush:
                  description: Enable rush order for one business day turnaround ($4.00/minute) or standard four business day turnaround for human-generated captions ($2.50/minute). Rush can only be used for human-generated captions.
                  type: boolean
                  default: true
                automatically_enable:
                  description: Automatically enable captions for the video once the order is ready or hold the captions for review before manually enabling.
                  type: boolean
                  default: true
              required:
              - automated
              - rush
              - automatically_enable
      responses:
        '200':
          description: Successful operation. Captions purchased.
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  message:
                    description: Success message indicating the captions have been purchased
                    type: string
                    examples:
                    - Captions purchased for this video. Your account will be charged when the captions are ready.
                  id:
                    description: The unique hashed identifier of the time-coded transcript that was created
                    type: string
                    examples:
                    - abc123def456
                required:
                - message
                - id
        '400':
          description: English captions already exist for this video.
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '404':
          description: Video not found.
        '422':
          description: Unprocessable entity. Account not eligible, captions already purchased, or other validation error.
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  message:
                    description: Error message explaining why the purchase cannot be completed
                    type: string
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Internal server error
      tags:
      - Captions
      security:
      - BearerAuth: []
      operationId: postMediasByMediaHashedIdCaptionsPurchase
      x-operation-id-source: derived
    servers:
    - url: https://api.wistia.com/modern
  /medias/{mediaHashedId}/captions/{languageCode}:
    get:
      summary: Show Captions
      x-wistia-mcp-annotations:
        read_only_hint: true
        read_only_hint_justification: This tool only reads captions file from the account and does not modify any data.
        open_world_hint: false
        open_world_hint_justification: This tool only queries records inside the account and does not reach external services.
        destructive_hint: false
        destructive_hint_justification: This tool is read-only and does not make any changes.
        idempotent_hint: true
        idempotent_hint_justification: Reading data does not change any state, so repeated calls have no additional effect.
      x-speakeasy-group: captions
      x-speakeasy-name-override: get
      description: 'Returns a video''s captions in the specified language.

        Supports multiple formats: JSON (default), SRT, VTT, and TXT.

        Use file extensions (.srt, .vtt, .txt) or Accept headers to specify format.


        ## Requires api token with one of the following permissions

        ```

        Read all folder and media data

        ```'
      x-wistia-mcp-tool-name: show-captions-file
      x-wistia-mcp-description: 'Show, get, or fetch a video''s caption track (subtitles / closed captions /

        CC) text in a specific ISO-639-2 language as JSON. Use this when someone

        wants to read or retrieve the actual subtitle/caption contents for one

        language. Use get-captions to list which caption tracks exist, or

        create-captions to add a new SRT track. Pass `include=segments` to include

        time-coded cues. Retain the returned `version` for a later targeted edit

        with edit-captions-text.

        '
      parameters:
      - name: mediaHashedId
        in: path
        description: The hashed ID of the media from which captions are to be retrieved.
        required: true
        schema:
          type: string
      - name: languageCode
        in: path
        description: The 3-character ISO 639-2 language code of the captions to be retrieved (e.g., `eng`, `fra`, `spa`). Some languages use extended IETF subtags (e.g., `zh-Hant`).
        required: true
        schema:
          type: string
      - name: include
        in: query
        description: Set to `segments` to include time-coded cues in JSON responses.
        required: false
        schema:
          type: string
          enum:
          - segments
      responses:
        '200':
          description: Successful response containing captions in the requested format
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  english_name:
                    description: English name of the language.
                    type: string
                  native_name:
                    description: Native name of the language.
                    type: string
                  language:
                    description: A 3 character language code as specified by ISO-639–2.
                    type: string
                  text:
                    description: The text of the captions for the specified language in SRT format.
                    type:
                    - string
                    - 'null'
                  is_draft:
                    type: boolean
                  id:
                    description: The unique hashed identifier of the time-coded transcript.
                    type: string
                  version:
                    description: The active caption payload version, or null when no payload is active.
                    type:
                    - integer
                    - 'null'
                  segments:
                    description: Time-coded caption cues when `include=segments`; null otherwise.
                    type:
                    - array
                    - 'null'
                    items:
                      unevaluatedProperties: false
                      type: object
                      properties:
                        start_ms:
                          description: The segment's start offset from the beginning of the media, in milliseconds.
                          type: integer
                        end_ms:
                          description: The segment's end offset from the beginning of the media, in milliseconds.
                          type: integer
                        text:
                          description: The segment's transcript text.
                          type: string
                      required:
                      - start_ms
                      - end_ms
                      - text
                  cursor:
                    description: A cursor for stable pagination based on current `sort_by` order. You can pass this to `cursor[before]` or `cursor[after]` as a parameter to fetch the records before or after this record in the same sort order. This is only populated if records were fetched with `cursor[enabled]`, or `cursor[before]` or `cursor[after]`.
                    type:
                    - string
                    - 'null'
                required:
                - language
                - is_draft
                - id
                - version
                - segments
            text/plain:
              schema:
                description: Caption content in SRT or TXT format
                type: string
            text/vtt:
              schema:
                description: Caption content in VTT format
                type: string
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '404':
          description: Captions not found or video not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Internal server error
      tags:
      - Captions
      security:
      - BearerAuth: []
      operationId: getMediasByMediaHashedIdCaptionsByLanguageCode
      x-operation-id-source: derived
    put:
      summary: Update Captions
      x-wistia-mcp-annotations:
        read_only_hint: false
        read_only_hint_justification: This tool modifies an existing captions in the account.
        open_world_hint: false
        open_world_hint_justification: This tool only operates on records inside the account and does not reach external services.
        destructive_hint: true
        destructive_hint_justification: Updating replaces existing values and the previous data cannot be recovered.
        idempotent_hint: true
        idempotent_hint_justification: Re-sending the same update with identical attributes leaves the resource in the same state, so repeating the request has no additional effect.
      x-speakeasy-group: captions
      x-speakeasy-name-override: update
      description: 'This method is for replacing the captions on a video for the specified language.


        ## Requires api token with one of the following permissions

        ```

        Read, update & delete anything

        ```'
      x-wistia-mcp-tool-name: update-captions
      x-wistia-mcp-description: 'Update, replace, or edit the captions (subtitles / closed captions / CC /

        SRT subtitle track) on a video for a specified ISO-639-2 language by

        supplying a new SRT file or its contents. Use this when someone wants to

        overwrite or correct an existing subtitle or caption track on a media. Use

        create-captions to add a new track, delete-captions to remove one, or

        get-captions to list tracks.

        '
      parameters:
      - name: mediaHashedId
        in: path
        description: Unique identifier for the video.
        required: true
        schema:
          type: string
      - name: languageCode
        in: path
        description: Language code conforming to ISO-639-2 for which the captions should be updated.
        required: true
        schema:
          type: string
          pattern: ^[a-z]{3}$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              unevaluatedProperties: false
              type: object
              properties:
                caption_file:
                  description: Either an attached SRT file or a string parameter with the contents of an SRT file.
                  type: string
              required:
              - caption_file
          multipart/form-data:
            schema:
              unevaluatedProperties: false
              type: object
              properties:
                caption_file:
                  description: Either an attached SRT file or a string parameter with the contents of an SRT file.
                  type: string
                  format: binary
              required:
              - caption_file
      responses:
        '200':
          description: Successful operation. Captions replaced.
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '404':
          description: Captions or video not found.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Internal server error
      tags:
      - Captions
      security:
      - BearerAuth: []
      operationId: putMediasByMediaHashedIdCaptionsByLanguageCode
      x-operation-id-source: derived
    delete:
      summary: Delete Captions
      x-wistia-mcp-annotations:
        read_only_hint: false
        read_only_hint_justification: This tool deletes a captions from the account, which modifies data.
        open_world_hint: false
        open_world_hint_justification: This tool only operates on records inside the account and does not reach external services.
        destructive_hint: true
        destructive_hint_justification: This tool permanently deletes the captions and cannot be undone.
        idempotent_hint: true
        idempotent_hint_justification: Deleting a resource that is already deleted has no additional effect, so the request can be safely repeated.
      x-speakeasy-group: captions
      x-speakeasy-name-override: delete
      description: 'Removes the captions file from a media for the specified language.


        ## Requires api token with one of the following permissions

        ```

        Read, update & delete anything

        ```'
      x-wistia-mcp-tool-name: delete-captions
      x-wistia-mcp-description: 'Delete or remove the captions (subtitles / closed captions / CC / SRT

        subtitle track) from a video for a specified ISO-639-2 language code. Use

        this when someone wants to delete a subtitle or caption track from a media.

        Use create-captions to add a track, update-captions to replace one, or

        get-captions to list existing tracks.

        '
      parameters:
      - name: mediaHashedId
        in: path
        description: Unique identifier for the video.
        required: true
        schema:
          type: string
      - name: languageCode
        in: path
        description: Language code conforming to ISO-639-2 for which the captions should be removed.
        required: true
        schema:
          type: string
          pattern: ^[a-z]{3}$
      responses:
        '200':
          description: Successful operation. Captions removed.
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '404':
          description: Captions or video not found.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Internal server error
      tags:
      - Captions
      security:
      - BearerAuth: []
      operationId: deleteMediasByMediaHashedIdCaptionsByLanguageCode
      x-operation-id-source: derived
    servers:
    - url: https://api.wistia.com/modern
  /medias/{mediaHashedId}/captions/{languageCode}/edits:
    post:
      summary: Edit Captions Text
      x-wistia-mcp-annotations:
        read_only_hint: false
        read_only_hint_justification: This tool rewrites transcript text and saves a new caption version, so it modifies data.
        open_world_hint: false
        open_world_hint_justification: This tool only operates on records inside the account and does not reach external services.
        destructive_hint: true
        destructive_hint_justification: Edits replace or delete existing transcript text; the public API has no undo, so previous wording cannot be recovered through it.
        idempotent_hint: false
        idempotent_hint_justification: Each call is checked against a specific caption version and advances it, so re-sending the same request against the new version no longer matches and is rejected.
      x-speakeasy-group: captions
      x-speakeasy-name-override: edit
      description: 'Applies targeted find-and-replace corrections to a media''s transcript for

        the specified language, preserving the timings of unchanged words. The whole

        batch is applied atomically against a specific caption version, or nothing is.


        ## Requires api token with one of the following permissions

        ```

        Read, update & delete anything

        ```'
      x-wistia-mcp-tool-name: edit-captions-text
      x-wistia-mcp-description: 'Apply targeted corrections to one caption track while preserving word

        timings. Use this instead of update-captions for small fixes;

        update-captions replaces the entire track.


        First call show-captions-file with `include=segments`, then pass its

        `version` as `expected_version`. Use `start_ms`/`end_ms` when the target text

        appears more than once. On 409, re-read and retry for `stale_version`; for

        `diverged`, wait and retry once, then ask for help. On 422, retry with a

        returned candidate''s time range or suggested exact text. No changes are

        written unless every edit resolves.


        Editing a Remix output changes its caption track, not text rendered into

        the video. Follow the returned `warnings` for the appropriate next step.

        '
      parameters:
      - name: mediaHashedId
        in: path
        description: The hashed ID of the media whose transcript should be edited.
        required: true
        schema:
          type: string
      - name: languageCode
        in: path
        description: The 3-character ISO 639-2 language code of the caption track to edit (e.g., `eng`, `fra`, `spa`). Some languages use extended IETF subtags (e.g., `zh-Hant`).
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              unevaluatedProperties: false
              properties:
                edits:
                  description: The corrections to apply, all-or-nothing, in one new version.
                  type: array
                  minItems: 1
                  maxItems: 20
                  items:
                    type: object
                    unevaluatedProperties: false
                    properties:
                      target_text:
                        description: The exact transcript text to replace. Matched exactly after normalization (case, punctuation, and whitespace are ignored). Fuzzy matches are never applied — they are only returned as suggestions.
                        type: string
                      replacement_text:
                        description: The text to substitute for the target. Use an empty string to delete the target.
                        type: string
                      start_ms:
                        description: Optional lower bound (inclusive, in the requested media's coordinate space) restricting the match to a time window. Must be sent with end_ms.
                        type: integer
                      end_ms:
                        description: Optional upper bound (inclusive) restricting the match to a time window. Must be sent with start_ms.
                        type: integer
                    required:
                    - target_text
                    - replacement_text
                expected_version:
                  description: The active caption version you last read (from the `version` field of `GET .../captions/{language}`). The edit applies only if that is still the active version; otherwise it returns 409 so you re-read and retry.
                  type: integer
              required:
              - edits
              - expected_version
      responses:
        '200':
          description: Corrections applied; a new caption version was written.
          content:
            application/json:
              schema:
                description: The batch was applied and a new caption version was written.
                type: object
                unevaluatedProperties: false
                properties:
                  applied:
                    description: Always true on a 200; the whole batch was applied.
                    type: boolean
                  media_id:
                    description: The hashed ID of the media whose transcript was edited. Differs from the path media when the transcript is projected from a composite recording.
                    type: string
                  language:
                    description: The ISO-639-2 language tag of the edited caption track.
                    type: string
                  version:
                    description: The caption version before and after the edit.
                    type: object
                    unevaluatedProperties: false
                    properties:
                      from:
                        type: integer
                      to:
                        type: integer
                    required:
                    - from
                    - to
                  edits:
                    description: One entry per applied edit, echoing what matched and where it landed.
                    type: array
                    items:
                      type: object
                      unevaluatedProperties: false
                      properties:
                        target_text:
                          description: The target text that was sent.
                          type: string
                        replacement_text:
                          description: The replacement text that was sent (empty string for a deletion).
                          type: string
                        matched_text:
                          description: The transcript text that actually matched (may differ from target_text only in normalization).
                          type: string
                        context:
                          description: Surrounding transcript text for the match, for disambiguation.
                          type: string
                        original:
                          description: The matched span's time range, in the requested media's coordinate space.
                          type: object
                          unevaluatedProperties: false
                          properties:
                            start_ms:
                              type: integer
                            end_ms:
                              type: integer
                          required:
                          - start_ms
                          - end_ms
                        replacement:
                          description: The replacement span's new time range, or null when the target was deleted.
                          type:
                          - object
                          - 'null'
                          unevaluatedProperties: false
                          properties:
                            start_ms:
                              type: integer
                            end_ms:
                              type: integer
                          required:
                          - start_ms
                          - end_ms
                      required:
                      - target_text
                      - replacement_text
                      - matched_text
                      - context
                      - original
                      - replacement
                  warnings:
                    description: Non-fatal advisories, usually empty. For a Remix output, these may identify source media whose transcripts can be edited.
                    type: array
                    items:
                      type: string
                required:
                - applied
                - media_id
                - language
                - version
                - edits
                - warnings
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    description: Error message detailing the reason for the bad request.
                    type: string
                    examples:
                    - Bad request
                  errors:
                    description: Array of error messages detailing the reasons for the bad request.
                    type: array
                    items:
                      type: string
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '403':
          description: Forbidden, token is valid but account does not have access to feature
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Webinars are not available on your current plan
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Folder with ID 'fakeid' not found.
        '409':
          description: 'The version guard failed. For `stale_version`, re-read and retry with the

            active version. For `diverged`, newer inactive versions exist, so

            re-reading will not help; wait and retry, then escalate if it persists.

            '
          content:
            application/json:
              schema:
                type: object
                unevaluatedProperties: false
                properties:
                  reason:
                    type: string
                    enum:
                    - stale_version
                    - diverged
                  errors:
                    type: array
                    items:
                      type: string
                required:
                - reason
                - errors
        '422':
          description: One or more edits could not be resolved; nothing was written.
          content:
            application/json:
              schema:
                description: One or more edits could not be resolved, so nothing was written. Fix the listed failures and retry the whole batch.
                type: object
                unevaluatedProperties: false
                properties:
                  errors:
                    description: Human-readable summary of what went wrong.
                    type: array
                    items:
                      type: string
                  edit_failures:
                    description: One entry per edit that could not be resolved.
                    type: array
                    items:
                      type: object
                      unevaluatedProperties: false
                      properties:
                        target_text:
                          description: The target text of the edit that failed.
                          type: string
                        reason:
                          description: 'Why the edit could not be applied. `ambiguous`: matched more than once (disambiguate with a candidate''s time range). `not_found`: no exact match (adopt a suggestion''s exact text). `overlapping`: two edits target overlapping spans. `spans_paragraph`: the target crosses a paragraph or non-editable boundary.'
                          type: string
                          enum:
                          - ambiguous
                          - not_found
                          - overlapping
                          - spans_paragraph
                        candidates:
                          description: For `ambiguous`, the exact occurrences to choose from (up to 10). For `not_found`, fuzzy suggestions to adopt verbatim (up to 3). Empty for other reasons. Times are in the requested media's coordinate space.
                          type: array
                          items:
                            type: object
                            unevaluatedProperties: false
                            properties:
                              text:
                                description: The candidate's transcript text.
                                type: string
                              context:
                                description: Surrounding transcript text, for disambiguation.
                                type: string
                              start_ms:
                                description: The candidate span's start in the requested media's coordinate space.
                                type: integer
                              end_ms:
                                description: The candidate span's end in the requested media's coordinate space.
                                type: integer
                            required:
                            - text
                            - context
                            - start_ms
                            - end_ms
                        hint:
                          description: A short instruction for how to recover from this failure.
                          type: string
                      required:
                      - target_text
                      - reason
                      - candidates
                      - hint
                required:
                - errors
                - edit_failures
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Internal server error
      tags:
      - Captions
      security:
      - BearerAuth: []
      operationId: postMediasByMediaHashedIdCaptionsByLanguageCodeEdits
      x-operation-id-source: derived
    servers:
    - url: https://api.wistia.com/modern
  /medias/{mediaHashedId}/captions/order:
    post:
      summary: Order Captions
      description: 'This method is for ordering English captions for a video. By default, this endpoint orders computer-generated (automated) captions. Set `automated` to `false` to order human-generated captions instead.


        ## Requires api token with one of the following permissions

        ```

        Read, update & delete anything

        ```'
      parameters:
      - name: mediaHashedId
        in: path
        description: Unique identifier for the video.
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                automated:
                  description: Order computer-generated captions or paid human-generated captions. Defaults to true (computer-generated).
                  type: boolean
                  default: true
                rush:
                  description: Enable rush order for one business day turnaround or standard four business day turnaround for human-generated captions. Rush can only be used for human-generated captions.
                  type: boolean
                  default: false
                automatically_enable:
                  description: Automatically enable captions for the video once the order is ready or hold the captions for review before manually enabling.
                  type: boolean
                  default: true
      responses:
        '200':
          description: Successful operation. Captions ordered.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: Success message indicating the captions have been purchased
                    type: string
                    examples:
                    - Captions purchased for this video. Your account will be charged when the captions are ready.
                  id:
                    description: The unique hashed identifier of the time-coded transcript that was created
                    type: string
                    examples:
                    - abc123def456
                required:
                - message
                - id
        '400':
          description: English captions already exist for this video.
        '401':
          $ref: '#/components/responses/401'
        '404':
          description: Video not found.
        '422':
          description: Unprocessable entity. Account not eligible, captions already ordered, or other validation error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: Error message explaining why the order cannot be completed
                    type: string
        '500':
          $ref: '#/components/responses/500'
      tags:
      - Captions
      security:
      - BearerAuth: []
      operationId: postMediasByMediaHashedIdCaptionsOrder
      x-operation-id-source: derived
    servers:
    - url: https://api.wistia.com/v1
  /medias/{hashedId}/captions:
    parameters:
    - in: path
      name: hashedId
      required: true
      schema:
        type: string
    get:
      tags:
      - Captions
      summary: List captions
      operationId: listCaptions
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
      - basicAuth: []
    post:
      tags:
      - Captions
      summary: Create captions
      operationId: createCaptions
      responses:
        '201':
          description: Created
      security:
      - bearerAuth: []
      - basicAuth: []
    servers:
    - url: https://api.wistia.com/v1
      description: Wistia Data API production server
  /medias/{hashedId}/captions/{languageCode}:
    parameters:
    - in: path
      name: hashedId
      required: true
      schema:
        type: string
    - in: path
      name: languageCode
      required: true
      schema:
        type: string
    get:
      tags:
      - Captions
      summary: Show captions
      operationId: getCaption
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
      - basicAuth: []
    put:
      tags:
      - Captions
      summary: Update captions
      operationId: updateCaption
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
      - basicAuth: []
    delete:
      tags:
      - Captions
      summary: Delete captions
      operationId: deleteCaption
      responses:
        '204':
          description: No Content
      security:
      - bearerAuth: []
      - basicAuth: []
    servers:
    - url: https://api.wistia.com/v1
      description: Wistia Data API production server
  /medias/{hashedId}/captions/purchase:
    parameters:
    - in: path
      name: hashedId
      required: true
      schema:
        type: string
    post:
      tags:
      - Captions
      summary: Purchase captions
      operationId: purchaseCaptions
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
      - basicAuth: []
    servers:
    - url: https://api.wistia.com/v1
      description: Wistia Data API production server
components:
  schemas:
    Caption:
      type: object
      properties:
        english_name:
          description: English name of the language.
          type: string
        native_name:
          description: Native name of the language.
          type: string
        language:
          description: A 3 character language code as specified by ISO-639–2.
          type: string
        text:
          description: The text of the captions for the specified language in SRT format.
          type:
          - string
          - 'null'
        is_draft:
          type: boolean
        id:
          description: The unique hashed identifier of the time-coded transcript.
          type: string
      required:
      - language
      - is_draft
      - id
  responses:
    '401':
      description: Unauthorized, invalid or missing token
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                examples:
                - Invalid credentials.
    '500':
      description: Internal server error
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                examples:
                - Internal server error
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
    bearerAuth:
      type: http
      scheme: bearer
      description: API access token sent as a Bearer token in the Authorization header
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using the API token as the password
x-refined-from:
- wistia-data-api-modern-edge-openapi.yml
- wistia-data-api-v1-openapi.yml
- wistia-openapi.yml
x-tagGroups:
- name: Data API
  tags:
  - Media
  - Customizations
  - Captions
  - Localizations
  - Trims
  - Extended Audio Descriptions
  - Brands
  - Tags
  - Taggings
  - Folders
  - Folder Sharings
  - Subfolders
  - Channels
  - Channel Collaborators
  - Channel Episodes
  - Webinars
  - Webinar Collaborators
  - Webinar Registrations
  - Account
  - Search
  - Resource URLs
  - Expiring Access Tokens
  - Background Job Status
  - Allowed Domains
  - Remix
  - Push Devices
  - Deleted Media
  - Review Bundles
  - Share Links
  - Bulk Actions
  - Custom Metadata Field Definitions
  - Custom Metadata Field Values
- name: Stats API
  tags:
  - Stats:Account
  - Stats:Events
  - Stats:Media
  - Stats:Projects
  - Stats:Visitors
- name: Analytics API
  tags:
  - Analytics:Account
  - Analytics:Media
  - Analytics:Webinar
