openapi: 3.2.0
info:
  title: Wistia Stats:Visitors API
  version: '1.0'
  description: 'Operations tagged Stats:Visitors across 2 of this provider''s published API definitions: wistia-data-api-modern-edge-openapi.yml, wistia-data-api-v1-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.wistia.com/modern
- url: https://api.wistia.com/v1
tags:
- name: Stats:Visitors
  x-wistia-mcp-toolsets: stats
  x-displayName: Stats:Visitors
paths:
  /stats/visitors:
    get:
      x-wistia-openai-ignore: true
      x-wistia-anthropic-ignore: true
      summary: List Visitors
      x-wistia-mcp-annotations:
        read_only_hint: true
        read_only_hint_justification: This tool only reads visitors from the account and does not modify any data.
        open_world_hint: false
        open_world_hint_justification: This tool only queries records inside the account and does not reach external services.
        destructive_hint: false
        destructive_hint_justification: This tool is read-only and does not make any changes.
        idempotent_hint: true
        idempotent_hint_justification: Reading data does not change any state, so repeated calls have no additional effect.
      x-speakeasy-group: statsVisitors
      x-speakeasy-name-override: list
      description: 'This endpoint provides a list of visitors that have watched videos in your account.


        ## Requires api token with one of the following permissions

        ```

        Read detailed stats

        ```'
      parameters:
      - name: page
        in: query
        description: The page of results based on the per_page parameter.
        schema:
          type: integer
      - name: per_page
        in: query
        description: The maximum number of results to return, capped at 100.
        schema:
          type: integer
      - name: filter
        in: query
        description: Filtering parameter to narrow down the list of visitors.
        schema:
          type: string
          enum:
          - has_name
          - has_email
          - identified_by_email_gate
      - name: search
        in: query
        description: Search for visitors based on name or email address.
        schema:
          type: string
      responses:
        '200':
          description: Successful response with a list of visitors.
          content:
            application/json:
              schema:
                type: array
                items:
                  unevaluatedProperties: false
                  type: object
                  properties:
                    visitor_key:
                      description: A unique identifier for the visitor.
                      type: string
                    created_at:
                      description: When the visitor was created.
                      type: string
                      format: date-time
                    last_active_at:
                      description: The last time the visitor played a video.
                      type: string
                      format: date-time
                    last_event_key:
                      description: The event key for the last video play action.
                      type: string
                    load_count:
                      description: The total number of videos loaded by the visitor.
                      type: integer
                    play_count:
                      description: The total number of videos played by the visitor.
                      type: integer
                    visitor_identity:
                      unevaluatedProperties: false
                      type: object
                      properties:
                        name:
                          type: string
                        email:
                          type:
                          - string
                          - 'null'
                        org:
                          unevaluatedProperties: false
                          type: object
                          properties:
                            name:
                              type:
                              - string
                              - 'null'
                            title:
                              type:
                              - string
                              - 'null'
                    user_agent_details:
                      unevaluatedProperties: false
                      type: object
                      properties:
                        browser:
                          type: string
                        browser_version:
                          type: string
                        platform:
                          type: string
                        mobile:
                          type: boolean
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '403':
          description: Forbidden, token is valid but account does not have access to feature
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Webinars are not available on your current plan
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Internal server error
      tags:
      - Stats:Visitors
      security:
      - BearerAuth: []
      operationId: getStatsVisitors
      x-operation-id-source: derived
    servers:
    - url: https://api.wistia.com/modern
  /stats/visitors/{visitorKey}:
    get:
      x-wistia-openai-ignore: true
      x-wistia-anthropic-ignore: true
      summary: Show Visitor
      x-wistia-mcp-annotations:
        read_only_hint: true
        read_only_hint_justification: This tool only reads visitor from the account and does not modify any data.
        open_world_hint: false
        open_world_hint_justification: This tool only queries records inside the account and does not reach external services.
        destructive_hint: false
        destructive_hint_justification: This tool is read-only and does not make any changes.
        idempotent_hint: true
        idempotent_hint_justification: Reading data does not change any state, so repeated calls have no additional effect.
      x-speakeasy-group: statsVisitors
      x-speakeasy-name-override: get
      description: 'This endpoint provides detailed information about a specific visitor.


        ## Requires api token with one of the following permissions

        ```

        Read detailed stats

        ```'
      parameters:
      - name: visitorKey
        in: path
        description: The unique key of the visitor.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response with details of a single visitor.
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  visitor_key:
                    description: A unique identifier for the visitor.
                    type: string
                  created_at:
                    description: When the visitor was created.
                    type: string
                    format: date-time
                  last_active_at:
                    description: The last time the visitor played a video.
                    type: string
                    format: date-time
                  last_event_key:
                    description: The event key for the last video play action.
                    type: string
                  load_count:
                    description: The total number of videos loaded by the visitor.
                    type: integer
                  play_count:
                    description: The total number of videos played by the visitor.
                    type: integer
                  visitor_identity:
                    unevaluatedProperties: false
                    type: object
                    properties:
                      name:
                        type: string
                      email:
                        type:
                        - string
                        - 'null'
                      org:
                        unevaluatedProperties: false
                        type: object
                        properties:
                          name:
                            type:
                            - string
                            - 'null'
                          title:
                            type:
                            - string
                            - 'null'
                  user_agent_details:
                    unevaluatedProperties: false
                    type: object
                    properties:
                      browser:
                        type: string
                      browser_version:
                        type: string
                      platform:
                        type: string
                      mobile:
                        type: boolean
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '403':
          description: Forbidden, token is valid but account does not have access to feature
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Webinars are not available on your current plan
        '404':
          description: Visitor not found
          content: {}
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Internal server error
      tags:
      - Stats:Visitors
      security:
      - BearerAuth: []
      operationId: getStatsVisitorsByVisitorKey
      x-operation-id-source: derived
    servers:
    - url: https://api.wistia.com/modern
components:
  schemas:
    Visitor:
      type: object
      properties:
        visitor_key:
          description: A unique identifier for the visitor.
          type: string
        created_at:
          description: When the visitor was created.
          type: string
          format: date-time
        last_active_at:
          description: The last time the visitor played a video.
          type: string
          format: date-time
        last_event_key:
          description: The event key for the last video play action.
          type: string
        load_count:
          description: The total number of videos loaded by the visitor.
          type: integer
        play_count:
          description: The total number of videos played by the visitor.
          type: integer
        visitor_identity:
          type: object
          properties:
            name:
              type: string
            email:
              type:
              - string
              - 'null'
            org:
              type: object
              properties:
                name:
                  type:
                  - string
                  - 'null'
                title:
                  type:
                  - string
                  - 'null'
        user_agent_details:
          type: object
          properties:
            browser:
              type: string
            browser_version:
              type: string
            platform:
              type: string
            mobile:
              type: boolean
  responses:
    '401':
      description: Unauthorized, invalid or missing token
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                examples:
                - Invalid credentials.
    '500':
      description: Internal server error
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                examples:
                - Internal server error
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
x-refined-from:
- wistia-data-api-modern-edge-openapi.yml
- wistia-data-api-v1-openapi.yml
x-tagGroups:
- name: Data API
  tags:
  - Media
  - Customizations
  - Captions
  - Localizations
  - Trims
  - Extended Audio Descriptions
  - Brands
  - Tags
  - Taggings
  - Folders
  - Folder Sharings
  - Subfolders
  - Channels
  - Channel Collaborators
  - Channel Episodes
  - Webinars
  - Webinar Collaborators
  - Webinar Registrations
  - Account
  - Search
  - Resource URLs
  - Expiring Access Tokens
  - Background Job Status
  - Allowed Domains
  - Remix
  - Push Devices
  - Deleted Media
  - Review Bundles
  - Share Links
  - Bulk Actions
  - Custom Metadata Field Definitions
  - Custom Metadata Field Values
- name: Stats API
  tags:
  - Stats:Account
  - Stats:Events
  - Stats:Media
  - Stats:Projects
  - Stats:Visitors
- name: Analytics API
  tags:
  - Analytics:Account
  - Analytics:Media
  - Analytics:Webinar
