openapi: 3.1.0
info:
  title: Wistia Data Account Captions API
  description: 'REST API providing programmatic access to medias, projects, channels, webinars,

    captions, customizations, tags, folders, accounts, and allowed domains in a

    Wistia account. Returns JSON over HTTPS.

    '
  version: '1.0'
  contact:
    name: Wistia
    url: https://docs.wistia.com/reference/getting-started-with-the-data-api
servers:
- url: https://api.wistia.com/v1
  description: Wistia Data API production server
security:
- bearerAuth: []
- basicAuth: []
tags:
- name: Captions
paths:
  /medias/{hashedId}/captions:
    parameters:
    - in: path
      name: hashedId
      required: true
      schema:
        type: string
    get:
      tags:
      - Captions
      summary: List captions
      operationId: listCaptions
      responses:
        '200':
          description: OK
    post:
      tags:
      - Captions
      summary: Create captions
      operationId: createCaptions
      responses:
        '201':
          description: Created
  /medias/{hashedId}/captions/{languageCode}:
    parameters:
    - in: path
      name: hashedId
      required: true
      schema:
        type: string
    - in: path
      name: languageCode
      required: true
      schema:
        type: string
    get:
      tags:
      - Captions
      summary: Show captions
      operationId: getCaption
      responses:
        '200':
          description: OK
    put:
      tags:
      - Captions
      summary: Update captions
      operationId: updateCaption
      responses:
        '200':
          description: OK
    delete:
      tags:
      - Captions
      summary: Delete captions
      operationId: deleteCaption
      responses:
        '204':
          description: No Content
  /medias/{hashedId}/captions/purchase:
    parameters:
    - in: path
      name: hashedId
      required: true
      schema:
        type: string
    post:
      tags:
      - Captions
      summary: Purchase captions
      operationId: purchaseCaptions
      responses:
        '200':
          description: OK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API access token sent as a Bearer token in the Authorization header
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using the API token as the password
