openapi: 3.2.0
info:
  title: Wistia Channels API
  version: '1.0'
  description: 'Operations tagged Channels across 3 of this provider''s published API definitions: wistia-data-api-modern-edge-openapi.yml, wistia-data-api-v1-openapi.yml, wistia-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.wistia.com/modern
- url: https://api.wistia.com/v1
tags:
- name: Channels
  x-displayName: Channels
paths:
  /channels:
    get:
      summary: List Channels
      x-wistia-mcp-annotations:
        read_only_hint: true
        read_only_hint_justification: This tool only reads channels from the account and does not modify any data.
        open_world_hint: false
        open_world_hint_justification: This tool only queries records inside the account and does not reach external services.
        destructive_hint: false
        destructive_hint_justification: This tool is read-only and does not make any changes.
        idempotent_hint: true
        idempotent_hint_justification: Reading data does not change any state, so repeated calls have no additional effect.
      x-speakeasy-group: channels
      x-speakeasy-name-override: list
      description: 'Lists all Channels belonging to an account. This endpoint can also be used to

        do a batch fetch based off of the hashed id.


        ## Requires api token with one of the following permissions

        ```

        Read all folder and media data

        ```'
      x-wistia-mcp-tool-name: get-channels
      x-wistia-mcp-description: 'List, get, show, browse, or find all Wistia Channels in an account — each an

        embeddable video gallery, content hub, video showcase, or playlist page that

        groups videos into episodes. Supports pagination, sorting, and batch fetch by

        one or more hashed_ids. Use this when someone wants to see what channels or

        video galleries exist or look up a channel''s hashed id. Use create-channel to

        make one, update-channel to edit, or get-channel-episodes to list a channel''s

        videos.

        '
      parameters:
      - name: cursor
        in: query
        description: 'If `cursor[enabled]` is set to 1 then cursor pagination is enabled and the

          first set of records are fetched up to the `per_page`. Cursor

          pagination will also be turned on if `cursor[before]` or `cursor[after]`

          are set. Records returned will have a `cursor` property set which can be used to fetch more records in the same `sort_by` ordering.

          The cursor value of the last record can be used to fetch records after the current result set and

          the cursor of the first record can be used to fetch records before the result set.


          NOTE: a cursor value is only valid if the `sort_by` value hasn''t changed from the

          last fetch. For example, you cannot fetch using `sort_by` id and then pass that

          cursor value to a `sort_by` name.

          '
        required: false
        schema:
          unevaluatedProperties: false
          type: object
          properties:
            enabled:
              description: 'If `cursor[enabled]` is set to 1, the first result set will be fetched with cursor pagination enabled. This

                values is ignored if `cursor[before]` or `cursor[after]` are set.

                '
              type: integer
              enum:
              - 0
              - 1
            before:
              description: 'If `cursor[before]` is set then cursor pagination is enabled and all records

                before the cursor up to the `per_page` are returned. This feature is useful for

                fetching "new records", for example, in a "pull to refersh" feature when showing records in a descending

                order.

                '
              type: string
            after:
              description: 'If `cursor[after]` is set then cursor pagination is enabled and all records

                after the cursor up to the `per_page` are returned.

                '
              type: string
        style: deepObject
      - name: page
        in: query
        description: Page number to retrieve
        required: false
        schema:
          type: integer
      - name: per_page
        in: query
        description: Number of channels per page
        required: false
        schema:
          type: integer
      - name: sort_by
        in: query
        description: 'Ordering. Default is ID ASC.

          Note: Only ''id'' and ''created'' are supported when using cursor pagination.

          '
        required: false
        schema:
          type: string
          enum:
          - created
          - id
          - updated
          - name
      - name: sort_direction
        in: query
        description: Ordering Sort Direction (0 = desc, 1 = asc; default is 1)
        required: false
        schema:
          type: integer
          enum:
          - 0
          - 1
      - name: hashed_ids[]
        in: query
        description: Find all of the channels limited to these hashed_ids.
        required: false
        schema:
          type: array
          items:
            type: string
        explode: true
        style: form
      responses:
        '200':
          description: Channels retrieval successful
          content:
            application/json:
              schema:
                type: array
                items:
                  unevaluatedProperties: false
                  type: object
                  description: 'A Channel lets you take a collection of video (or audio) and embed them

                    on your site, as well as distribute through podcasting.

                    '
                  properties:
                    id:
                      description: The numeric id of the channel.
                      type: integer
                    created:
                      description: The date when the channel was originally created.
                      type: string
                      format: date-time
                    description:
                      description: The channel's description.
                      type: string
                    hashed_id:
                      description: A unique alphanumeric identifier for this channel.
                      type: string
                    media_count:
                      description: The number of medias in the channel.
                      type: integer
                    live_stream_event_count:
                      description: The number of live stream events in the channel.
                      type: integer
                    name:
                      description: The display name for the channel
                      type: string
                    updated:
                      description: The date when the channel was last updated.
                      type: string
                      format: date-time
                    auto_publish_enabled:
                      description: Whether episodes are automatically published when added to the channel.
                      type:
                      - boolean
                      - 'null'
                    podcast_enabled:
                      description: Whether podcasting is enabled for the channel.
                      type:
                      - boolean
                      - 'null'
                    custom_url:
                      description: The custom URL used when embedding the channel on your own site. Null if no custom URL is set.
                      type:
                      - string
                      - 'null'
                    podcast_settings:
                      description: 'Podcast specific settings for the channel. Only present when podcasting

                        is enabled for the channel.

                        '
                      unevaluatedProperties: false
                      type: object
                      properties:
                        copyright:
                          type:
                          - string
                          - 'null'
                          description: The channel's copyright information.
                        episode_format:
                          type:
                          - string
                          - 'null'
                          description: The format for episodes for the podcast channel.
                          enum:
                          - episodic
                          - episodic_with_seasons
                          - serial
                        author_name:
                          type:
                          - string
                          - 'null'
                          description: The name of the author(s) for the channel.
                        explicit:
                          type:
                          - boolean
                          - 'null'
                          description: Whether the channel contains explicit content.
                        owner_name:
                          type:
                          - string
                          - 'null'
                          description: The name of the owner for the channel.
                        owner_email:
                          type:
                          - string
                          - 'null'
                          description: The email of the owner for the channel.
                        category1:
                          type:
                          - string
                          - 'null'
                          description: The primary category for the channel.
                          enum:
                          - arts > books
                          - arts > design
                          - arts > fashion_and_beauty
                          - arts > food
                          - arts > performing_arts
                          - arts > visual_arts
                          - business > careers
                          - business > entrepreneurship
                          - business > investing
                          - business > management
                          - business > marketing
                          - business > non_profit
                          - comedy > comedy_interviews
                          - comedy > improv
                          - comedy > stand_up
                          - education > courses
                          - education > how_to
                          - education > language_learning
                          - education > self_improvement
                          - fiction > comedy_fiction
                          - fiction > drama
                          - fiction > science_fiction
                          - health_and_fitness > alternative_health
                          - health_and_fitness > fitness
                          - health_and_fitness > medicine
                          - health_and_fitness > mental_health
                          - health_and_fitness > nutrition
                          - health_and_fitness > sexuality
                          - kids_and_family > education_for_kids
                          - kids_and_family > parenting
                          - kids_and_family > pets_and_animals
                          - kids_and_family > stories_for_kids
                          - leisure > animation_and_manga
                          - leisure > automotive
                          - leisure > aviation
                          - leisure > crafts
                          - leisure > games
                          - leisure > hobbies
                          - leisure > home_and_garden
                          - leisure > video_games
                          - music > music_commentary
                          - music > music_history
                          - music > music_interviews
                          - news > business_news
                          - news > daily_news
                          - news > entertainment_news
                          - news > news_commentary
                          - news > politics
                          - news > sports_news
                          - news > tech_news
                          - religion_and_spirituality > buddhism
                          - religion_and_spirituality > christianity
                          - religion_and_spirituality > hinduism
                          - religion_and_spirituality > islam
                          - religion_and_spirituality > judaism
                          - religion_and_spirituality > religion
                          - religion_and_spirituality > spirituality
                          - science > astronomy
                          - science > chemistry
                          - science > earth_sciences
                          - science > life_sciences
                          - science > mathematics
                          - science > natural_sciences
                          - science > nature
                          - science > physics
                          - science > social_sciences
                          - society_and_culture > documentary
                          - society_and_culture > personal_journals
                          - society_and_culture > philosophy
                          - society_and_culture > places_and_travel
                          - society_and_culture > relationships
                          - sports > baseball
                          - sports > basketball
                          - sports > cricket
                          - sports > fantasy_sports
                          - sports > football
                          - sports > golf
                          - sports > hockey
                          - sports > rugby
                          - sports > running
                          - sports > soccer
                          - sports > swimming
                          - sports > tennis
                          - sports > volleyball
                          - sports > wilderness
                          - sports > wrestling
                          - tv_and_film > after_shows
                          - tv_and_film > film_history
                          - tv_and_film > film_interviews
                          - tv_and_film > film_reviews
                          - tv_and_film > tv_reviews
                        category2:
                          type:
                          - string
                          - 'null'
                          description: The secondary category for the channel.
                          enum:
                          - arts > books
                          - arts > design
                          - arts > fashion_and_beauty
                          - arts > food
                          - arts > performing_arts
                          - arts > visual_arts
                          - business > careers
                          - business > entrepreneurship
                          - business > investing
                          - business > management
                          - business > marketing
                          - business > non_profit
                          - comedy > comedy_interviews
                          - comedy > improv
                          - comedy > stand_up
                          - education > courses
                          - education > how_to
                          - education > language_learning
                          - education > self_improvement
                          - fiction > comedy_fiction
                          - fiction > drama
                          - fiction > science_fiction
                          - health_and_fitness > alternative_health
                          - health_and_fitness > fitness
                          - health_and_fitness > medicine
                          - health_and_fitness > mental_health
                          - health_and_fitness > nutrition
                          - health_and_fitness > sexuality
                          - kids_and_family > education_for_kids
                          - kids_and_family > parenting
                          - kids_and_family > pets_and_animals
                          - kids_and_family > stories_for_kids
                          - leisure > animation_and_manga
                          - leisure > automotive
                          - leisure > aviation
                          - leisure > crafts
                          - leisure > games
                          - leisure > hobbies
                          - leisure > home_and_garden
                          - leisure > video_games
                          - music > music_commentary
                          - music > music_history
                          - music > music_interviews
                          - news > business_news
                          - news > daily_news
                          - news > entertainment_news
                          - news > news_commentary
                          - news > politics
                          - news > sports_news
                          - news > tech_news
                          - religion_and_spirituality > buddhism
                          - religion_and_spirituality > christianity
                          - religion_and_spirituality > hinduism
                          - religion_and_spirituality > islam
                          - religion_and_spirituality > judaism
                          - religion_and_spirituality > religion
                          - religion_and_spirituality > spirituality
                          - science > astronomy
                          - science > chemistry
                          - science > earth_sciences
                          - science > life_sciences
                          - science > mathematics
                          - science > natural_sciences
                          - science > nature
                          - science > physics
                          - science > social_sciences
                          - society_and_culture > documentary
                          - society_and_culture > personal_journals
                          - society_and_culture > philosophy
                          - society_and_culture > places_and_travel
                          - society_and_culture > relationships
                          - sports > baseball
                          - sports > basketball
                          - sports > cricket
                          - sports > fantasy_sports
                          - sports > football
                          - sports > golf
                          - sports > hockey
                          - sports > rugby
                          - sports > running
                          - sports > soccer
                          - sports > swimming
                          - sports > tennis
                          - sports > volleyball
                          - sports > wilderness
                          - sports > wrestling
                          - tv_and_film > after_shows
                          - tv_and_film > film_history
                          - tv_and_film > film_interviews
                          - tv_and_film > film_reviews
                          - tv_and_film > tv_reviews
                        category3:
                          type:
                          - string
                          - 'null'
                          description: The third category for the channel.
                          enum:
                          - arts > books
                          - arts > design
                          - arts > fashion_and_beauty
                          - arts > food
                          - arts > performing_arts
                          - arts > visual_arts
                          - business > careers
                          - business > entrepreneurship
                          - business > investing
                          - business > management
                          - business > marketing
                          - business > non_profit
                          - comedy > comedy_interviews
                          - comedy > improv
                          - comedy > stand_up
                          - education > courses
                          - education > how_to
                          - education > language_learning
                          - education > self_improvement
                          - fiction > comedy_fiction
                          - fiction > drama
                          - fiction > science_fiction
                          - health_and_fitness > alternative_health
                          - health_and_fitness > fitness
                          - health_and_fitness > medicine
                          - health_and_fitness > mental_health
                          - health_and_fitness > nutrition
                          - health_and_fitness > sexuality
                          - kids_and_family > education_for_kids
                          - kids_and_family > parenting
                          - kids_and_family > pets_and_animals
                          - kids_and_family > stories_for_kids
                          - leisure > animation_and_manga
                          - leisure > automotive
                          - leisure > aviation
                          - leisure > crafts
                          - leisure > games
                          - leisure > hobbies
                          - leisure > home_and_garden
                          - leisure > video_games
                          - music > music_commentary
                          - music > music_history
                          - music > music_interviews
                          - news > business_news
                          - news > daily_news
                          - news > entertainment_news
                          - news > news_commentary
                          - news > politics
                          - news > sports_news
                          - news > tech_news
                          - religion_and_spirituality > buddhism
                          - religion_and_spirituality > christianity
                          - religion_and_spirituality > hinduism
                          - religion_and_spirituality > islam
                          - religion_and_spirituality > judaism
                          - religion_and_spirituality > religion
                          - religion_and_spirituality > spirituality
                          - science > astronomy
                          - science > chemistry
                          - science > earth_sciences
                          - science > life_sciences
                          - science > mathematics
                          - science > natural_sciences
                          - science > nature
                          - science > physics
                          - science > social_sciences
                          - society_and_culture > documentary
                          - society_and_culture > personal_journals
                          - society_and_culture > philosophy
                          - society_and_culture > places_and_travel
                          - society_and_culture > relationships
                          - sports > baseball
                          - sports > basketball
                          - sports > cricket
                          - sports > fantasy_sports
                          - sports > football
                          - sports > golf
                          - sports > hockey
                          - sports > rugby
                          - sports > running
                          - sports > soccer
                          - sports > swimming
                          - sports > tennis
                          - sports > volleyball
                          - sports > wilderness
                          - sports > wrestling
                          - tv_and_film > after_shows
                          - tv_and_film > film_history
                          - tv_and_film > film_interviews
                          - tv_and_film > film_reviews
                          - tv_and_film > tv_reviews
                        language:
                          type:
                          - string
                          - 'null'
                          description: The ISO 639-1 language code for the channel.
                          enum:
                          - af
                          - be
                          - bg
                          - ca
                          - cs
                          - da
                          - de-at
                          - de-ch
                          - de-de
                          - de-li
                          - de-lu
                          - de
                          - el
                          - en-au
                          - en-bz
                          - en-ca
                          - en-gb
                          - en-ie
                          - en-jm
                          - en-nz
                          - en-ph
                          - en-tt
                          - en-us
                          - en-za
                          - en-zw
                          - en
                          - es-ar
                          - es-bo
                          - es-cl
                          - es-co
                          - es-cr
                          - es-do
                          - es-ec
                          - es-es
                          - es-gt
                          - es-hn
                          - es-mx
                          - es-ni
                          - es-pa
                          - es-pe
                          - es-pr
                          - es-py
                          - es-sv
                          - es-uy
                          - es-ve
                          - es
                          - et
                          - eu
                          - fi
                          - fo
                          - fr-be
                          - fr-ca
                          - fr-ch
                          - fr-fr
                          - fr-lu
                          - fr-mc
                          - fr
                          - ga
                          - gd
                          - gl
                          - haw
                          - hr
                          - hu
                          - in
                          - is
                          - it-ch
                          - it-it
                          - it
                          - ja
                          - ko
                          - mk
                          - nl-be
                          - nl-nl
                          - nl
                          - 'no'
                          - pl
                          - pt-br
                          - pt-pt
                          - pt
                          - ro-mo
                          - ro-ro
                          - ro
                          - ru-mo
                          - ru-ru
                          - ru
                          - sk
                          - sl
                          - sq
                          - sr
                          - sv-fi
                          - sv-se
                          - sv
                          - tr
                          - uk
                          - zh-cn
                          - zh-tw
                    cursor:
                      description: A cursor for stable pagination based on current `sort_by` order. You can pass this to `cursor[before]` or `cursor[after]` as a parameter to fetch the records before or after this record in the same sort order. This is only populated if records were fetched with `cursor[enabled]`, or `cursor[before]` or `cursor[after]`.
                      type:
                      - string
                      - 'null'
                  required:
                  - id
                  - created
                  - description
                  - hashed_id
                  - media_count
                  - name
                  - updated
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    description: Error message detailing the reason for the bad request.
                    type: string
                    examples:
                    - Bad request
                  errors:
                    description: Array of error messages detailing the reasons for the bad request.
                    type: array
                    items:
                      type: string
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Internal server error
      tags:
      - Channels
      security:
      - BearerAuth: []
      operationId: getChannels
      x-operation-id-source: derived
    post:
      summary: Create Channel
      x-wistia-mcp-annotations:
        read_only_hint: false
        read_only_hint_justification: This tool creates a new channel in the account, which modifies data.
        open_world_hint: false
        open_world_hint_justification: This tool only operates on records inside the account and does not reach external services.
        destructive_hint: false
        destructive_hint_justification: This tool only adds a new resource; existing data is not modified.
        idempotent_hint: false
        idempotent_hint_justification: Each call attempts to create an additional resource, so repeating the request may create duplicates.
      x-speakeasy-group: channels
      x-speakeasy-name-override: create
      description: Creates a channel.
      x-wistia-mcp-tool-name: create-channel
      x-wistia-mcp-description: 'Create a new Wistia Channel — a customizable, embeddable video gallery

        (also called a content hub, video showcase, series, or playlist page) that

        groups videos into episodes for viewers to browse. Use this when someone

        wants to set up, add, start, or build a new channel or video gallery. Use

        update-channel to change an existing one, get-channels to list channels, or

        create-channel-episode to add videos to a channel.

        '
      tags:
      - Channels
      requestBody:
        content:
          application/json:
            schema:
              unevaluatedProperties: false
              type: object
              properties:
                name:
                  type:
                  - string
                  - 'null'
                  description: The display name for the channel
                description:
                  type:
                  - string
                  - 'null'
                  description: The channel's description.
                auto_publish_enabled:
                  type: boolean
                  description: Whether the episodes are automatically published when added to the channel. Cannot be enabled if podcasting is on.
                podcast_enabled:
                  type: boolean
                  description: Whether podcasting is enabled for this channel.
                custom_url:
                  type:
                  - string
                  - 'null'
                  description: Use if embedding the channel on your own site. The custom URL ensures links always direct to your page and not Wistia's.
                podcast_settings:
                  unevaluatedProperties: false
                  type: object
                  description: 'Podcast specific settings for a channel. These settings only take effect if

                    podcasting is enabled for the channel.

                    '
                  properties:
                    copyright:
                      type:
                      - string
                      - 'null'
                      description: The channel's copyright information.
                    episode_format:
                      type:
                      - string
                      - 'null'
                      description: The format for episodes for the podcast channel.
                      enum:
                      - episodic
                      - episodic_with_seasons
                      - serial
                    author_name:
                      type:
                      - string
                      - 'null'
                      description: The name of the author(s) for the channel.
                    explicit:
                      type:
                      - boolean
                      - 'null'
                      description: Whether the channel contains explicit content.
                    owner_name:
                      type:
                      - string
                      - 'null'
                      description: The name of the owner for the channel.
                    owner_email:
                      type:
                      - string
                      - 'null'
                      description: The email of the owner for the channel.
                    category1:
                      type:
                      - string
                      - 'null'
                      description: The primary category for the channel.
                      enum:
                      - arts > books
                      - arts > design
                      - arts > fashion_and_beauty
                      - arts > food
                      - arts > performing_arts
                      - arts > visual_arts
                      - business > careers
                      - business > entrepreneurship
                      - business > investing
                      - business > management
                      - business > marketing
                      - business > non_profit
                      - comedy > comedy_interviews
                      - comedy > improv
                      - comedy > stand_up
                      - education > courses
                      - education > how_to
                      - education > language_learning
                      - education > self_improvement
                      - fiction > comedy_fiction
                      - fiction > drama
                      - fiction > science_fiction
                      - health_and_fitness > alternative_health
                      - health_and_fitness > fitness
                      - health_and_fitness > medicine
                      - health_and_fitness > mental_health
                      - health_and_fitness > nutrition
                      - health_and_fitness > sexuality
                      - kids_and_family > education_for_kids
                      - kids_and_family > parenting
                      - kids_and_family > pets_and_animals
                      - kids_and_family > stories_for_kids
                      - leisure > animation_and_manga
                      - leisure > automotive
                      - leisure > aviation
                      - leisure > crafts
                      - leisure > games
                      - leisure > hobbies
                      - leisure > home_and_garden
                      - leisure > video_games
                      - music > music_commentary
                      - music > music_history
                      - music > music_interviews
                      - news > business_news
                      - news > daily_news
                      - news > entertainment_news
                      - news > news_commentary
                      - news > politics
                      - news > sports_news
                      - news > tech_news
                      - religion_and_spirituality > buddhism
                      - religion_and_spirituality > christianity
                      - religion_and_spirituality > hinduism
                      - religion_and_spirituality > islam
                      - religion_and_spirituality > judaism
                      - religion_and_spirituality > religion
                      - religion_and_spirituality > spirituality
                      - science > astronomy
                      - science > chemistry
                      - science > earth_sciences
                      - science > life_sciences
                      - science > mathematics
                      - science > natural_sciences
                      - science > nature
                      - science > physics
                      - science > social_sciences
                      - society_and_culture > documentary
                      - society_and_culture > personal_journals
                      - society_and_culture > philosophy
                      - society_and_culture > places_and_travel
                      - society_and_culture > relationships
                      - sports > baseball
                      - sports > basketball
                      - sports > cricket
                      - sports > fantasy_sports
                      - sports > football
                      - sports > golf
                      - sports > hockey
                      - sports > rugby
                      - sports > running
                      - sports > soccer
                      - sports > swimming
                      - sports > tennis
                      - sports > volleyball
                      - sports > wilderness
                      - sports > wrestling
                      - tv_and_film > after_shows
                      - tv_and_film > film_history
                      - tv_and_film > film_interviews
                      - tv_and_film > film_reviews
                      - tv_and_film > tv_reviews
                    category2:
                      type:
                      - string
                      - 'null'
                      description: The secondary category for the channel.
                      enum:
                      - arts > books
                      - arts > design
                      - arts > fashion_and_beauty
                      - arts > food
                      - arts > performing_arts
                      - arts > visual_arts
                      - business > careers
                      - business > entrepreneurship
                      - business > investing
                      - business > management
                      - business > marketing
                      - business > non_profit
                      - comedy > comedy_interviews
                      - comedy > improv
                      - comedy > stand_up
                      - education > courses
                      - education > how_to
                      - education > language_learning
                      - education > self_improvement
                      - fiction > comedy_fiction
                      - fiction > drama
                      - fiction > science_fiction
                      - health_and_fitness > alternative_health
                      - health_and_fitness > fitness
                      - health_and_fitness > medicine
                      - health_and_fitness > mental_health
                      - health_and_fitness > nutrition
                      - health_and_fitness > sexuality
                      - kids_and_family > education_for_kids
                      - kids_and_family > parenting
                      - kids_and_family > pets_and_animals
                      - kids_and_family > stories_for_kids
                      - leisure > animation_and_manga
                      - leisure > automotive
                      - leisure > aviation
                      - leisure > crafts
                      - leisure > games
                      - leisure > hobbies
                      - leisure > home_and_garden
                      - leisure > video_games
                      - music > music_commentary
                      - music > music_history
                      - music > music_interviews
                      - news > business_news
                      - news > daily_news
                      - news > entertainment_news
                      - news > news_commentary
                      - news > politics
                      - news > sports_news
                      - news > tech_news
                      - religion_and_spirituality > buddhism
                      - religion_and_spirituality > christianity
                      - religion_and_spirituality > hinduism
                      - religion_and_spirituality > islam
                      - religion_and_spirituality > judaism
                      - religion_and_spirituality > religion
                      - religion_and_spirituality > spirituality
                      - science > astronomy
                      - science > chemistry
                      - science > earth_sciences
                      - science > life_sciences
                      - science > mathematics
                      - science > natural_sciences
                      - science > nature
                      - science > physics
                      - science > social_sciences
                      - society_and_culture > documentary
                      - society_and_culture > personal_journals
                      - society_and_culture > philosophy
                      - society_and_culture > places_and_travel
                      - society_and_culture > relationships
                      - sports > baseball
                      - sports > basketball
                      - sports > cricket
                      - sports > fantasy_sports
                      - sports > football
                      - sports > golf
                      - sports > hockey
                      - sports > rugby
                      - sports > running
                      - sports > soccer
                      - sports > swimming
                      - sports > tennis
                      - sports > volleyball
                      - sports > wilderness
                      - sports > wrestling
                      - tv_and_film > after_shows
                      - tv_and_film > film_history
                      - tv_and_film > film_interviews
                      - tv_and_film > film_reviews
                      - tv_and_film > tv_reviews
                    category3:
                      type:
                      - string
                      - 'null'
                      description: The third category for the channel.
                      enum:
                      - arts > books
                      - arts > design
                      - arts > fashion_and_beauty
                      - arts > food
                      - arts > performing_arts
                      - arts > visual_arts
                      - business > careers
                      - business > entrepreneurship
                      - business > investing
                      - business > management
                      - business > marketing
                      - business > non_profit
                      - comedy > comedy_interviews
                      - comedy > improv
                      - comedy > stand_up
                      - education > courses
                      - education > how_to
                      - education > language_learning
                      - education > self_improvement
                      - fiction > comedy_fiction
                      - fiction > drama
                      - fiction > science_fiction
                      - health_and_fitness > alternative_health
                      - health_and_fitness > fitness
                      - health_and_fitness > medicine
                      - health_and_fitness > mental_health
                      - health_and_fitness > nutrition
                      - health_and_fitness > sexuality
                      - kids_and_family > education_for_kids
                      - kids_and_family > parenting
                      - kids_and_family > pets_and_animals
                      - kids_and_family > stories_for_kids
                      - leisure > animation_and_manga
                      - leisure > automotive
                      - leisure > aviation
                      - leisure > crafts
                      - leisure > games
                      - leisure > hobbies
                      - leisure > home_and_garden
                      - leisure > video_games
                      - music > music_commentary
                      - music > music_history
                      - music > music_interviews
                      - news > business_news
                      - news > daily_news
                      - news > entertainment_news
                      - news > news_commentary
                      - news > politics
                      - news > sports_news
                      - news > tech_news
                      - religion_and_spirituality > buddhism
                      - religion_and_spirituality > christianity
                      - religion_and_spirituality > hinduism
                      - religion_and_spirituality > islam
                      - religion_and_spirituality > judaism
                      - religion_and_spirituality > religion
                      - religion_and_spirituality > spirituality
                      - science > astronomy
                      - science > chemistry
                      - science > earth_sciences
                      - science > life_sciences
                      - science > mathematics
                      - science > natural_sciences
                      - science > nature
                      - science > physics
                      - science > social_sciences
                      - society_and_culture > documentary
                      - society_and_culture > personal_journals
                      - society_and_culture > philosophy
                      - society_and_culture > places_and_travel
                      - society_and_culture > relationships
                      - sports > baseball
                      - sports > basketball
                      - sports > cricket
                      - sports > fantasy_sports
                      - sports > football
                      - sports > golf
                      - sports > hockey
                      - sports > rugby
                      - sports > running
                      - sports > soccer
                      - sports > swimming
                      - sports > tennis
                      - sports > volleyball
                      - sports > wilderness
                      - sports > wrestling
                      - tv_and_film > after_shows
                      - tv_and_film > film_history
                      - tv_and_film > film_interviews
                      - tv_and_film > film_reviews
                      - tv_and_film > tv_reviews
                    language:
                      type:
                      - string
                      - 'null'
                      description: The ISO 639-1 language code for the channel.
                      enum:
                      - af
                      - be
                      - bg
                      - ca
                      - cs
                      - da
                      - de-at
                      - de-ch
                      - de-de
                      - de-li
                      - de-lu
                      - de
                      - el
                      - en-au
                      - en-bz
                      - en-ca
                      - en-gb
                      - en-ie
                      - en-jm
                      - en-nz
                      - en-ph
                      - en-tt
                      - en-us
                      - en-za
                      - en-zw
                      - en
                      - es-ar
                      - es-bo
                      - es-cl
                      - es-co
                      - es-cr
                      - es-do
                      - es-ec
                      - es-es
                      - es-gt
                      - es-hn
                      - es-mx
                      - es-ni
                      - es-pa
                      - es-pe
                      - es-pr
                      - es-py
                      - es-sv
                      - es-uy
                      - es-ve
                      - es
                      - et
                      - eu
                      - fi
                      - fo
                      - fr-be
                      - fr-ca
                      - fr-ch
                      - fr-fr
                      - fr-lu
                      - fr-mc
                      - fr
                      - ga
                      - gd
                      - gl
                      - haw
                      - hr
                      - hu
                      - in
                      - is
                      - it-ch
                      - it-it
                      - it
                      - ja
                      - ko
                      - mk
                      - nl-be
                      - nl-nl
                      - nl
                      - 'no'
                      - pl
                      - pt-br
                      - pt-pt
                      - pt
                      - ro-mo
                      - ro-ro
                      - ro
                      - ru-mo
                      - ru-ru
                      - ru
                      - sk
                      - sl
                      - sq
                      - sr
                      - sv-fi
                      - sv-se
                      - sv
                      - tr
                      - uk
                      - zh-cn
                      - zh-tw
      responses:
        '201':
          description: Channel created successful
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                description: 'A Channel lets you take a collection of video (or audio) and embed them

                  on your site, as well as distribute through podcasting.

                  '
                properties:
                  id:
                    description: The numeric id of the channel.
                    type: integer
                  created:
                    description: The date when the channel was originally created.
                    type: string
                    format: date-time
                  description:
                    description: The channel's description.
                    type: string
                  hashed_id:
                    description: A unique alphanumeric identifier for this channel.
                    type: string
                  media_count:
                    description: The number of medias in the channel.
                    type: integer
                  live_stream_event_count:
                    description: The number of live stream events in the channel.
                    type: integer
                  name:
                    description: The display name for the channel
                    type: string
                  updated:
                    description: The date when the channel was last updated.
                    type: string
                    format: date-time
                  auto_publish_enabled:
                    description: Whether episodes are automatically published when added to the channel.
                    type:
                    - boolean
                    - 'null'
                  podcast_enabled:
                    description: Whether podcasting is enabled for the channel.
                    type:
                    - boolean
                    - 'null'
                  custom_url:
                    description: The custom URL used when embedding the channel on your own site. Null if no custom URL is set.
                    type:
                    - string
                    - 'null'
                  podcast_settings:
                    description: 'Podcast specific settings for the channel. Only present when podcasting

                      is enabled for the channel.

                      '
                    unevaluatedProperties: false
                    type: object
                    properties:
                      copyright:
                        type:
                        - string
                        - 'null'
                        description: The channel's copyright information.
                      episode_format:
                        type:
                        - string
                        - 'null'
                        description: The format for episodes for the podcast channel.
                        enum:
                        - episodic
                        - episodic_with_seasons
                        - serial
                      author_name:
                        type:
                        - string
                        - 'null'
                        description: The name of the author(s) for the channel.
                      explicit:
                        type:
                        - boolean
                        - 'null'
                        description: Whether the channel contains explicit content.
                      owner_name:
                        type:
                        - string
                        - 'null'
                        description: The name of the owner for the channel.
                      owner_email:
                        type:
                        - string
                        - 'null'
                        description: The email of the owner for the channel.
                      category1:
                        type:
                        - string
                        - 'null'
                        description: The primary category for the channel.
                        enum:
                        - arts > books
                        - arts > design
                        - arts > fashion_and_beauty
                        - arts > food
                        - arts > performing_arts
                        - arts > visual_arts
                        - business > careers
                        - business > entrepreneurship
                        - business > investing
                        - business > management
                        - business > marketing
                        - business > non_profit
                        - comedy > comedy_interviews
                        - comedy > improv
                        - comedy > stand_up
                        - education > courses
                        - education > how_to
                        - education > language_learning
                        - education > self_improvement
                        - fiction > comedy_fiction
                        - fiction > drama
                        - fiction > science_fiction
                        - health_and_fitness > alternative_health
                        - health_and_fitness > fitness
                        - health_and_fitness > medicine
                        - health_and_fitness > mental_health
                        - health_and_fitness > nutrition
                        - health_and_fitness > sexuality
                        - kids_and_family > education_for_kids
                        - kids_and_family > parenting
                        - kids_and_family > pets_and_animals
                        - kids_and_family > stories_for_kids
                        - leisure > animation_and_manga
                        - leisure > automotive
                        - leisure > aviation
                        - leisure > crafts
                        - leisure > games
                        - leisure > hobbies
                        - leisure > home_and_garden
                        - leisure > video_games
                        - music > music_commentary
                        - music > music_history
                        - music > music_interviews
                        - news > business_news
                        - news > daily_news
                        - news > entertainment_news
                        - news > news_commentary
                        - news > politics
                        - news > sports_news
                        - news > tech_news
                        - religion_and_spirituality > buddhism
                        - religion_and_spirituality > christianity
                        - religion_and_spirituality > hinduism
                        - religion_and_spirituality > islam
                        - religion_and_spirituality > judaism
                        - religion_and_spirituality > religion
                        - religion_and_spirituality > spirituality
                        - science > astronomy
                        - science > chemistry
                        - science > earth_sciences
                        - science > life_sciences
                        - science > mathematics
                        - science > natural_sciences
                        - science > nature
                        - science > physics
                        - science > social_sciences
                        - society_and_culture > documentary
                        - society_and_culture > personal_journals
                        - society_and_culture > philosophy
                        - society_and_culture > places_and_travel
                        - society_and_culture > relationships
                        - sports > baseball
                        - sports > basketball
                        - sports > cricket
                        - sports > fantasy_sports
                        - sports > football
                        - sports > golf
                        - sports > hockey
                        - sports > rugby
                        - sports > running
                        - sports > soccer
                        - sports > swimming
                        - sports > tennis
                        - sports > volleyball
                        - sports > wilderness
                        - sports > wrestling
                        - tv_and_film > after_shows
                        - tv_and_film > film_history
                        - tv_and_film > film_interviews
                        - tv_and_film > film_reviews
                        - tv_and_film > tv_reviews
                      category2:
                        type:
                        - string
                        - 'null'
                        description: The secondary category for the channel.
                        enum:
                        - arts > books
                        - arts > design
                        - arts > fashion_and_beauty
                        - arts > food
                        - arts > performing_arts
                        - arts > visual_arts
                        - business > careers
                        - business > entrepreneurship
                        - business > investing
                        - business > management
                        - business > marketing
                        - business > non_profit
                        - comedy > comedy_interviews
                        - comedy > improv
                        - comedy > stand_up
                        - education > courses
                        - education > how_to
                        - education > language_learning
                        - education > self_improvement
                        - fiction > comedy_fiction
                        - fiction > drama
                        - fiction > science_fiction
                        - health_and_fitness > alternative_health
                        - health_and_fitness > fitness
                        - health_and_fitness > medicine
                        - health_and_fitness > mental_health
                        - health_and_fitness > nutrition
                        - health_and_fitness > sexuality
                        - kids_and_family > education_for_kids
                        - kids_and_family > parenting
                        - kids_and_family > pets_and_animals
                        - kids_and_family > stories_for_kids
                        - leisure > animation_and_manga
                        - leisure > automotive
                        - leisure > aviation
                        - leisure > crafts
                        - leisure > games
                        - leisure > hobbies
                        - leisure > home_and_garden
                        - leisure > video_games
                        - music > music_commentary
                        - music > music_history
                        - music > music_interviews
                        - news > business_news
                        - news > daily_news
                        - news > entertainment_news
                        - news > news_commentary
                        - news > politics
                        - news > sports_news
                        - news > tech_news
                        - religion_and_spirituality > buddhism
                        - religion_and_spirituality > christianity
                        - religion_and_spirituality > hinduism
                        - religion_and_spirituality > islam
                        - religion_and_spirituality > judaism
                        - religion_and_spirituality > religion
                        - religion_and_spirituality > spirituality
                        - science > astronomy
                        - science > chemistry
                        - science > earth_sciences
                        - science > life_sciences
                        - science > mathematics
                        - science > natural_sciences
                        - science > nature
                        - science > physics
                        - science > social_sciences
                        - society_and_culture > documentary
                        - society_and_culture > personal_journals
                        - society_and_culture > philosophy
                        - society_and_culture > places_and_travel
                        - society_and_culture > relationships
                        - sports > baseball
                        - sports > basketball
                        - sports > cricket
                        - sports > fantasy_sports
                        - sports > football
                        - sports > golf
                        - sports > hockey
                        - sports > rugby
                        - sports > running
                        - sports > soccer
                        - sports > swimming
                        - sports > tennis
                        - sports > volleyball
                        - sports > wilderness
                        - sports > wrestling
                        - tv_and_film > after_shows
                        - tv_and_film > film_history
                        - tv_and_film > film_interviews
                        - tv_and_film > film_reviews
                        - tv_and_film > tv_reviews
                      category3:
                        type:
                        - string
                        - 'null'
                        description: The third category for the channel.
                        enum:
                        - arts > books
                        - arts > design
                        - arts > fashion_and_beauty
                        - arts > food
                        - arts > performing_arts
                        - arts > visual_arts
                        - business > careers
                        - business > entrepreneurship
                        - business > investing
                        - business > management
                        - business > marketing
                        - business > non_profit
                        - comedy > comedy_interviews
                        - comedy > improv
                        - comedy > stand_up
                        - education > courses
                        - education > how_to
                        - education > language_learning
                        - education > self_improvement
                        - fiction > comedy_fiction
                        - fiction > drama
                        - fiction > science_fiction
                        - health_and_fitness > alternative_health
                        - health_and_fitness > fitness
                        - health_and_fitness > medicine
                        - health_and_fitness > mental_health
                        - health_and_fitness > nutrition
                        - health_and_fitness > sexuality
                        - kids_and_family > education_for_kids
                        - kids_and_family > parenting
                        - kids_and_family > pets_and_animals
                        - kids_and_family > stories_for_kids
                        - leisure > animation_and_manga
                        - leisure > automotive
                        - leisure > aviation
                        - leisure > crafts
                        - leisure > games
                        - leisure > hobbies
                        - leisure > home_and_garden
                        - leisure > video_games
                        - music > music_commentary
                        - music > music_history
                        - music > music_interviews
                        - news > business_news
                        - news > daily_news
                        - news > entertainment_news
                        - news > news_commentary
                        - news > politics
                        - news > sports_news
                        - news > tech_news
                        - religion_and_spirituality > buddhism
                        - religion_and_spirituality > christianity
                        - religion_and_spirituality > hinduism
                        - religion_and_spirituality > islam
                        - religion_and_spirituality > judaism
                        - religion_and_spirituality > religion
                        - religion_and_spirituality > spirituality
                        - science > astronomy
                        - science > chemistry
                        - science > earth_sciences
                        - science > life_sciences
                        - science > mathematics
                        - science > natural_sciences
                        - science > nature
                        - science > physics
                        - science > social_sciences
                        - society_and_culture > documentary
                        - society_and_culture > personal_journals
                        - society_and_culture > philosophy
                        - society_and_culture > places_and_travel
                        - society_and_culture > relationships
                        - sports > baseball
                        - sports > basketball
                        - sports > cricket
                        - sports > fantasy_sports
                        - sports > football
                        - sports > golf
                        - sports > hockey
                        - sports > rugby
                        - sports > running
                        - sports > soccer
                        - sports > swimming
                        - sports > tennis
                        - sports > volleyball
                        - sports > wilderness
                        - sports > wrestling
                        - tv_and_film > after_shows
                        - tv_and_film > film_history
                        - tv_and_film > film_interviews
                        - tv_and_film > film_reviews
                        - tv_and_film > tv_reviews
                      language:
                        type:
                        - string
                        - 'null'
                        description: The ISO 639-1 language code for the channel.
                        enum:
                        - af
                        - be
                        - bg
                        - ca
                        - cs
                        - da
                        - de-at
                        - de-ch
                        - de-de
                        - de-li
                        - de-lu
                        - de
                        - el
                        - en-au
                        - en-bz
                        - en-ca
                        - en-gb
                        - en-ie
                        - en-jm
                        - en-nz
                        - en-ph
                        - en-tt
                        - en-us
                        - en-za
                        - en-zw
                        - en
                        - es-ar
                        - es-bo
                        - es-cl
                        - es-co
                        - es-cr
                        - es-do
                        - es-ec
                        - es-es
                        - es-gt
                        - es-hn
                        - es-mx
                        - es-ni
                        - es-pa
                        - es-pe
                        - es-pr
                        - es-py
                        - es-sv
                        - es-uy
                        - es-ve
                        - es
                        - et
                        - eu
                        - fi
                        - fo
                        - fr-be
                        - fr-ca
                        - fr-ch
                        - fr-fr
                        - fr-lu
                        - fr-mc
                        - fr
                        - ga
                        - gd
                        - gl
                        - haw
                        - hr
                        - hu
                        - in
                        - is
                        - it-ch
                        - it-it
                        - it
                        - ja
                        - ko
                        - mk
                        - nl-be
                        - nl-nl
                        - nl
                        - 'no'
                        - pl
                        - pt-br
                        - pt-pt
                        - pt
                        - ro-mo
                        - ro-ro
                        - ro
                        - ru-mo
                        - ru-ru
                        - ru
                        - sk
                        - sl
                        - sq
                        - sr
                        - sv-fi
                        - sv-se
                        - sv
                        - tr
                        - uk
                        - zh-cn
                        - zh-tw
                  cursor:
                    description: A cursor for stable pagination based on current `sort_by` order. You can pass this to `cursor[before]` or `cursor[after]` as a parameter to fetch the records before or after this record in the same sort order. This is only populated if records were fetched with `cursor[enabled]`, or `cursor[before]` or `cursor[after]`.
                    type:
                    - string
                    - 'null'
                required:
                - id
                - created
                - description
                - hashed_id
                - media_count
                - name
                - updated
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '403':
          description: Forbidden, token is valid but account does not have access to feature
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Webinars are not available on your current plan
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Internal server error
      security:
      - BearerAuth: []
      operationId: postChannels
      x-operation-id-source: derived
    servers:
    - url: https://api.wistia.com/modern
  /channels/{channelHashedId}:
    get:
      x-wistia-mcp-ignore: true
      summary: Show Channel
      x-speakeasy-group: channels
      x-speakeasy-name-override: get
      description: 'Returns the Channel associated with the hashedId.


        ## Requires api token with one of the following permissions

        ```

        Read all folder and media data

        ```'
      parameters:
      - name: channelHashedId
        in: path
        description: The hashed ID of the channel.
        required: true
        schema:
          description: Hashed ID of the channel (e.g., "4d23503f70")
          type: string
      responses:
        '200':
          description: Channel retrieval successful
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                description: 'A Channel lets you take a collection of video (or audio) and embed them

                  on your site, as well as distribute through podcasting.

                  '
                properties:
                  id:
                    description: The numeric id of the channel.
                    type: integer
                  created:
                    description: The date when the channel was originally created.
                    type: string
                    format: date-time
                  description:
                    description: The channel's description.
                    type: string
                  hashed_id:
                    description: A unique alphanumeric identifier for this channel.
                    type: string
                  media_count:
                    description: The number of medias in the channel.
                    type: integer
                  live_stream_event_count:
                    description: The number of live stream events in the channel.
                    type: integer
                  name:
                    description: The display name for the channel
                    type: string
                  updated:
                    description: The date when the channel was last updated.
                    type: string
                    format: date-time
                  auto_publish_enabled:
                    description: Whether episodes are automatically published when added to the channel.
                    type:
                    - boolean
                    - 'null'
                  podcast_enabled:
                    description: Whether podcasting is enabled for the channel.
                    type:
                    - boolean
                    - 'null'
                  custom_url:
                    description: The custom URL used when embedding the channel on your own site. Null if no custom URL is set.
                    type:
                    - string
                    - 'null'
                  podcast_settings:
                    description: 'Podcast specific settings for the channel. Only present when podcasting

                      is enabled for the channel.

                      '
                    unevaluatedProperties: false
                    type: object
                    properties:
                      copyright:
                        type:
                        - string
                        - 'null'
                        description: The channel's copyright information.
                      episode_format:
                        type:
                        - string
                        - 'null'
                        description: The format for episodes for the podcast channel.
                        enum:
                        - episodic
                        - episodic_with_seasons
                        - serial
                      author_name:
                        type:
                        - string
                        - 'null'
                        description: The name of the author(s) for the channel.
                      explicit:
                        type:
                        - boolean
                        - 'null'
                        description: Whether the channel contains explicit content.
                      owner_name:
                        type:
                        - string
                        - 'null'
                        description: The name of the owner for the channel.
                      owner_email:
                        type:
                        - string
                        - 'null'
                        description: The email of the owner for the channel.
                      category1:
                        type:
                        - string
                        - 'null'
                        description: The primary category for the channel.
                        enum:
                        - arts > books
                        - arts > design
                        - arts > fashion_and_beauty
                        - arts > food
                        - arts > performing_arts
                        - arts > visual_arts
                        - business > careers
                        - business > entrepreneurship
                        - business > investing
                        - business > management
                        - business > marketing
                        - business > non_profit
                        - comedy > comedy_interviews
                        - comedy > improv
                        - comedy > stand_up
                        - education > courses
                        - education > how_to
                        - education > language_learning
                        - education > self_improvement
                        - fiction > comedy_fiction
                        - fiction > drama
                        - fiction > science_fiction
                        - health_and_fitness > alternative_health
                        - health_and_fitness > fitness
                        - health_and_fitness > medicine
                        - health_and_fitness > mental_health
                        - health_and_fitness > nutrition
                        - health_and_fitness > sexuality
                        - kids_and_family > education_for_kids
                        - kids_and_family > parenting
                        - kids_and_family > pets_and_animals
                        - kids_and_family > stories_for_kids
                        - leisure > animation_and_manga
                        - leisure > automotive
                        - leisure > aviation
                        - leisure > crafts
                        - leisure > games
                        - leisure > hobbies
                        - leisure > home_and_garden
                        - leisure > video_games
                        - music > music_commentary
                        - music > music_history
                        - music > music_interviews
                        - news > business_news
                        - news > daily_news
                        - news > entertainment_news
                        - news > news_commentary
                        - news > politics
                        - news > sports_news
                        - news > tech_news
                        - religion_and_spirituality > buddhism
                        - religion_and_spirituality > christianity
                        - religion_and_spirituality > hinduism
                        - religion_and_spirituality > islam
                        - religion_and_spirituality > judaism
                        - religion_and_spirituality > religion
                        - religion_and_spirituality > spirituality
                        - science > astronomy
                        - science > chemistry
                        - science > earth_sciences
                        - science > life_sciences
                        - science > mathematics
                        - science > natural_sciences
                        - science > nature
                        - science > physics
                        - science > social_sciences
                        - society_and_culture > documentary
                        - society_and_culture > personal_journals
                        - society_and_culture > philosophy
                        - society_and_culture > places_and_travel
                        - society_and_culture > relationships
                        - sports > baseball
                        - sports > basketball
                        - sports > cricket
                        - sports > fantasy_sports
                        - sports > football
                        - sports > golf
                        - sports > hockey
                        - sports > rugby
                        - sports > running
                        - sports > soccer
                        - sports > swimming
                        - sports > tennis
                        - sports > volleyball
                        - sports > wilderness
                        - sports > wrestling
                        - tv_and_film > after_shows
                        - tv_and_film > film_history
                        - tv_and_film > film_interviews
                        - tv_and_film > film_reviews
                        - tv_and_film > tv_reviews
                      category2:
                        type:
                        - string
                        - 'null'
                        description: The secondary category for the channel.
                        enum:
                        - arts > books
                        - arts > design
                        - arts > fashion_and_beauty
                        - arts > food
                        - arts > performing_arts
                        - arts > visual_arts
                        - business > careers
                        - business > entrepreneurship
                        - business > investing
                        - business > management
                        - business > marketing
                        - business > non_profit
                        - comedy > comedy_interviews
                        - comedy > improv
                        - comedy > stand_up
                        - education > courses
                        - education > how_to
                        - education > language_learning
                        - education > self_improvement
                        - fiction > comedy_fiction
                        - fiction > drama
                        - fiction > science_fiction
                        - health_and_fitness > alternative_health
                        - health_and_fitness > fitness
                        - health_and_fitness > medicine
                        - health_and_fitness > mental_health
                        - health_and_fitness > nutrition
                        - health_and_fitness > sexuality
                        - kids_and_family > education_for_kids
                        - kids_and_family > parenting
                        - kids_and_family > pets_and_animals
                        - kids_and_family > stories_for_kids
                        - leisure > animation_and_manga
                        - leisure > automotive
                        - leisure > aviation
                        - leisure > crafts
                        - leisure > games
                        - leisure > hobbies
                        - leisure > home_and_garden
                        - leisure > video_games
                        - music > music_commentary
                        - music > music_history
                        - music > music_interviews
                        - news > business_news
                        - news > daily_news
                        - news > entertainment_news
                        - news > news_commentary
                        - news > politics
                        - news > sports_news
                        - news > tech_news
                        - religion_and_spirituality > buddhism
                        - religion_and_spirituality > christianity
                        - religion_and_spirituality > hinduism
                        - religion_and_spirituality > islam
                        - religion_and_spirituality > judaism
                        - religion_and_spirituality > religion
                        - religion_and_spirituality > spirituality
                        - science > astronomy
                        - science > chemistry
                        - science > earth_sciences
                        - science > life_sciences
                        - science > mathematics
                        - science > natural_sciences
                        - science > nature
                        - science > physics
                        - science > social_sciences
                        - society_and_culture > documentary
                        - society_and_culture > personal_journals
                        - society_and_culture > philosophy
                        - society_and_culture > places_and_travel
                        - society_and_culture > relationships
                        - sports > baseball
                        - sports > basketball
                        - sports > cricket
                        - sports > fantasy_sports
                        - sports > football
                        - sports > golf
                        - sports > hockey
                        - sports > rugby
                        - sports > running
                        - sports > soccer
                        - sports > swimming
                        - sports > tennis
                        - sports > volleyball
                        - sports > wilderness
                        - sports > wrestling
                        - tv_and_film > after_shows
                        - tv_and_film > film_history
                        - tv_and_film > film_interviews
                        - tv_and_film > film_reviews
                        - tv_and_film > tv_reviews
                      category3:
                        type:
                        - string
                        - 'null'
                        description: The third category for the channel.
                        enum:
                        - arts > books
                        - arts > design
                        - arts > fashion_and_beauty
                        - arts > food
                        - arts > performing_arts
                        - arts > visual_arts
                        - business > careers
                        - business > entrepreneurship
                        - business > investing
                        - business > management
                        - business > marketing
                        - business > non_profit
                        - comedy > comedy_interviews
                        - comedy > improv
                        - comedy > stand_up
                        - education > courses
                        - education > how_to
                        - education > language_learning
                        - education > self_improvement
                        - fiction > comedy_fiction
                        - fiction > drama
                        - fiction > science_fiction
                        - health_and_fitness > alternative_health
                        - health_and_fitness > fitness
                        - health_and_fitness > medicine
                        - health_and_fitness > mental_health
                        - health_and_fitness > nutrition
                        - health_and_fitness > sexuality
                        - kids_and_family > education_for_kids
                        - kids_and_family > parenting
                        - kids_and_family > pets_and_animals
                        - kids_and_family > stories_for_kids
                        - leisure > animation_and_manga
                        - leisure > automotive
                        - leisure > aviation
                        - leisure > crafts
                        - leisure > games
                        - leisure > hobbies
                        - leisure > home_and_garden
                        - leisure > video_games
                        - music > music_commentary
                        - music > music_history
                        - music > music_interviews
                        - news > business_news
                        - news > daily_news
                        - news > entertainment_news
                        - news > news_commentary
                        - news > politics
                        - news > sports_news
                        - news > tech_news
                        - religion_and_spirituality > buddhism
                        - religion_and_spirituality > christianity
                        - religion_and_spirituality > hinduism
                        - religion_and_spirituality > islam
                        - religion_and_spirituality > judaism
                        - religion_and_spirituality > religion
                        - religion_and_spirituality > spirituality
                        - science > astronomy
                        - science > chemistry
                        - science > earth_sciences
                        - science > life_sciences
                        - science > mathematics
                        - science > natural_sciences
                        - science > nature
                        - science > physics
                        - science > social_sciences
                        - society_and_culture > documentary
                        - society_and_culture > personal_journals
                        - society_and_culture > philosophy
                        - society_and_culture > places_and_travel
                        - society_and_culture > relationships
                        - sports > baseball
                        - sports > basketball
                        - sports > cricket
                        - sports > fantasy_sports
                        - sports > football
                        - sports > golf
                        - sports > hockey
                        - sports > rugby
                        - sports > running
                        - sports > soccer
                        - sports > swimming
                        - sports > tennis
                        - sports > volleyball
                        - sports > wilderness
                        - sports > wrestling
                        - tv_and_film > after_shows
                        - tv_and_film > film_history
                        - tv_and_film > film_interviews
                        - tv_and_film > film_reviews
                        - tv_and_film > tv_reviews
                      language:
                        type:
                        - string
                        - 'null'
                        description: The ISO 639-1 language code for the channel.
                        enum:
                        - af
                        - be
                        - bg
                        - ca
                        - cs
                        - da
                        - de-at
                        - de-ch
                        - de-de
                        - de-li
                        - de-lu
                        - de
                        - el
                        - en-au
                        - en-bz
                        - en-ca
                        - en-gb
                        - en-ie
                        - en-jm
                        - en-nz
                        - en-ph
                        - en-tt
                        - en-us
                        - en-za
                        - en-zw
                        - en
                        - es-ar
                        - es-bo
                        - es-cl
                        - es-co
                        - es-cr
                        - es-do
                        - es-ec
                        - es-es
                        - es-gt
                        - es-hn
                        - es-mx
                        - es-ni
                        - es-pa
                        - es-pe
                        - es-pr
                        - es-py
                        - es-sv
                        - es-uy
                        - es-ve
                        - es
                        - et
                        - eu
                        - fi
                        - fo
                        - fr-be
                        - fr-ca
                        - fr-ch
                        - fr-fr
                        - fr-lu
                        - fr-mc
                        - fr
                        - ga
                        - gd
                        - gl
                        - haw
                        - hr
                        - hu
                        - in
                        - is
                        - it-ch
                        - it-it
                        - it
                        - ja
                        - ko
                        - mk
                        - nl-be
                        - nl-nl
                        - nl
                        - 'no'
                        - pl
                        - pt-br
                        - pt-pt
                        - pt
                        - ro-mo
                        - ro-ro
                        - ro
                        - ru-mo
                        - ru-ru
                        - ru
                        - sk
                        - sl
                        - sq
                        - sr
                        - sv-fi
                        - sv-se
                        - sv
                        - tr
                        - uk
                        - zh-cn
                        - zh-tw
                  cursor:
                    description: A cursor for stable pagination based on current `sort_by` order. You can pass this to `cursor[before]` or `cursor[after]` as a parameter to fetch the records before or after this record in the same sort order. This is only populated if records were fetched with `cursor[enabled]`, or `cursor[before]` or `cursor[after]`.
                    type:
                    - string
                    - 'null'
                required:
                - id
                - created
                - description
                - hashed_id
                - media_count
                - name
                - updated
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Folder with ID 'fakeid' not found.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
[...]
