openapi: 3.2.0
info:
  title: Data Taggings API
  description: Wistia Data API
  version: edge-version
servers:
- url: https://api.wistia.com/modern
tags:
- name: Taggings
  x-wistia-mcp-toolsets: tags
  x-displayName: Taggings
paths:
  /taggings/bulk_create:
    post:
      summary: Bulk Tag Media
      x-wistia-mcp-annotations:
        read_only_hint: false
        read_only_hint_justification: This tool adds tags to media, which modifies the account.
        open_world_hint: false
        open_world_hint_justification: This tool only operates on records inside the account and does not reach external services.
        destructive_hint: false
        destructive_hint_justification: Tagging only adds new associations and does not modify existing tag or media data.
        idempotent_hint: true
        idempotent_hint_justification: Tags are added as a set union and existing tags and taggings are reused, so re-sending the same tags leaves each media unchanged.
      x-speakeasy-group: taggings
      x-speakeasy-name-override: bulkCreate
      x-cli-action-override: bulk-tag
      description: 'This method accepts a list of medias to tag. It processes requests asynchronously and will return a background_job_status object rather than the typical Media response object.


        The tags will be added to the existing tags on each media file, not replaced.


        ## Requires api token with one of the following permissions

        ```

        Read, update & delete anything

        ```'
      x-wistia-mcp-tool-name: bulk-tag-media
      x-wistia-mcp-description: 'Add, apply, tag, label, or categorize one or more media — apply a list of tag

        names to video or audio files in a single batch. Processing is

        asynchronous, so this returns a background_job_status object rather than the

        media themselves. The supplied tags are added to each media''s existing tags,

        not replaced. Use this when someone wants to add tags while preserving existing

        tags, including when tagging a single media. To

        manage the tag definitions use create-tags, get-tags, or delete-tag.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              unevaluatedProperties: false
              type: object
              properties:
                hashed_ids:
                  description: An array of the media hashed IDs to be tagged.
                  type: array
                  items:
                    type: string
                tag_names:
                  description: An array of tag names to add to each media.
                  type: array
                  items:
                    type: string
              required:
              - hashed_ids
              - tag_names
      responses:
        '200':
          description: Successful tagging of media.
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                allOf:
                - type: object
                  properties:
                    message:
                      description: A confirmation message that the background job has been queued.
                      type: string
                    background_job_status:
                      unevaluatedProperties: false
                      allOf:
                      - type: object
                        description: 'A background job keeps track of the progress of an asynchronous task, e.g

                          bulk archiving media, translating media, etc.

                          '
                        properties:
                          id:
                            description: The ID of the background job that's been queued for the request.
                            type: integer
                          hashed_id:
                            description: The unguessable hashed ID of the background job. Prefer this over the numeric ID when polling for status.
                            type: string
                          status:
                            description: The status of the background job that's been queued for the request.
                            type: string
                            enum:
                            - queued
                            - started
                            - finished
                            - failed
                        required:
                        - id
                        - hashed_id
                        - status
                  required:
                  - message
                  - background_job_status
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '403':
          description: Forbidden, token is valid but account does not have access to feature
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Webinars are not available on your current plan
        '422':
          description: Unprocessable entity, e.g. missing required parameters.
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Internal server error
      tags:
      - Taggings
      security:
      - BearerAuth: []
      operationId: postTaggingsBulkCreate
      x-operation-id-source: derived
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
x-tagGroups:
- name: Data API
  tags:
  - Media
  - Customizations
  - Captions
  - Localizations
  - Trims
  - Extended Audio Descriptions
  - Brands
  - Tags
  - Taggings
  - Folders
  - Folder Sharings
  - Subfolders
  - Channels
  - Channel Collaborators
  - Channel Episodes
  - Webinars
  - Webinar Collaborators
  - Webinar Registrations
  - Account
  - Search
  - Resource URLs
  - Expiring Access Tokens
  - Background Job Status
  - Allowed Domains
  - Remix
  - Push Devices
  - Deleted Media
  - Review Bundles
  - Share Links
  - Bulk Actions
  - Custom Metadata Field Definitions
  - Custom Metadata Field Values
- name: Stats API
  tags:
  - Stats:Account
  - Stats:Events
  - Stats:Media
  - Stats:Projects
  - Stats:Visitors
- name: Analytics API
  tags:
  - Analytics:Account
  - Analytics:Media
  - Analytics:Webinar
