openapi: 3.1.0
info:
  title: Wistia Data Account Webinars API
  description: 'REST API providing programmatic access to medias, projects, channels, webinars,

    captions, customizations, tags, folders, accounts, and allowed domains in a

    Wistia account. Returns JSON over HTTPS.

    '
  version: '1.0'
  contact:
    name: Wistia
    url: https://docs.wistia.com/reference/getting-started-with-the-data-api
servers:
- url: https://api.wistia.com/v1
  description: Wistia Data API production server
security:
- bearerAuth: []
- basicAuth: []
tags:
- name: Webinars
paths:
  /webinars:
    get:
      tags:
      - Webinars
      summary: List webinars
      operationId: listWebinars
      responses:
        '200':
          description: OK
    post:
      tags:
      - Webinars
      summary: Create webinar
      operationId: createWebinar
      responses:
        '201':
          description: Created
  /webinars/{id}:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
    get:
      tags:
      - Webinars
      summary: Show webinar
      operationId: getWebinar
      responses:
        '200':
          description: OK
    put:
      tags:
      - Webinars
      summary: Update webinar
      operationId: updateWebinar
      responses:
        '200':
          description: OK
    delete:
      tags:
      - Webinars
      summary: Delete webinar
      operationId: deleteWebinar
      responses:
        '204':
          description: No Content
  /webinars/{id}/registrations:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
    post:
      tags:
      - Webinars
      summary: Register for webinar
      operationId: registerWebinar
      responses:
        '201':
          description: Created
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API access token sent as a Bearer token in the Authorization header
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using the API token as the password
