openapi: 3.1.0
info:
  title: Wistia Data Account Channels API
  description: 'REST API providing programmatic access to medias, projects, channels, webinars,

    captions, customizations, tags, folders, accounts, and allowed domains in a

    Wistia account. Returns JSON over HTTPS.

    '
  version: '1.0'
  contact:
    name: Wistia
    url: https://docs.wistia.com/reference/getting-started-with-the-data-api
servers:
- url: https://api.wistia.com/v1
  description: Wistia Data API production server
security:
- bearerAuth: []
- basicAuth: []
tags:
- name: Channels
paths:
  /channels:
    get:
      tags:
      - Channels
      summary: List channels
      operationId: listChannels
      responses:
        '200':
          description: OK
    post:
      tags:
      - Channels
      summary: Create channel
      operationId: createChannel
      responses:
        '201':
          description: Created
  /channels/{hashedId}:
    parameters:
    - in: path
      name: hashedId
      required: true
      schema:
        type: string
    get:
      tags:
      - Channels
      summary: Show channel
      operationId: getChannel
      responses:
        '200':
          description: OK
    put:
      tags:
      - Channels
      summary: Update channel
      operationId: updateChannel
      responses:
        '200':
          description: OK
    delete:
      tags:
      - Channels
      summary: Delete channel
      operationId: deleteChannel
      responses:
        '204':
          description: No Content
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API access token sent as a Bearer token in the Authorization header
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using the API token as the password
