openapi: 3.1.0
info:
  title: Wistia Data Account AllowedDomains API
  description: 'REST API providing programmatic access to medias, projects, channels, webinars,

    captions, customizations, tags, folders, accounts, and allowed domains in a

    Wistia account. Returns JSON over HTTPS.

    '
  version: '1.0'
  contact:
    name: Wistia
    url: https://docs.wistia.com/reference/getting-started-with-the-data-api
servers:
- url: https://api.wistia.com/v1
  description: Wistia Data API production server
security:
- bearerAuth: []
- basicAuth: []
tags:
- name: AllowedDomains
paths:
  /allowed-domains:
    get:
      tags:
      - AllowedDomains
      summary: List allowed domains
      operationId: listAllowedDomains
      responses:
        '200':
          description: OK
    post:
      tags:
      - AllowedDomains
      summary: Create allowed domain
      operationId: createAllowedDomain
      responses:
        '201':
          description: Created
  /allowed-domains/{domain}:
    parameters:
    - in: path
      name: domain
      required: true
      schema:
        type: string
    get:
      tags:
      - AllowedDomains
      summary: Show specific allowed domain
      operationId: getAllowedDomain
      responses:
        '200':
          description: OK
    delete:
      tags:
      - AllowedDomains
      summary: Delete allowed domain
      operationId: deleteAllowedDomain
      responses:
        '204':
          description: No Content
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API access token sent as a Bearer token in the Authorization header
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using the API token as the password
