openapi: 3.2.0
info:
  title: Wistia Media API
  version: '1.0'
  description: 'Operations tagged Media across 2 of this provider''s published API definitions: wistia-data-api-modern-edge-openapi.yml, wistia-data-api-v1-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.wistia.com/modern
- url: https://api.wistia.com/v1
tags:
- name: Media
  x-displayName: Media
paths:
  /medias:
    get:
      summary: List Media
      x-wistia-mcp-annotations:
        read_only_hint: true
        read_only_hint_justification: This tool only reads medias from the account and does not modify any data.
        open_world_hint: false
        open_world_hint_justification: This tool only queries records inside the account and does not reach external services.
        destructive_hint: false
        destructive_hint_justification: This tool is read-only and does not make any changes.
        idempotent_hint: true
        idempotent_hint_justification: Reading data does not change any state, so repeated calls have no additional effect.
      x-speakeasy-group: media
      x-speakeasy-name-override: list
      description: 'Lists the media belonging to the account. This endpoint can also be used to

        do a batch fetch based off of the hashed id.


        ## Requires api token with one of the following permissions

        ```

        Read all folder and media data

        ```'
      x-wistia-mcp-tool-name: get-medias
      x-wistia-mcp-description: 'List, browse, or fetch media records (videos and audio files) in the account.

        Use this when someone wants a page of media, all media in a known folder, exact-name

        or exact-ID lookup, or structured filtering by folder, media type, tags, archived status,

        sorting, or pagination. Do not use this as the first step for keyword, topic, title,

        description, or transcript search; use the `search` tool for those content-finding

        requests, then use get-medias only if you need exact media records by hashed_id.

        For "all" or "how many" requests with structured filters, use `per_page: 100` and

        continue with `page` or `cursor` pagination while more results may exist. The default

        page size is 10, so never treat an unpaginated first response as a complete total.

        Returns a list of media records. In MCP responses, `per_page` is only the requested

        limit; use `returned_count` or the actual `content` length as the number of records

        returned in that response.

        '
      parameters:
      - name: page
        in: query
        description: 'The page number to retrieve. This cannot be combined with `cursor`,

          pagination.

          '
        required: false
        schema:
          type: integer
      - name: per_page
        in: query
        description: The number of medias per page. Use this for both offset pagination and cursor pagination.
        required: false
        schema:
          type: integer
      - name: cursor
        in: query
        description: 'If `cursor[enabled]` is set to 1 then cursor pagination is enabled and the

          first set of records are fetched up to the `per_page`. Cursor

          pagination will also be turned on if `cursor[before]` or `cursor[after]`

          are set. Records returned will have a `cursor` property set which can be used to fetch more records in the same `sort_by` ordering.

          The cursor value of the last record can be used to fetch records after the current result set and

          the cursor of the first record can be used to fetch records before the result set.


          NOTE: a cursor value is only valid if the `sort_by` value hasn''t changed from the

          last fetch. For example, you cannot fetch using `sort_by` id and then pass that

          cursor value to a `sort_by` name.

          '
        required: false
        schema:
          unevaluatedProperties: false
          type: object
          properties:
            enabled:
              description: 'If `cursor[enabled]` is set to 1, the first result set will be fetched with cursor pagination enabled. This

                values is ignored if `cursor[before]` or `cursor[after]` are set.

                '
              type: integer
              enum:
              - 0
              - 1
            before:
              description: 'If `cursor[before]` is set then cursor pagination is enabled and all records

                before the cursor up to the `per_page` are returned. This feature is useful for

                fetching "new records", for example, in a "pull to refersh" feature when showing records in a descending

                order.

                '
              type: string
            after:
              description: 'If `cursor[after]` is set then cursor pagination is enabled and all records

                after the cursor up to the `per_page` are returned.

                '
              type: string
        style: deepObject
      - name: sort_by
        in: query
        description: 'Ordering. When using cursor pagination (see cursor param),

          only `id` and `created` are supported. All other sort_by options (`name`, `updated`, `position`)

          require offset pagination.

          '
        required: false
        schema:
          type: string
          enum:
          - name
          - created
          - updated
          - position
      - name: sort_direction
        in: query
        description: Ordering Sort Direction (0 = desc, 1 = asc; default is 1)
        required: false
        schema:
          type: integer
          enum:
          - 0
          - 1
      - name: folder_id
        in: query
        description: A hashed ID specifying the folder from which you would like to get results.
        required: false
        schema:
          description: Hashed ID of the folder (e.g., "4d23503f70")
          type: string
      - name: name
        in: query
        description: Find a media or medias whose name exactly matches this parameter.
        required: false
        schema:
          type: string
      - name: description_format
        in: query
        description: Format for media descriptions
        required: false
        schema:
          type: string
          examples:
          - markdown
          const: markdown
      - name: type
        in: query
        description: A string specifying which type of media you would like to get.
        required: false
        schema:
          type: string
          enum:
          - Video
          - Audio
          - Image
          - PdfDocument
          - MicrosoftOfficeDocument
          - Swf
          - UnknownType
      - name: hashed_ids[]
        in: query
        description: Find all of the medias by these hashed_ids.
        required: false
        schema:
          type: array
          items:
            type: string
        explode: true
        style: form
      - name: tags[]
        in: query
        description: Find all of the medias that match all of these tag names.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: archived
        in: query
        description: Filter by archived status. True will return only archived medias, while false will return only active medias.
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  unevaluatedProperties: false
                  allOf:
                  - type: object
                    description: 'A media generally represents a video or an audio which can be embedded into your website.


                      CDN-backed medias are accessible using this url structure: https://fast.wistia.com/embed/medias/{hashed_id}.m3u8.

                      For more information, see https://docs.wistia.com/docs/asset-urls#getting-hls-assets.

                      '
                    properties:
                      id:
                        description: A unique numeric identifier for the media within the system.
                        type: integer
                      name:
                        description: The display name of the media.
                        type: string
                      type:
                        description: A string representing what type of media this is.
                        type: string
                        enum:
                        - Video
                        - Audio
                        - Image
                        - PdfDocument
                        - MicrosoftOfficeDocument
                        - Swf
                        - UnknownType
                      archived:
                        description: Whether or not the media is archived, either true or false.
                        type: boolean
                      created:
                        description: The date when the media was originally uploaded.
                        type: string
                        format: date-time
                      updated:
                        description: The date when the media was last changed.
                        type: string
                        format: date-time
                      duration:
                        unevaluatedProperties: false
                        description: Specifies the length (in seconds) for audio and video files. Specifies number of pages in the document. Omitted for other types of media.
                        oneOf:
                        - type: number
                        - type: 'null'
                      embedCode:
                        description: 'DEPRECATED: If you want to programmatically embed videos, follow the construct an embed code guide.

                          '
                        type: string
                        deprecated: true
                      hashed_id:
                        description: A unique alphanumeric identifier for this media.
                        type: string
                      description:
                        description: A description for the media which usually appears near the top of the sidebar on the media's page.
                        type: string
                      progress:
                        description: A floating point value between 0 and 1 that indicates the progress of the processing for this file.
                        type: number
                        maximum: 1
                        minimum: 0
                      status:
                        description: 'Post upload processing status. - `queued`: the file is waiting in the queue to be processed. - `processing`: the file is actively being processed. - `ready`: the file has been fully processed and is ready for embedding and viewing. - `failed`: the file was unable to be processed (usually a format or size error).

                          '
                        type: string
                        enum:
                        - queued
                        - processing
                        - ready
                        - failed
                      section:
                        unevaluatedProperties: false
                        description: The title of the section in which the media appears. This attribute is omitted if the media is not in a section (default).
                        oneOf:
                        - type: string
                        - type: 'null'
                      thumbnail:
                        unevaluatedProperties: false
                        type: object
                        properties:
                          url:
                            type: string
                          width:
                            type: integer
                          height:
                            type: integer
                      protected:
                        description: Whether the media is protected (e.g. requires a password or other authentication to view). Null if the media is not protected.
                        type:
                        - boolean
                        - 'null'
                  - type: object
                    properties:
                      folder:
                        unevaluatedProperties: false
                        oneOf:
                        - unevaluatedProperties: false
                          type: object
                          properties:
                            id:
                              description: A unique numeric identifier for the folder within the system.
                              type: integer
                              examples:
                              - 22570
                            name:
                              description: The folder’s display name.
                              type: string
                              examples:
                              - My Folder Title
                            hashed_id:
                              description: A private hashed id, uniquely identifying the folder within the system.
                              type: string
                              examples:
                              - 4d23503f70
                        - type: 'null'
                    required:
                    - folder
                  - type: object
                    properties:
                      assets:
                        description: An array of the assets available for this media.
                        type: array
                        items:
                          unevaluatedProperties: false
                          type: object
                          properties:
                            url:
                              description: A direct-access URL to the content of the asset.
                              type: string
                            width:
                              unevaluatedProperties: false
                              description: The width of this specific asset, if applicable.
                              oneOf:
                              - type: integer
                              - type: 'null'
                            height:
                              unevaluatedProperties: false
                              description: The height of this specific asset, if applicable.
                              oneOf:
                              - type: integer
                              - type: 'null'
                            file_size:
                              unevaluatedProperties: false
                              description: The size of the asset file that’s referenced by url, measured in bytes.
                              oneOf:
                              - type: integer
                              - type: 'null'
                            content_type:
                              unevaluatedProperties: false
                              description: The asset’s content type.
                              oneOf:
                              - type: string
                              - type: 'null'
                            type:
                              description: 'The internal type of the asset, describing how the asset should be used. Values can include OriginalFile, FlashVideoFile, MdFlashVideoFile, HdFlashVideoFile, Mp4VideoFile, MdMp4VideoFile, HdMp4VideoFile, IPhoneVideoFile, StillImageFile, SwfFile, Mp3AudioFile, and LargeImageFile.

                                '
                              type: string
                  - type: object
                    properties:
                      subfolder:
                        unevaluatedProperties: false
                        description: The subfolder (media group) in which the media appears. Null if the media is not in a subfolder.
                        allOf:
                        - type: object
                          description: A subfolder within a folder that contains media.
                          properties:
                            hashed_id:
                              description: A unique alphanumeric identifier for this subfolder.
                              type: string
                              examples:
                              - abc123def4
                            name:
                              description: The display name of the subfolder.
                              type:
                              - string
                              - 'null'
                              examples:
                              - Marketing Videos
                            description:
                              description: A description for the subfolder.
                              type:
                              - string
                              - 'null'
                              examples:
                              - Collection of all marketing and promotional videos
                            position:
                              description: The position of this subfolder within its folder, used for ordering.
                              type:
                              - integer
                              - 'null'
                              examples:
                              - 1
                            created:
                              description: The date when the subfolder was created.
                              type:
                              - string
                              - 'null'
                              format: date-time
                              examples:
                              - '2024-01-15T10:30:00+00:00'
                            updated:
                              description: The date when the subfolder was last modified.
                              type:
                              - string
                              - 'null'
                              format: date-time
                              examples:
                              - '2024-01-20T14:45:00+00:00'
                            cursor:
                              description: A cursor for stable pagination based on current `sort_by` order. You can pass this to `cursor[before]` or `cursor[after]` as a parameter to fetch the records before or after this record in the same sort order. This is only populated if records were fetched with `cursor[enabled]`, or `cursor[before]` or `cursor[after]`.
                              type:
                              - string
                              - 'null'
                          required:
                          - hashed_id
                          - position
                          - created
                          - updated
                  - type: object
                    properties:
                      tags:
                        description: Tags associated with this media.
                        type: array
                        items:
                          type: object
                          unevaluatedProperties: false
                          properties:
                            name:
                              description: The display name of the tag.
                              type: string
                  - type: object
                    properties:
                      cursor:
                        description: A cursor for stable pagination based on current `sort_by` order. You can pass this to `cursor[before]` or `cursor[after]` as a parameter to fetch the records before or after this record in the same sort order. This is only populated if records were fetched with `cursor[enabled]`, or `cursor[before]` or `cursor[after]`.
                        type:
                        - string
                        - 'null'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    description: Error message detailing the reason for the bad request.
                    type: string
                    examples:
                    - Bad request
                  errors:
                    description: Array of error messages detailing the reasons for the bad request.
                    type: array
                    items:
                      type: string
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Internal server error
      tags:
      - Media
      security:
      - BearerAuth: []
      operationId: getMedias
      x-operation-id-source: derived
    servers:
    - url: https://api.wistia.com/modern
  /medias/{mediaHashedId}:
    get:
      x-wistia-mcp-ignore: true
      summary: Show Media
      x-speakeasy-group: media
      x-speakeasy-name-override: get
      description: 'Fetches a single media by its hashed id.


        ## Requires api token with one of the following permissions

        ```

        Read all folder and media data

        ```'
      parameters:
      - name: mediaHashedId
        in: path
        description: The hashed ID of the media.
        required: true
        schema:
          description: Hashed ID of the media (e.g., "4d23503f70")
          type: string
      - name: description_format
        in: query
        description: Format for media descriptions
        required: false
        schema:
          type: string
          examples:
          - markdown
          const: markdown
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                allOf:
                - type: object
                  description: 'A media generally represents a video or an audio which can be embedded into your website.


                    CDN-backed medias are accessible using this url structure: https://fast.wistia.com/embed/medias/{hashed_id}.m3u8.

                    For more information, see https://docs.wistia.com/docs/asset-urls#getting-hls-assets.

                    '
                  properties:
                    id:
                      description: A unique numeric identifier for the media within the system.
                      type: integer
                    name:
                      description: The display name of the media.
                      type: string
                    type:
                      description: A string representing what type of media this is.
                      type: string
                      enum:
                      - Video
                      - Audio
                      - Image
                      - PdfDocument
                      - MicrosoftOfficeDocument
                      - Swf
                      - UnknownType
                    archived:
                      description: Whether or not the media is archived, either true or false.
                      type: boolean
                    created:
                      description: The date when the media was originally uploaded.
                      type: string
                      format: date-time
                    updated:
                      description: The date when the media was last changed.
                      type: string
                      format: date-time
                    duration:
                      unevaluatedProperties: false
                      description: Specifies the length (in seconds) for audio and video files. Specifies number of pages in the document. Omitted for other types of media.
                      oneOf:
                      - type: number
                      - type: 'null'
                    embedCode:
                      description: 'DEPRECATED: If you want to programmatically embed videos, follow the construct an embed code guide.

                        '
                      type: string
                      deprecated: true
                    hashed_id:
                      description: A unique alphanumeric identifier for this media.
                      type: string
                    description:
                      description: A description for the media which usually appears near the top of the sidebar on the media's page.
                      type: string
                    progress:
                      description: A floating point value between 0 and 1 that indicates the progress of the processing for this file.
                      type: number
                      maximum: 1
                      minimum: 0
                    status:
                      description: 'Post upload processing status. - `queued`: the file is waiting in the queue to be processed. - `processing`: the file is actively being processed. - `ready`: the file has been fully processed and is ready for embedding and viewing. - `failed`: the file was unable to be processed (usually a format or size error).

                        '
                      type: string
                      enum:
                      - queued
                      - processing
                      - ready
                      - failed
                    section:
                      unevaluatedProperties: false
                      description: The title of the section in which the media appears. This attribute is omitted if the media is not in a section (default).
                      oneOf:
                      - type: string
                      - type: 'null'
                    thumbnail:
                      unevaluatedProperties: false
                      type: object
                      properties:
                        url:
                          type: string
                        width:
                          type: integer
                        height:
                          type: integer
                    protected:
                      description: Whether the media is protected (e.g. requires a password or other authentication to view). Null if the media is not protected.
                      type:
                      - boolean
                      - 'null'
                - type: object
                  properties:
                    folder:
                      unevaluatedProperties: false
                      oneOf:
                      - unevaluatedProperties: false
                        type: object
                        properties:
                          id:
                            description: A unique numeric identifier for the folder within the system.
                            type: integer
                            examples:
                            - 22570
                          name:
                            description: The folder’s display name.
                            type: string
                            examples:
                            - My Folder Title
                          hashed_id:
                            description: A private hashed id, uniquely identifying the folder within the system.
                            type: string
                            examples:
                            - 4d23503f70
                      - type: 'null'
                  required:
                  - folder
                - type: object
                  properties:
                    assets:
                      description: An array of the assets available for this media.
                      type: array
                      items:
                        unevaluatedProperties: false
                        type: object
                        properties:
                          url:
                            description: A direct-access URL to the content of the asset.
                            type: string
                          width:
                            unevaluatedProperties: false
                            description: The width of this specific asset, if applicable.
                            oneOf:
                            - type: integer
                            - type: 'null'
                          height:
                            unevaluatedProperties: false
                            description: The height of this specific asset, if applicable.
                            oneOf:
                            - type: integer
                            - type: 'null'
                          file_size:
                            unevaluatedProperties: false
                            description: The size of the asset file that’s referenced by url, measured in bytes.
                            oneOf:
                            - type: integer
                            - type: 'null'
                          content_type:
                            unevaluatedProperties: false
                            description: The asset’s content type.
                            oneOf:
                            - type: string
                            - type: 'null'
                          type:
                            description: 'The internal type of the asset, describing how the asset should be used. Values can include OriginalFile, FlashVideoFile, MdFlashVideoFile, HdFlashVideoFile, Mp4VideoFile, MdMp4VideoFile, HdMp4VideoFile, IPhoneVideoFile, StillImageFile, SwfFile, Mp3AudioFile, and LargeImageFile.

                              '
                            type: string
                - type: object
                  properties:
                    subfolder:
                      unevaluatedProperties: false
                      description: The subfolder (media group) in which the media appears. Null if the media is not in a subfolder.
                      allOf:
                      - type: object
                        description: A subfolder within a folder that contains media.
                        properties:
                          hashed_id:
                            description: A unique alphanumeric identifier for this subfolder.
                            type: string
                            examples:
                            - abc123def4
                          name:
                            description: The display name of the subfolder.
                            type:
                            - string
                            - 'null'
                            examples:
                            - Marketing Videos
                          description:
                            description: A description for the subfolder.
                            type:
                            - string
                            - 'null'
                            examples:
                            - Collection of all marketing and promotional videos
                          position:
                            description: The position of this subfolder within its folder, used for ordering.
                            type:
                            - integer
                            - 'null'
                            examples:
                            - 1
                          created:
                            description: The date when the subfolder was created.
                            type:
                            - string
                            - 'null'
                            format: date-time
                            examples:
                            - '2024-01-15T10:30:00+00:00'
                          updated:
                            description: The date when the subfolder was last modified.
                            type:
                            - string
                            - 'null'
                            format: date-time
                            examples:
                            - '2024-01-20T14:45:00+00:00'
                          cursor:
                            description: A cursor for stable pagination based on current `sort_by` order. You can pass this to `cursor[before]` or `cursor[after]` as a parameter to fetch the records before or after this record in the same sort order. This is only populated if records were fetched with `cursor[enabled]`, or `cursor[before]` or `cursor[after]`.
                            type:
                            - string
                            - 'null'
                        required:
                        - hashed_id
                        - position
                        - created
                        - updated
                - type: object
                  properties:
                    tags:
                      description: Tags associated with this media.
                      type: array
                      items:
                        type: object
                        unevaluatedProperties: false
                        properties:
                          name:
                            description: The display name of the tag.
                            type: string
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Folder with ID 'fakeid' not found.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Internal server error
      tags:
      - Media
      security:
      - BearerAuth: []
      operationId: getMediasByMediaHashedId
      x-operation-id-source: derived
    put:
      summary: Update Media
      x-wistia-mcp-annotations:
        read_only_hint: false
        read_only_hint_justification: This tool modifies an existing media in the account.
        open_world_hint: false
        open_world_hint_justification: This tool only operates on records inside the account and does not reach external services.
        destructive_hint: true
        destructive_hint_justification: Updating replaces existing values and the previous data cannot be recovered.
        idempotent_hint: true
        idempotent_hint_justification: Re-sending the same update with identical attributes leaves the resource in the same state, so repeating the request has no additional effect.
      x-speakeasy-group: media
      x-speakeasy-name-override: update
      description: 'Updates the attributes on a media.


        ## Requires api token with one of the following permissions

        ```

        Read, update & delete anything

        ```'
      x-wistia-mcp-tool-name: update-media
      x-wistia-mcp-description: 'Update, edit, change, or rename the attributes of a media (a video or audio file) by

        hashed_id. Use this when someone wants to change a video or audio file''s name,

        description, complete tag list, or thumbnail/still image. Supplying tags replaces all

        existing tags. Do not use this to add tags to a media while keeping its current tags;

        use bulk-tag-media instead. This edits metadata only — to replace the underlying file use swap-media,

        and to relocate it use move-media.

        '
      parameters:
      - name: mediaHashedId
        in: path
        description: The hashed ID of the media.
        required: true
        schema:
          description: Hashed ID of the media (e.g., "4d23503f70")
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              unevaluatedProperties: false
              type: object
              properties:
                name:
                  description: The media’s new name.
                  type: string
                new_still_media_id:
                  description: 'The Wistia hashed ID of an image that will replace the still that’s displayed before the player starts playing.

                    '
                  type: string
                description:
                  description: A new description for this media. Accepts plain text or markdown.
                  type: string
                tags:
                  description: An array of tag names to apply to the media. This replaces any existing tags. To add tags without replacing existing tags, use bulk-tag-media.
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                allOf:
                - type: object
                  description: 'A media generally represents a video or an audio which can be embedded into your website.


                    CDN-backed medias are accessible using this url structure: https://fast.wistia.com/embed/medias/{hashed_id}.m3u8.

                    For more information, see https://docs.wistia.com/docs/asset-urls#getting-hls-assets.

                    '
                  properties:
                    id:
                      description: A unique numeric identifier for the media within the system.
                      type: integer
                    name:
                      description: The display name of the media.
                      type: string
                    type:
                      description: A string representing what type of media this is.
                      type: string
                      enum:
                      - Video
                      - Audio
                      - Image
                      - PdfDocument
                      - MicrosoftOfficeDocument
                      - Swf
                      - UnknownType
                    archived:
                      description: Whether or not the media is archived, either true or false.
                      type: boolean
                    created:
                      description: The date when the media was originally uploaded.
                      type: string
                      format: date-time
                    updated:
                      description: The date when the media was last changed.
                      type: string
                      format: date-time
                    duration:
                      unevaluatedProperties: false
                      description: Specifies the length (in seconds) for audio and video files. Specifies number of pages in the document. Omitted for other types of media.
                      oneOf:
                      - type: number
                      - type: 'null'
                    embedCode:
                      description: 'DEPRECATED: If you want to programmatically embed videos, follow the construct an embed code guide.

                        '
                      type: string
                      deprecated: true
                    hashed_id:
                      description: A unique alphanumeric identifier for this media.
                      type: string
                    description:
                      description: A description for the media which usually appears near the top of the sidebar on the media's page.
                      type: string
                    progress:
                      description: A floating point value between 0 and 1 that indicates the progress of the processing for this file.
                      type: number
                      maximum: 1
                      minimum: 0
                    status:
                      description: 'Post upload processing status. - `queued`: the file is waiting in the queue to be processed. - `processing`: the file is actively being processed. - `ready`: the file has been fully processed and is ready for embedding and viewing. - `failed`: the file was unable to be processed (usually a format or size error).

                        '
                      type: string
                      enum:
                      - queued
                      - processing
                      - ready
                      - failed
                    section:
                      unevaluatedProperties: false
                      description: The title of the section in which the media appears. This attribute is omitted if the media is not in a section (default).
                      oneOf:
                      - type: string
                      - type: 'null'
                    thumbnail:
                      unevaluatedProperties: false
                      type: object
                      properties:
                        url:
                          type: string
                        width:
                          type: integer
                        height:
                          type: integer
                    protected:
                      description: Whether the media is protected (e.g. requires a password or other authentication to view). Null if the media is not protected.
                      type:
                      - boolean
                      - 'null'
                - type: object
                  properties:
                    tags:
                      description: Tags associated with this media.
                      type: array
                      items:
                        type: object
                        unevaluatedProperties: false
                        properties:
                          name:
                            description: The display name of the tag.
                            type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    description: Error message detailing the reason for the bad request.
                    type: string
                    examples:
                    - Bad request
                  errors:
                    description: Array of error messages detailing the reasons for the bad request.
                    type: array
                    items:
                      type: string
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '403':
          description: Forbidden, token is valid but account does not have access to feature
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Webinars are not available on your current plan
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Folder with ID 'fakeid' not found.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Internal server error
      tags:
      - Media
      security:
      - BearerAuth: []
      operationId: putMediasByMediaHashedId
      x-operation-id-source: derived
    delete:
      summary: Delete Media
      x-wistia-mcp-annotations:
        read_only_hint: false
        read_only_hint_justification: This tool deletes a media from the account, which modifies data.
        open_world_hint: false
        open_world_hint_justification: This tool only operates on records inside the account and does not reach external services.
        destructive_hint: true
        destructive_hint_justification: This tool permanently deletes the media and cannot be undone.
        idempotent_hint: true
        idempotent_hint_justification: Deleting a resource that is already deleted has no additional effect, so the request can be safely repeated.
      x-speakeasy-group: media
      x-speakeasy-name-override: delete
      description: 'Deletes a media.


        ## Requires api token with one of the following permissions

        ```

        Read, update & delete anything

        ```'
      x-wistia-mcp-tool-name: delete-media
      x-wistia-mcp-description: 'Permanently delete a media (a video or audio file) from the account by its hashed_id.

        Use this when someone wants to delete, remove, trash, or destroy a video or audio file

        for good. This cannot be undone — to remove media reversibly use archive-media (and

        restore-media to bring it back), or move-media to relocate it instead.

        '
      parameters:
      - name: mediaHashedId
        in: path
        description: The hashed ID of the media.
        required: true
        schema:
          description: Hashed ID of the media (e.g., "4d23503f70")
          type: string
      responses:
        '200':
          description: Successful deletion of the media.
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                allOf:
                - type: object
                  description: 'A media generally represents a video or an audio which can be embedded into your website.


                    CDN-backed medias are accessible using this url structure: https://fast.wistia.com/embed/medias/{hashed_id}.m3u8.

                    For more information, see https://docs.wistia.com/docs/asset-urls#getting-hls-assets.

                    '
                  properties:
                    id:
                      description: A unique numeric identifier for the media within the system.
                      type: integer
                    name:
                      description: The display name of the media.
                      type: string
                    type:
                      description: A string representing what type of media this is.
                      type: string
                      enum:
                      - Video
                      - Audio
                      - Image
                      - PdfDocument
                      - MicrosoftOfficeDocument
                      - Swf
                      - UnknownType
                    archived:
                      description: Whether or not the media is archived, either true or false.
                      type: boolean
                    created:
                      description: The date when the media was originally uploaded.
                      type: string
                      format: date-time
                    updated:
                      description: The date when the media was last changed.
                      type: string
                      format: date-time
                    duration:
                      unevaluatedProperties: false
                      description: Specifies the length (in seconds) for audio and video files. Specifies number of pages in the document. Omitted for other types of media.
                      oneOf:
                      - type: number
                      - type: 'null'
                    embedCode:
                      description: 'DEPRECATED: If you want to programmatically embed videos, follow the construct an embed code guide.

                        '
                      type: string
                      deprecated: true
                    hashed_id:
                      description: A unique alphanumeric identifier for this media.
                      type: string
                    description:
                      description: A description for the media which usually appears near the top of the sidebar on the media's page.
                      type: string
                    progress:
                      description: A floating point value between 0 and 1 that indicates the progress of the processing for this file.
                      type: number
                      maximum: 1
                      minimum: 0
                    status:
                      description: 'Post upload processing status. - `queued`: the file is waiting in the queue to be processed. - `processing`: the file is actively being processed. - `ready`: the file has been fully processed and is ready for embedding and viewing. - `failed`: the file was unable to be processed (usually a format or size error).

                        '
                      type: string
                      enum:
                      - queued
                      - processing
                      - ready
                      - failed
                    section:
                      unevaluatedProperties: false
                      description: The title of the section in which the media appears. This attribute is omitted if the media is not in a section (default).
                      oneOf:
                      - type: string
                      - type: 'null'
                    thumbnail:
                      unevaluatedProperties: false
                      type: object
                      properties:
                        url:
                          type: string
                        width:
                          type: integer
                        height:
                          type: integer
                    protected:
                      description: Whether the media is protected (e.g. requires a password or other authentication to view). Null if the media is not protected.
                      type:
                      - boolean
                      - 'null'
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '403':
          description: Forbidden, token is valid but account does not have access to feature
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Webinars are not available on your current plan
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Folder with ID 'fakeid' not found.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Internal server error
      tags:
      - Media
      security:
      - BearerAuth: []
      operationId: deleteMediasByMediaHashedId
      x-operation-id-source: derived
    servers:
    - url: https://api.wistia.com/modern
  /medias/{mediaHashedId}/copy:
    post:
      summary: Copy Media
      x-wistia-mcp-annotations:
        read_only_hint: false
        read_only_hint_justification: This tool creates a new media copy, which modifies the account.
        open_world_hint: false
        open_world_hint_justification: This tool only operates on records inside the account and does not reach external services.
        destructive_hint: false
        destructive_hint_justification: Copying only adds new media; existing media are not modified.
        idempotent_hint: false
        idempotent_hint_justification: Each call creates an additional copy of the media.
      x-speakeasy-group: media
      x-speakeasy-name-override: copy
      description: 'This endpoint copies a media and its assets to a destination folder (defaults to source media).


        ## Requires api token with one of the following permissions

        ```

        Read, update & delete anything

        ```'
      x-wistia-mcp-tool-name: copy-media
      x-wistia-mcp-description: 'Copy, duplicate, or clone a single media (a video or audio file) and its assets by

        hashed_id, optionally into a destination folder and optionally assigning a new owner.

        Use this when someone wants to duplicate one video or audio file. Defaults the

        destination to the source media''s current folder and the owner to the source media''s

        owner when omitted. To copy many medias at once use bulk-copy-media; to relocate without

        duplicating use move-media.

        '
      parameters:
      - name: mediaHashedId
        in: path
        description: The hashed ID of the media.
        required: true
        schema:
          description: Hashed ID of the media (e.g., "4d23503f70")
          type: string
      requestBody:
        content:
          application/json:
            schema:
              unevaluatedProperties: false
              type: object
              properties:
                folder_id:
                  description: The ID of the folder where you want the new copy placed. Defaults to the source media’s current folder if omitted or invalid.
                  type: integer
                owner:
                  description: An email address specifying the owner of the new media. Defaults to the source media’s current owner if omitted or invalid.
                  type: string
                  format: email
      responses:
        '201':
          description: Successful creation of the media copy.
          headers:
            Location:
              description: The URL where the newly created media resource resides.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                allOf:
                - type: object
                  description: 'A media generally represents a video or an audio which can be embedded into your website.


                    CDN-backed medias are accessible using this url structure: https://fast.wistia.com/embed/medias/{hashed_id}.m3u8.

                    For more information, see https://docs.wistia.com/docs/asset-urls#getting-hls-assets.

                    '
                  properties:
                    id:
                      description: A unique numeric identifier for the media within the system.
                      type: integer
                    name:
                      description: The display name of the media.
                      type: string
                    type:
                      description: A string representing what type of media this is.
                      type: string
                      enum:
                      - Video
                      - Audio
                      - Image
                      - PdfDocument
                      - MicrosoftOfficeDocument
                      - Swf
                      - UnknownType
                    archived:
                      description: Whether or not the media is archived, either true or false.
                      type: boolean
                    created:
                      description: The date when the media was originally uploaded.
                      type: string
                      format: date-time
                    updated:
                      description: The date when the media was last changed.
                      type: string
                      format: date-time
                    duration:
                      unevaluatedProperties: false
                      description: Specifies the length (in seconds) for audio and video files. Specifies number of pages in the document. Omitted for other types of media.
                      oneOf:
                      - type: number
                      - type: 'null'
                    embedCode:
                      description: 'DEPRECATED: If you want to programmatically embed videos, follow the construct an embed code guide.

                        '
                      type: string
                      deprecated: true
                    hashed_id:
                      description: A unique alphanumeric identifier for this media.
                      type: string
                    description:
                      description: A description for the media which usually appears near the top of the sidebar on the media's page.
                      type: string
                    progress:
                      description: A floating point value between 0 and 1 that indicates the progress of the processing for this file.
                      type: number
                      maximum: 1
                      minimum: 0
                    status:
                      description: 'Post upload processing status. - `queued`: the file is waiting in the queue to be processed. - `processing`: the file is actively being processed. - `ready`: the file has been fully processed and is ready for embedding and viewing. - `failed`: the file was unable to be processed (usually a format or size error).

                        '
                      type: string
                      enum:
                      - queued
                      - processing
                      - ready
                      - failed
                    section:
                      unevaluatedProperties: false
                      description: The title of the section in which the media appears. This attribute is omitted if the media is not in a section (default).
                      oneOf:
                      - type: string
                      - type: 'null'
                    thumbnail:
                      unevaluatedProperties: false
                      type: object
                      properties:
                        url:
                          type: string
                        width:
                          type: integer
                        height:
                          type: integer
                    protected:
                      description: Whether the media is protected (e.g. requires a password or other authentication to view). Null if the media is not protected.
                      type:
                      - boolean
                      - 'null'
                - type: object
                  properties:
                    folder:
                      unevaluatedProperties: false
                      oneOf:
                      - unevaluatedProperties: false
                        type: object
                        properties:
                          id:
                            description: A unique numeric identifier for the folder within the system.
                            type: integer
                            examples:
                            - 22570
                          name:
                            description: The folder’s display name.
                            type: string
                            examples:
                            - My Folder Title
                          hashed_id:
                            description: A private hashed id, uniquely identifying the folder within the system.
                            type: string
                            examples:
                            - 4d23503f70
                      - type: 'null'
                  required:
                  - folder
        '400':
          description: Bad request, e.g. copy failure.
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '403':
          description: Forbidden, token is valid but account does not have access to feature
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Webinars are not available on your current plan
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Folder with ID 'fakeid' not found.
        '405':
          description: Method not allowed, e.g. trying to copy archived media.
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Internal server error
      tags:
      - Media
      security:
      - BearerAuth: []
      operationId: postMediasByMediaHashedIdCopy
      x-operation-id-source: derived
    servers:
    - url: https://api.wistia.com/modern
  /medias/{mediaHashedId}/swap:
    put:
      summary: Swap Media
      x-wistia-mcp-annotations:
        read_only_hint: false
        read_only_hint_justification: This tool replaces the underlying file of a media, which modifies the account.
        open_world_hint: false
        open_world_hint_justification: This tool only operates on records inside the account and does not reach external services.
        destructive_hint: true
        destructive_hint_justification: The original media file is replaced and cannot be recovered.
        idempotent_hint: false
        idempotent_hint_justification: Each call queues another background job that re-runs the replacement.
      x-speakeasy-group: media
      x-speakeasy-name-override: swap
      description: 'Swap one media with another media. This operation queues a background job to replace the original media with the replacement media while preserving the original media''s hashed ID and URLs.


        ## Requires api token with one of the following permissions

        ```

        Read, update & delete anything

        ```'
      x-wistia-mcp-tool-name: swap-media
      x-wistia-mcp-description: 'Swap or replace the underlying file of one media (a video or audio file) with another,

        by hashed_id. Use this when someone wants to replace a video or audio file''s content while

        keeping its existing embed code, URLs, and hashed_id intact (replacement must be the same

        media type). Runs asynchronously, returning a background_job_status to poll. Unlike

        copy-media this does not create a new media, and unlike update-media it changes the actual

        file rather than just metadata.

        '
      parameters:
      - name: mediaHashedId
        in: path
        description: The hashed ID of the media to be replaced.
        required: true
        schema:
          description: Hashed ID of the media to be replaced.
          type: string
      requestBody:
        content:
          application/json:
            schema:
              unevaluatedProperties: false
              type: object
              properties:
                replacement_media_id:
                  description: The hashed ID of the media that will replace the original media. Must be the same media type as the original.
                  type: string
              required:
              - replacement_media_id
      responses:
        '200':
          description: Successfully queued background job for media swap.
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                allOf:
                - type: object
                  properties:
                    message:
                      description: A confirmation message that the background job has been queued.
                      type: string
                    background_job_status:
                      unevaluatedProperties: false
                      allOf:
                      - type: object
                        description: 'A background job keeps track of the progress of an asynchronous task, e.g

                          bulk archiving media, translating media, etc.

                          '
                        properties:
                          id:
                            description: The ID of the background job that's been queued for the request.
                            type: integer
                          hashed_id:
                            description: The unguessable hashed ID of the background job. Prefer this over the numeric ID when polling for status.
                            type: string
                          status:
                            description: The status of the background job that's been queued for the request.
                            type: string
                            enum:
                            - queued
                            - started
                            - finished
                            - failed
                        required:
                        - id
                        - hashed_id
                        - status
                  required:
                  - message
                  - background_job_status
                properties:
                  media:
                    unevaluatedProperties: false
                    allOf:
                    - type: object
                      description: 'A media generally represents a video or an audio which can be embedded into your website.


                        CDN-backed medias are accessible using this url structure: https://fast.wistia.com/embed/medias/{hashed_id}.m3u8.

                        For more information, see https://docs.wistia.com/docs/asset-urls#getting-hls-assets.

                        '
                      properties:
                        id:
                          description: A unique numeric identifier for the media within the system.
                          type: integer
                        name:
                          description: The display name of the media.
                          type: string
                        type:
                          description: A string representing what type of media this is.
                          type: string
                          enum:
                          - Video
                          - Audio
                          - Image
                          - PdfDocument
                          - MicrosoftOfficeDocument
                          - Swf
                          - UnknownType
                        archived:
                          description: Whether or not the media is archived, either true or false.
                          type: boolean
                        created:
                          description: The date when the media was originally uploaded.
                          type: string
                          format: date-time
                        updated:
                          description: The date when the media was last changed.
                          type: string
                          format: date-time
                        duration:
                          unevaluatedProperties: false
                          description: Specifies the length (in seconds) for audio and video files. Specifies number of pages in the document. Omitted for other types of media.
                          oneOf:
                          - type: number
                          - type: 'null'
                        embedCode:
                          description: 'DEPRECATED: If you want to programmatically embed videos, follow the construct an embed code guide.

                            '
                          type: string
                          deprecated: true
                        hashed_id:
                          description: A unique alphanumeric identifier for this media.
                          type: string
                        description:
                          description: A description for the media which usually appears near the top of the sidebar on the media's page.
                          type: string
                        progress:
                          description: A floating point value between 0 and 1 that indicates the progress of the processing for this file.
                          type: number
                          maximum: 1
                          minimum: 0
                        status:
                          description: 'Post upload processing status. - `queued`: the file is waiting in the queue to be processed. - `processing`: the file is actively being processed. - `ready`: the file has been fully processed and is ready for embedding and viewing. - `failed`: the file was unable to be processed (usually a format or size error).

                            '
                          type: string
                          enum:
                          - queued
                          - processing
                          - ready
                          - failed
                        section:
                          unevaluatedProperties: false
                          description: The title of the section in which the media appears. This attribute is omitted if the media is not in a section (default).
                          oneOf:
                          - type: string
                          - type: 'null'
                        thumbnail:
                          unevaluatedProperties: false
                          type: object
                          properties:
                            url:
                              type: string
                            width:
                              type: integer
                            height:
                              type: integer
                        protected:
                          description: Whether the media is protected (e.g. requires a password or other authentication to view). Null if the media is not protected.
                          type:
                          - boolean
                          - 'null'
        '400':
          description: Bad request, e.g. missing replacement_media_id or media type mismatch.
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Replacement media must be the same type as the original media (Video).
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '403':
          description: Forbidden, token is valid but account does not have access to feature
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Webinars are not available on your current plan
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Folder with ID 'fakeid' not found.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Internal server error
      tags:
      - Media
      security:
      - BearerAuth: []
      operationId: putMediasByMediaHashedIdSwap
      x-operation-id-source: derived
    servers:
    - url: https://api.wistia.com/modern
  /medias/{mediaHashedId}/stats:
    get:
      summary: Show Media Aggregated Stats
      x-wistia-mcp-annotations:
        read_only_hint: true
        read_only_hint_justification: This tool only reads media aggregated stats from the account and does not modify any data.
        open_world_hint: false
        open_world_hint_justification: This tool only queries records inside the account and does not reach external services.
        destructive_hint: false
        destructive_hint_justification: This tool is read-only and does not make any changes.
        idempotent_hint: true
        idempotent_hint_justification: Reading data does not change any state, so repeated calls have no additional effect.
      x-speakeasy-group: media
      x-speakeasy-name-override: getStats
      description: 'Aggregated tracking statistics for a video embedded on your site.


        ## Requires api token with one of the following permissions

        ```

        Read all folder and media data

        ```'
      x-wistia-mcp-tool-name: show-media-aggregated-stats
      x-wistia-mcp-description: 'Get aggregated viewing stats, analytics, and metrics for a single media (a video or audio

        file) embedded on your site, by its hashed_id. Use this when someone wants the plays,

        views, visitors, page loads, play rate, or average percent watched / engagement for one

        video. Returns aggregated totals, not per-visitor or time-series data.

        '
      parameters:
      - name: mediaHashedId
        in: path
        description: The hashed ID of the video.
        required: true
        schema:
          description: Hashed ID of the media (e.g., "4d23503f70")
          type: string
      responses:
        '200':
          description: Successful retrieval of video statistics.
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  id:
                    description: A unique numeric identifier for the video within the system.
                    type: integer
                  hashed_id:
                    description: A unique alphanumeric identifier for the video within the system.
                    type: string
                  name:
                    description: The display name of the video.
                    type: string
                  stats:
                    unevaluatedProperties: false
                    description: An object representing the aggregated embed statistics for this video.
                    type: object
                    properties:
                      pageLoads:
                        description: The total number of times that the page containing the embedded video has been loaded.
                        type: integer
                      visitors:
                        description: The number of unique visitors to the page containing the embedded video.
                        type: integer
                      percentOfVisitorsClickingPlay:
                        description: An integer between 0 and 100 that shows what percentage of the time someone who saw the page containing the embedded video played the video.
                        type: integer
                      plays:
                        description: The total number of times that the video has been played.
                        type: integer
                      averagePercentWatched:
                        description: An integer between 0 and 100. It shows the average percentage of the video that was watched over every time the video was played.
                        type: integer
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    description: Error message detailing the reason for the bad request.
                    type: string
                    examples:
                    - Bad request
                  errors:
                    description: Array of error messages detailing the reasons for the bad request.
                    type: array
                    items:
                      type: string
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '403':
          description: Forbidden, token is valid but account does not have access to feature
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Webinars are not available on your current plan
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Folder with ID 'fakeid' not found.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Internal server error
      tags:
      - Media
      security:
      - BearerAuth: []
      operationId: getMediasByMediaHashedIdStats
      x-operation-id-source: derived
    servers:
    - url: https://api.wistia.com/modern
  /medias/{mediaHashedId}/translate:
    post:
      summary: Translate Media
      x-wistia-mcp-annotations:
        read_only_hint: false
        read_only_hint_justification: This tool creates translated transcripts for a media, which modifies the account.
        open_world_hint: true
        open_world_hint_justification: This tool calls AWS Translate to produce the translated transcript content.
        destructive_hint: false
        destructive_hint_justification: Translating only adds new translated transcripts; existing transcripts are not modified.
        idempotent_hint: false
        idempotent_hint_justification: Each call starts another translation job.
      x-speakeasy-group: media
      x-speakeasy-name-override: translate
      description: 'Translates the transcript for a media.


        ## Requires api token with one of the following permissions

        ```

        Read, update & delete anything

        ```'
      x-wistia-mcp-tool-name: translate-media
      x-wistia-mcp-description: 'Translate the transcript or captions of a media (a video or audio file) into another

        language by hashed_id. Use this when someone wants to translate, localize, or generate

        foreign-language captions/subtitles for a video''s transcript. Specify a target_language

        (and optional source_language) as a 3-character IETF language code. Runs asynchronously,

        returning a background_job_status to poll; adds a new translated transcript without

        modifying existing ones.

        '
      parameters:
      - name: mediaHashedId
        in: path
        description: The hashed ID of the media.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              unevaluatedProperties: false
              type: object
              properties:
                target_language:
                  description: The language to translate the transcript to as a 3-character IETF language code.
                  type: string
                source_language:
                  description: The language of the source transcript to be translated as a 3-character IETF language code. If not provided, the media's default transcript language will be used.
                  type: string
              required:
              - target_language
      responses:
        '201':
          description: Successfully queued background job for translation of the transcript.
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                allOf:
                - type: object
                  properties:
                    message:
                      description: A confirmation message that the background job has been queued.
                      type: string
                    background_job_status:
                      unevaluatedProperties: false
                      allOf:
                      - type: object
                        description: 'A background job keeps track of the progress of an asynchronous task, e.g

                          bulk archiving media, translating media, etc.

                          '
                        properties:
                          id:
                            description: The ID of the background job that's been queued for the request.
                            type: integer
                          hashed_id:
                            description: The unguessable hashed ID of the background job. Prefer this over the numeric ID when polling for status.
                            type: string
                          status:
                            description: The status of the background job that's been queued for the request.
                            type: string
                            enum:
                            - queued
                            - started
                            - finished
                            - failed
                        required:
                        - id
                        - hashed_id
                        - status
                  required:
                  - message
                  - background_job_status
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    description: Error message detailing the reason for the bad request.
                    type: string
                    examples:
                    - Bad request
                  errors:
                    description: Array of error messages detailing the reasons for the bad request.
                    type: array
                    items:
                      type: string
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '403':
          description: Forbidden, token is valid but account does not have access to feature
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Webinars are not available on your current plan
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Folder with ID 'fakeid' not found.
        '422':
          description: Unprocessible entity, parameters provided were invalid.
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    description: Error message detailing why the request failed.
                    type: string
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Internal server error
      tags:
      - Media
      security:
      - BearerAuth: []
      operationId: postMediasByMediaHashedIdTranslate
      x-operation-id-source: derived
    servers:
    - url: https://api.wistia.com/modern
  /medias/import_url:
    post:
      summary: Import Media from URL
      x-wistia-mcp-annotations:
        read_only_hint: false
        read_only_hint_justification: This tool imports a new media from a URL, which adds data to the account.
        open_world_hint: true
        open_world_hint_justification: This tool fetches content from a publicly accessible URL outside of Wistia's servers.
        destructive_hint: false
        destructive_hint_justification: Importing only adds a new media; existing data is not modified or removed.
        idempotent_hint: false
        idempotent_hint_justification: Each call imports the file again, creating an additional media.
      x-speakeasy-group: media
      x-speakeasy-name-override: importUrl
      x-cli-action-override: import
      x-wistia-mcp-tool-name: import-media-from-url
      x-wistia-mcp-description: 'Import or upload a media (a video or audio file) into the account from a publicly

        accessible URL. Use this when someone wants to import, upload, ingest, or add a video

        or audio file from a remote link. The import runs asynchronously in the background and

        returns a background_job_status to poll for progress rather than a Media object. The URL

        must be publicly fetchable by Wistia''s servers; some domains (e.g. vimeo.com, wistia.com)

        are not permitted. If no folder_id is given, a new "Untitled Folder" is created to hold

        the imported media.

        '
      description: 'This endpoint imports a media file from a given URL. The import is processed

        asynchronously and will return a background_job_status object rather than the

        typical Media response object. You can poll the background job status endpoint

        to check on the progress of the import.


        If no folder_id is provided, a new folder called "Untitled Folder" will be

        created and the imported media will be placed there.


        The URL must be publicly accessible — Wistia''s servers need to be able to fetch the file directly.


        Note: imports from certain domains (e.g. vimeo.com, wistia.com) are not permitted.


        ## Requires api token with one of the following permissions

        ```

        Read, update & delete anything

        ```'
      requestBody:
        content:
          application/json:
            schema:
              unevaluatedProperties: false
              type: object
              properties:
                url:
                  description: The publicly accessible URL of the media file to import.
                  type: string
                  format: uri
                  examples:
                  - https://example.com/video.mp4
                folder_id:
                  description: The hashed ID of the folder (project) to import the media into. If not provided, a new folder will be created.
                  type: string
              required:
              - url
      responses:
        '201':
          description: Successfully queued background job for URL import.
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                allOf:
                - type: object
                  properties:
                    message:
                      description: A confirmation message that the background job has been queued.
                      type: string
                    background_job_status:
                      unevaluatedProperties: false
                      allOf:
                      - type: object
                        description: 'A background job keeps track of the progress of an asynchronous task, e.g

                          bulk archiving media, translating media, etc.

                          '
                        properties:
                          id:
                            description: The ID of the background job that's been queued for the request.
                            type: integer
                          hashed_id:
                            description: The unguessable hashed ID of the background job. Prefer this over the numeric ID when polling for status.
                            type: string
                          status:
                            description: The status of the background job that's been queued for the request.
                            type: string
                            enum:
                            - queued
                            - started
                            - finished
                            - failed
                        required:
                        - id
                        - hashed_id
                        - status
                  required:
                  - message
                  - background_job_status
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    description: Error message detailing the reason for the bad request.
                    type: string
                    examples:
                    - Bad request
                  errors:
                    description: Array of error messages detailing the reasons for the bad request.
                    type: array
                    items:
                      type: string
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '403':
          description: Forbidden, token is valid but account does not have access to feature
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Webinars are not available on your current plan
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Folder with ID 'fakeid' not found.
        '422':
          description: Unprocessable entity, the URL domain is not permitted for import.
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    description: Error message detailing why the request failed.
                    type: string
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
[...]
