openapi: 3.2.0
info:
  title: Wistia Stats:Projects API
  version: '1.0'
  description: 'Operations tagged Stats:Projects across 2 of this provider''s published API definitions: wistia-data-api-modern-edge-openapi.yml, wistia-data-api-v1-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.wistia.com/modern
- url: https://api.wistia.com/v1
tags:
- name: Stats:Projects
  x-wistia-mcp-toolsets: stats
  x-displayName: Stats:Projects
paths:
  /stats/projects/{projectId}:
    get:
      x-wistia-openai-ignore: true
      x-wistia-anthropic-ignore: true
      summary: Show Project Stats
      x-wistia-mcp-annotations:
        read_only_hint: true
        read_only_hint_justification: This tool only reads project stats from the account and does not modify any data.
        open_world_hint: false
        open_world_hint_justification: This tool only queries records inside the account and does not reach external services.
        destructive_hint: false
        destructive_hint_justification: This tool is read-only and does not make any changes.
        idempotent_hint: true
        idempotent_hint_justification: Reading data does not change any state, so repeated calls have no additional effect.
      x-speakeasy-group: statsProjects
      x-speakeasy-name-override: get
      description: 'Retrieve stats for a project. This endpoint provides statistics for a specific project identified by its project-id.


        ## Requires api token with one of the following permissions

        ```

        Read detailed stats

        ```'
      parameters:
      - name: projectId
        in: path
        description: The Hashed ID or ID of the project for which you want to retrieve stats.
        required: true
        schema:
          description: The hashed ID or numeric ID of the project (e.g., "4d23503f70" or "22570")
          type: string
      responses:
        '200':
          description: Success response with the stats of the project.
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  load_count:
                    description: The total number of times the videos in this project have been loaded.
                    type: integer
                  play_count:
                    description: The total number of times the videos in this project have been played.
                    type: integer
                  hours_watched:
                    description: The total time spent viewing the videos in this project.
                    type: number
                    format: float
                  number_of_videos:
                    description: The total number of videos in this project.
                    type: integer
                    deprecated: true
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '403':
          description: Forbidden, token is valid but account does not have access to feature
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Webinars are not available on your current plan
        '404':
          description: Project not found or does not belong to account
          content: {}
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Internal server error
      tags:
      - Stats:Projects
      security:
      - BearerAuth: []
      operationId: getStatsProjectsByProjectId
      x-operation-id-source: derived
    servers:
    - url: https://api.wistia.com/modern
components:
  responses:
    '401':
      description: Unauthorized, invalid or missing token
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                examples:
                - Invalid credentials.
    '500':
      description: Internal server error
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                examples:
                - Internal server error
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
x-refined-from:
- wistia-data-api-modern-edge-openapi.yml
- wistia-data-api-v1-openapi.yml
x-tagGroups:
- name: Data API
  tags:
  - Media
  - Customizations
  - Captions
  - Localizations
  - Trims
  - Extended Audio Descriptions
  - Brands
  - Tags
  - Taggings
  - Folders
  - Folder Sharings
  - Subfolders
  - Channels
  - Channel Collaborators
  - Channel Episodes
  - Webinars
  - Webinar Collaborators
  - Webinar Registrations
  - Account
  - Search
  - Resource URLs
  - Expiring Access Tokens
  - Background Job Status
  - Allowed Domains
  - Remix
  - Push Devices
  - Deleted Media
  - Review Bundles
  - Share Links
  - Bulk Actions
  - Custom Metadata Field Definitions
  - Custom Metadata Field Values
- name: Stats API
  tags:
  - Stats:Account
  - Stats:Events
  - Stats:Media
  - Stats:Projects
  - Stats:Visitors
- name: Analytics API
  tags:
  - Analytics:Account
  - Analytics:Media
  - Analytics:Webinar
