openapi: 3.2.0
info:
  title: Data Folder Sharings API
  description: Wistia Data API
  version: edge-version
servers:
- url: https://api.wistia.com/modern
tags:
- name: Folder Sharings
  x-wistia-mcp-toolsets: folders
  x-displayName: Folder Sharings
paths:
  /folders/{folderId}/sharings:
    get:
      summary: List Folder Sharings
      x-wistia-mcp-annotations:
        read_only_hint: true
        read_only_hint_justification: This tool only reads folder sharings from the account and does not modify any data.
        open_world_hint: false
        open_world_hint_justification: This tool only queries records inside the account and does not reach external services.
        destructive_hint: false
        destructive_hint_justification: This tool is read-only and does not make any changes.
        idempotent_hint: true
        idempotent_hint_justification: Reading data does not change any state, so repeated calls have no additional effect.
      x-speakeasy-group: folderSharings
      x-speakeasy-name-override: list
      description: 'Lists the sharings of contacts and contact groups on a folder.


        ## Requires api token with one of the following permissions

        ```

        Read all data

        ```'
      x-wistia-mcp-tool-name: get-folder-sharings
      x-wistia-mcp-description: 'List, get, show, or browse the folder sharings — the contacts and contact groups who have been granted access to a folder (previously called a "project"). Use this when someone wants to see who a folder is shared with, list access permissions, or find sharings on a folder, with optional hashed-id filtering, sorting, and pagination. Use create-folder-sharing to grant access, update-folder-sharing to change a sharing, or delete-folder-sharing to revoke access.

        '
      parameters:
      - name: folderId
        in: path
        description: Folder Hashed ID
        required: true
        schema:
          description: Hashed ID of the folder (e.g., "4d23503f70")
          type: string
      - name: page
        in: query
        description: 'The page number to retrieve. This cannot be combined with `cursor`,

          pagination.

          '
        required: false
        schema:
          type: integer
      - name: per_page
        in: query
        description: The number of medias per page. Use this for both offset pagination and cursor pagination.
        required: false
        schema:
          type: integer
      - name: cursor
        in: query
        description: 'If `cursor[enabled]` is set to 1 then cursor pagination is enabled and the

          first set of records are fetched up to the `per_page`. Cursor

          pagination will also be turned on if `cursor[before]` or `cursor[after]`

          are set. Records returned will have a `cursor` property set which can be used to fetch more records in the same `sort_by` ordering.

          The cursor value of the last record can be used to fetch records after the current result set and

          the cursor of the first record can be used to fetch records before the result set.


          NOTE: a cursor value is only valid if the `sort_by` value hasn''t changed from the

          last fetch. For example, you cannot fetch using `sort_by` id and then pass that

          cursor value to a `sort_by` name.

          '
        required: false
        schema:
          unevaluatedProperties: false
          type: object
          properties:
            enabled:
              description: 'If `cursor[enabled]` is set to 1, the first result set will be fetched with cursor pagination enabled. This

                values is ignored if `cursor[before]` or `cursor[after]` are set.

                '
              type: integer
              enum:
              - 0
              - 1
            before:
              description: 'If `cursor[before]` is set then cursor pagination is enabled and all records

                before the cursor up to the `per_page` are returned. This feature is useful for

                fetching "new records", for example, in a "pull to refersh" feature when showing records in a descending

                order.

                '
              type: string
            after:
              description: 'If `cursor[after]` is set then cursor pagination is enabled and all records

                after the cursor up to the `per_page` are returned.

                '
              type: string
        style: deepObject
      - name: sort_by
        in: query
        description: 'Ordering. When using cursor pagination (see cursor param),

          only `id` is supported.

          '
        required: false
        schema:
          type: string
          enum:
          - created
          - updated
          - id
          default: id
      - name: sort_direction
        in: query
        description: Ordering Sort Direction (0 = desc, 1 = asc; default is 1)
        required: false
        schema:
          type: integer
          enum:
          - 0
          - 1
          default: 1
      - name: hashed_ids[]
        in: query
        description: Filter sharings by their hashed IDs
        required: false
        schema:
          type: array
          items:
            type: string
        explode: true
        style: form
      responses:
        '200':
          description: Successfully retrieved list of sharings
          content:
            application/json:
              schema:
                type: array
                items:
                  unevaluatedProperties: false
                  type: object
                  description: 'A sharing is an object that links either a contact or a contact group to a folder, including information about the contacts'' permissions to that folder.

                    '
                  properties:
                    id:
                      type: integer
                      examples:
                      - 14
                    is_admin:
                      type: boolean
                      examples:
                      - true
                    can_share:
                      type: boolean
                      examples:
                      - true
                    can_download:
                      type: boolean
                      examples:
                      - true
                    can_upload:
                      type: boolean
                      examples:
                      - true
                    share:
                      unevaluatedProperties: false
                      type: object
                      properties:
                        id:
                          type: integer
                          examples:
                          - 3
                        name:
                          type: string
                          examples:
                          - Jim
                        type:
                          type: string
                          examples:
                          - Contact
                        email:
                          type: string
                          format: email
                          examples:
                          - jim@wistia.com
                      required:
                      - id
                      - name
                      - type
                      - email
                    folder:
                      unevaluatedProperties: false
                      type: object
                      properties:
                        id:
                          type: integer
                          examples:
                          - 13
                        name:
                          type: string
                          examples:
                          - My Folder
                      required:
                      - id
                      - name
                    cursor:
                      description: A cursor for stable pagination based on current `sort_by` order. You can pass this to `cursor[before]` or `cursor[after]` as a parameter to fetch the records before or after this record in the same sort order. This is only populated if records were fetched with `cursor[enabled]`, or `cursor[before]` or `cursor[after]`.
                      type:
                      - string
                      - 'null'
                  required:
                  - id
                  - is_admin
                  - can_share
                  - can_download
                  - can_upload
                  - share
                  - folder
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    description: Error message detailing the reason for the bad request.
                    type: string
                    examples:
                    - Bad request
                  errors:
                    description: Array of error messages detailing the reasons for the bad request.
                    type: array
                    items:
                      type: string
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Internal server error
      tags:
      - Folder Sharings
      security:
      - BearerAuth: []
      operationId: getFoldersByFolderIdSharings
      x-operation-id-source: derived
    post:
      summary: Create Folder Sharing
      x-wistia-mcp-annotations:
        read_only_hint: false
        read_only_hint_justification: This tool creates a new folder sharing in the account, which modifies data.
        open_world_hint: false
        open_world_hint_justification: This tool only operates on records inside the account and does not reach external services.
        destructive_hint: false
        destructive_hint_justification: This tool only adds a new resource; existing data is not modified.
        idempotent_hint: false
        idempotent_hint_justification: Each call attempts to create an additional resource, so repeating the request may create duplicates.
      x-speakeasy-group: folderSharings
      x-speakeasy-name-override: create
      description: 'Creates a new sharing object for a folder by specifying the email of the person to share with and other optional parameters.


        ## Requires api token with one of the following permissions

        ```

        Read, update & delete anything

        ```'
      x-wistia-mcp-tool-name: create-folder-sharing
      x-wistia-mcp-description: 'Create a folder sharing — grant a contact or contact group access/view permission to a folder (previously called a "project"). Use this when someone wants to share a folder, give access, or add a person or group to a folder by specifying the email of the person to share with plus other optional parameters. Use get-folder-sharings to list who a folder is shared with, update-folder-sharing to change a sharing''s permission, or delete-folder-sharing to revoke access.

        '
      parameters:
      - name: folderId
        in: path
        description: Hashed ID of the folder to be shared
        required: true
        schema:
          description: Hashed ID of the folder (e.g., "4d23503f70")
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              unevaluatedProperties: false
              type: object
              properties:
                sharing:
                  unevaluatedProperties: false
                  type: object
                  properties:
                    with:
                      description: The email address of the person with whom you want to share the folder.
                      type: string
                      format: email
                    requirePassword:
                      description: A flag indicating whether or not a password is required. Defaults to true.
                      type: boolean
                      examples:
                      - false
                    canShare:
                      description: Whether the user is allowed to share the folder with others. Defaults to false.
                      type: boolean
                      examples:
                      - false
                    canDownload:
                      description: Whether the user is allowed to download files from the folder. Defaults to false.
                      type: boolean
                      examples:
                      - false
                    canUpload:
                      description: Whether the user is allowed to upload files to the folder. Defaults to false.
                      type: boolean
                      examples:
                      - false
                    sendEmailNotification:
                      description: Deprecated! Email notifications are always sent now.
                      type: string
                      enum:
                      - '0'
                      - '1'
                      deprecated: true
                  required:
                  - with
              required:
              - sharing
      responses:
        '201':
          description: Folder shared successfully
          headers:
            Location:
              description: The API endpoint for the new sharing object.
              schema:
                type: string
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                description: The response includes a link for the user to access the folder.
                properties:
                  project:
                    description: The URL of the folder that was shared.
                    type: string
                    format: uri
                    examples:
                    - http://myaccount.wistia.com/folders/13
                  sharing:
                    unevaluatedProperties: false
                    type: object
                    description: 'A sharing is an object that links either a contact or a contact group to a folder, including information about the contacts'' permissions to that folder.

                      '
                    properties:
                      id:
                        type: integer
                        examples:
                        - 14
                      is_admin:
                        type: boolean
                        examples:
                        - true
                      can_share:
                        type: boolean
                        examples:
                        - true
                      can_download:
                        type: boolean
                        examples:
                        - true
                      can_upload:
                        type: boolean
                        examples:
                        - true
                      share:
                        unevaluatedProperties: false
                        type: object
                        properties:
                          id:
                            type: integer
                            examples:
                            - 3
                          name:
                            type: string
                            examples:
                            - Jim
                          type:
                            type: string
                            examples:
                            - Contact
                          email:
                            type: string
                            format: email
                            examples:
                            - jim@wistia.com
                        required:
                        - id
                        - name
                        - type
                        - email
                      folder:
                        unevaluatedProperties: false
                        type: object
                        properties:
                          id:
                            type: integer
                            examples:
                            - 13
                          name:
                            type: string
                            examples:
                            - My Folder
                        required:
                        - id
                        - name
                      cursor:
                        description: A cursor for stable pagination based on current `sort_by` order. You can pass this to `cursor[before]` or `cursor[after]` as a parameter to fetch the records before or after this record in the same sort order. This is only populated if records were fetched with `cursor[enabled]`, or `cursor[before]` or `cursor[after]`.
                        type:
                        - string
                        - 'null'
                    required:
                    - id
                    - is_admin
                    - can_share
                    - can_download
                    - can_upload
                    - share
                    - folder
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  description: Error message detailing the reason for the bad request.
                examples:
                - - email@example.com is already shared on this folder.
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '403':
          description: Forbidden, token is valid but account does not have access to feature
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Webinars are not available on your current plan
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Internal server error
      tags:
      - Folder Sharings
      security:
      - BearerAuth: []
      operationId: postFoldersByFolderIdSharings
      x-operation-id-source: derived
  /folders/{folderId}/sharings/{sharingId}:
    get:
      x-wistia-mcp-ignore: true
      summary: Show Folder Sharing
      x-speakeasy-group: folderSharings
      x-speakeasy-name-override: get
      description: 'Retrieves the details of a specific sharing object for a given folder.


        ## Requires api token with one of the following permissions

        ```

        Read all data

        ```'
      parameters:
      - name: folderId
        in: path
        description: Hashed ID for the folder for which you'd like to see sharings.
        required: true
        schema:
          description: Hashed ID of the folder (e.g., "4d23503f70")
          type: string
      - name: sharingId
        in: path
        description: The ID of the specific sharing object that you want to see.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successfully retrieved sharing details
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                description: 'A sharing is an object that links either a contact or a contact group to a folder, including information about the contacts'' permissions to that folder.

                  '
                properties:
                  id:
                    type: integer
                    examples:
                    - 14
                  is_admin:
                    type: boolean
                    examples:
                    - true
                  can_share:
                    type: boolean
                    examples:
                    - true
                  can_download:
                    type: boolean
                    examples:
                    - true
                  can_upload:
                    type: boolean
                    examples:
                    - true
                  share:
                    unevaluatedProperties: false
                    type: object
                    properties:
                      id:
                        type: integer
                        examples:
                        - 3
                      name:
                        type: string
                        examples:
                        - Jim
                      type:
                        type: string
                        examples:
                        - Contact
                      email:
                        type: string
                        format: email
                        examples:
                        - jim@wistia.com
                    required:
                    - id
                    - name
                    - type
                    - email
                  folder:
                    unevaluatedProperties: false
                    type: object
                    properties:
                      id:
                        type: integer
                        examples:
                        - 13
                      name:
                        type: string
                        examples:
                        - My Folder
                    required:
                    - id
                    - name
                  cursor:
                    description: A cursor for stable pagination based on current `sort_by` order. You can pass this to `cursor[before]` or `cursor[after]` as a parameter to fetch the records before or after this record in the same sort order. This is only populated if records were fetched with `cursor[enabled]`, or `cursor[before]` or `cursor[after]`.
                    type:
                    - string
                    - 'null'
                required:
                - id
                - is_admin
                - can_share
                - can_download
                - can_upload
                - share
                - folder
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Folder with ID 'fakeid' not found.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Internal server error
      tags:
      - Folder Sharings
      security:
      - BearerAuth: []
      operationId: getFoldersByFolderIdSharingsBySharingId
      x-operation-id-source: derived
    put:
      summary: Update Folder Sharing
      x-wistia-mcp-annotations:
        read_only_hint: false
        read_only_hint_justification: This tool modifies an existing folder sharing in the account.
        open_world_hint: false
        open_world_hint_justification: This tool only operates on records inside the account and does not reach external services.
        destructive_hint: true
        destructive_hint_justification: Updating replaces existing values and the previous data cannot be recovered.
        idempotent_hint: true
        idempotent_hint_justification: Re-sending the same update with identical attributes leaves the resource in the same state, so repeating the request has no additional effect.
      x-speakeasy-group: folderSharings
      x-speakeasy-name-override: update
      description: 'Updates a sharing on a folder.


        ## Requires api token with one of the following permissions

        ```

        Read, update & delete anything

        ```'
      x-wistia-mcp-tool-name: update-folder-sharing
      x-wistia-mcp-description: 'Update, edit, or change a folder sharing — modify a contact''s or contact group''s access/permission on a folder (previously called a "project"). Use this when someone wants to change, edit, or update an existing folder sharing or access permission. Use create-folder-sharing to grant new access, get-folder-sharings to list current sharings, or delete-folder-sharing to revoke access.

        '
      parameters:
      - name: folderId
        in: path
        description: ID of the folder
        required: true
        schema:
          type: string
      - name: sharingId
        in: path
        description: ID of the sharing to be updated
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              unevaluatedProperties: false
              type: object
              properties:
                sharing:
                  unevaluatedProperties: false
                  type: object
                  properties:
                    canShare:
                      description: Allow the user or group to share the folder with others.
                      type: boolean
                    canDownload:
                      description: Allow the user or group to download media from the folder.
                      type: boolean
                    canUpload:
                      description: Allow the user or group to upload media to the folder.
                      type: boolean
                    isAdmin:
                      description: Give this user admin rights to the folder.
                      type: boolean
      responses:
        '200':
          description: Sharing updated successfully
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                description: 'A sharing is an object that links either a contact or a contact group to a folder, including information about the contacts'' permissions to that folder.

                  '
                properties:
                  id:
                    type: integer
                    examples:
                    - 14
                  is_admin:
                    type: boolean
                    examples:
                    - true
                  can_share:
                    type: boolean
                    examples:
                    - true
                  can_download:
                    type: boolean
                    examples:
                    - true
                  can_upload:
                    type: boolean
                    examples:
                    - true
                  share:
                    unevaluatedProperties: false
                    type: object
                    properties:
                      id:
                        type: integer
                        examples:
                        - 3
                      name:
                        type: string
                        examples:
                        - Jim
                      type:
                        type: string
                        examples:
                        - Contact
                      email:
                        type: string
                        format: email
                        examples:
                        - jim@wistia.com
                    required:
                    - id
                    - name
                    - type
                    - email
                  folder:
                    unevaluatedProperties: false
                    type: object
                    properties:
                      id:
                        type: integer
                        examples:
                        - 13
                      name:
                        type: string
                        examples:
                        - My Folder
                    required:
                    - id
                    - name
                  cursor:
                    description: A cursor for stable pagination based on current `sort_by` order. You can pass this to `cursor[before]` or `cursor[after]` as a parameter to fetch the records before or after this record in the same sort order. This is only populated if records were fetched with `cursor[enabled]`, or `cursor[before]` or `cursor[after]`.
                    type:
                    - string
                    - 'null'
                required:
                - id
                - is_admin
                - can_share
                - can_download
                - can_upload
                - share
                - folder
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Folder with ID 'fakeid' not found.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Internal server error
      tags:
      - Folder Sharings
      security:
      - BearerAuth: []
      operationId: putFoldersByFolderIdSharingsBySharingId
      x-operation-id-source: derived
    delete:
      summary: Delete Folder Sharing
      x-wistia-mcp-annotations:
        read_only_hint: false
        read_only_hint_justification: This tool deletes a folder sharing from the account, which modifies data.
        open_world_hint: false
        open_world_hint_justification: This tool only operates on records inside the account and does not reach external services.
        destructive_hint: true
        destructive_hint_justification: This tool permanently deletes the folder sharing and cannot be undone.
        idempotent_hint: true
        idempotent_hint_justification: Deleting a resource that is already deleted has no additional effect, so the request can be safely repeated.
      x-speakeasy-group: folderSharings
      x-speakeasy-name-override: delete
      description: 'Deletes a sharing on a folder.


        ## Requires api token with one of the following permissions

        ```

        Read, update & delete anything

        ```'
      x-wistia-mcp-tool-name: delete-folder-sharing
      x-wistia-mcp-description: 'Delete a folder sharing — remove or revoke a contact''s or contact group''s access to a folder (previously called a "project"). Use this when someone wants to unshare a folder, revoke access, or remove a person or group''s permission on a folder. Use get-folder-sharings to list current sharings, create-folder-sharing to grant access, or update-folder-sharing to change a sharing instead of removing it.

        '
      parameters:
      - name: folderId
        in: path
        description: Hashed ID of the folder
        required: true
        schema:
          description: Hashed ID of the folder (e.g., "4d23503f70")
          type: string
      - name: sharingId
        in: path
        description: ID of the sharing to be deleted
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Sharing deleted successfully
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                description: 'A sharing is an object that links either a contact or a contact group to a folder, including information about the contacts'' permissions to that folder.

                  '
                properties:
                  id:
                    type: integer
                    examples:
                    - 14
                  is_admin:
                    type: boolean
                    examples:
                    - true
                  can_share:
                    type: boolean
                    examples:
                    - true
                  can_download:
                    type: boolean
                    examples:
                    - true
                  can_upload:
                    type: boolean
                    examples:
                    - true
                  share:
                    unevaluatedProperties: false
                    type: object
                    properties:
                      id:
                        type: integer
                        examples:
                        - 3
                      name:
                        type: string
                        examples:
                        - Jim
                      type:
                        type: string
                        examples:
                        - Contact
                      email:
                        type: string
                        format: email
                        examples:
                        - jim@wistia.com
                    required:
                    - id
                    - name
                    - type
                    - email
                  folder:
                    unevaluatedProperties: false
                    type: object
                    properties:
                      id:
                        type: integer
                        examples:
                        - 13
                      name:
                        type: string
                        examples:
                        - My Folder
                    required:
                    - id
                    - name
                  cursor:
                    description: A cursor for stable pagination based on current `sort_by` order. You can pass this to `cursor[before]` or `cursor[after]` as a parameter to fetch the records before or after this record in the same sort order. This is only populated if records were fetched with `cursor[enabled]`, or `cursor[before]` or `cursor[after]`.
                    type:
                    - string
                    - 'null'
                required:
                - id
                - is_admin
                - can_share
                - can_download
                - can_upload
                - share
                - folder
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Folder with ID 'fakeid' not found.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Internal server error
      tags:
      - Folder Sharings
      security:
      - BearerAuth: []
      operationId: deleteFoldersByFolderIdSharingsBySharingId
      x-operation-id-source: derived
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
x-tagGroups:
- name: Data API
  tags:
  - Media
  - Customizations
  - Captions
  - Localizations
  - Trims
  - Extended Audio Descriptions
  - Brands
  - Tags
  - Taggings
  - Folders
  - Folder Sharings
  - Subfolders
  - Channels
  - Channel Collaborators
  - Channel Episodes
  - Webinars
  - Webinar Collaborators
  - Webinar Registrations
  - Account
  - Search
  - Resource URLs
  - Expiring Access Tokens
  - Background Job Status
  - Allowed Domains
  - Remix
  - Push Devices
  - Deleted Media
  - Review Bundles
  - Share Links
  - Bulk Actions
  - Custom Metadata Field Definitions
  - Custom Metadata Field Values
- name: Stats API
  tags:
  - Stats:Account
  - Stats:Events
  - Stats:Media
  - Stats:Projects
  - Stats:Visitors
- name: Analytics API
  tags:
  - Analytics:Account
  - Analytics:Media
  - Analytics:Webinar
