openapi: 3.1.0
info:
  title: Wistia Data Account Tags API
  description: 'REST API providing programmatic access to medias, projects, channels, webinars,

    captions, customizations, tags, folders, accounts, and allowed domains in a

    Wistia account. Returns JSON over HTTPS.

    '
  version: '1.0'
  contact:
    name: Wistia
    url: https://docs.wistia.com/reference/getting-started-with-the-data-api
servers:
- url: https://api.wistia.com/v1
  description: Wistia Data API production server
security:
- bearerAuth: []
- basicAuth: []
tags:
- name: Tags
paths:
  /tags:
    get:
      tags:
      - Tags
      summary: List tags
      operationId: listTags
      responses:
        '200':
          description: OK
    post:
      tags:
      - Tags
      summary: Create tags
      operationId: createTags
      responses:
        '201':
          description: Created
  /tags/{name}:
    parameters:
    - in: path
      name: name
      required: true
      schema:
        type: string
    delete:
      tags:
      - Tags
      summary: Delete tag
      operationId: deleteTag
      responses:
        '204':
          description: No Content
  /taggings/bulk-create:
    post:
      tags:
      - Tags
      summary: Bulk tag media
      operationId: bulkCreateTaggings
      responses:
        '201':
          description: Created
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API access token sent as a Bearer token in the Authorization header
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using the API token as the password
