openapi: 3.2.0
info:
  title: Wistia Webinars API
  version: '1.0'
  description: 'Operations tagged Webinars across 2 of this provider''s published API definitions: wistia-data-api-modern-edge-openapi.yml, wistia-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.wistia.com/modern
- url: https://api.wistia.com/v1
  description: Wistia Data API production server
tags:
- name: Webinars
  x-displayName: Webinars
paths:
  /webinars:
    get:
      summary: List Webinars
      x-wistia-mcp-annotations:
        read_only_hint: true
        read_only_hint_justification: This tool only reads webinars from the account and does not modify any data.
        open_world_hint: false
        open_world_hint_justification: This tool only queries records inside the account and does not reach external services.
        destructive_hint: false
        destructive_hint_justification: This tool is read-only and does not make any changes.
        idempotent_hint: true
        idempotent_hint_justification: Reading data does not change any state, so repeated calls have no additional effect.
      x-speakeasy-group: webinars
      x-speakeasy-name-override: list
      description: 'Lists webinars belonging to the account. This endpoint can also be used to

        do a batch fetch based off of the hashed id.


        ## Requires api token with one of the following permissions

        ```

        Read all data

        ```'
      x-wistia-mcp-tool-name: get-webinars
      x-wistia-mcp-description: 'List, get, show, or find webinars belonging to the account — live or scheduled

        online video events / live streams that people register for and attend. Supports

        pagination, sorting, and filtering by hashed IDs or started status, and can batch

        fetch specific webinars by hashed ID. Use this to look up or browse webinars. Use

        create-webinar to make one, update-webinar to edit one, delete-webinar to cancel

        one, or list-webinar-registrations to see who registered.

        '
      parameters:
      - name: page
        in: query
        description: 'The page number to retrieve. This cannot be combined with `cursor`,

          pagination.

          '
        required: false
        schema:
          type: integer
      - name: per_page
        in: query
        description: The number of medias per page. Use this for both offset pagination and cursor pagination.
        required: false
        schema:
          type: integer
      - name: cursor
        in: query
        description: 'If `cursor[enabled]` is set to 1 then cursor pagination is enabled and the

          first set of records are fetched up to the `per_page`. Cursor

          pagination will also be turned on if `cursor[before]` or `cursor[after]`

          are set. Records returned will have a `cursor` property set which can be used to fetch more records in the same `sort_by` ordering.

          The cursor value of the last record can be used to fetch records after the current result set and

          the cursor of the first record can be used to fetch records before the result set.


          NOTE: a cursor value is only valid if the `sort_by` value hasn''t changed from the

          last fetch. For example, you cannot fetch using `sort_by` id and then pass that

          cursor value to a `sort_by` name.

          '
        required: false
        schema:
          unevaluatedProperties: false
          type: object
          properties:
            enabled:
              description: 'If `cursor[enabled]` is set to 1, the first result set will be fetched with cursor pagination enabled. This

                values is ignored if `cursor[before]` or `cursor[after]` are set.

                '
              type: integer
              enum:
              - 0
              - 1
            before:
              description: 'If `cursor[before]` is set then cursor pagination is enabled and all records

                before the cursor up to the `per_page` are returned. This feature is useful for

                fetching "new records", for example, in a "pull to refersh" feature when showing records in a descending

                order.

                '
              type: string
            after:
              description: 'If `cursor[after]` is set then cursor pagination is enabled and all records

                after the cursor up to the `per_page` are returned.

                '
              type: string
        style: deepObject
      - name: sort_by
        in: query
        description: 'Field to sort by. When using cursor pagination (see cursor param),

          only `id` and `scheduled_for` are supported. All other sort_by options

          (`title`, `created`, `updated`) require offset pagination.

          '
        required: false
        schema:
          type: string
          enum:
          - scheduled_for
          - title
          - created
          - updated
          - id
      - name: sort_direction
        in: query
        description: Sort direction (0 = desc, 1 = asc; default is 1)
        required: false
        schema:
          type: integer
          enum:
          - 0
          - 1
      - name: hashed_ids[]
        in: query
        description: Filter by specific webinars IDs
        required: false
        schema:
          type: array
          items:
            type: string
      - name: started
        in: query
        description: Filter by whether the webinar has started. Use "true" for webinars that have started, "false" for webinars that have not started yet
        required: false
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
      responses:
        '200':
          description: Successful response with a list of webinars
          content:
            application/json:
              schema:
                type: array
                items:
                  unevaluatedProperties: false
                  type: object
                  description: 'A webinar is an event which allows you to stream a video

                    to multiple participants. See our [Webinars Guide](https://support.wistia.com/en/articles/8288501-getting-started-with-webinars)

                    for more info.

                    '
                  properties:
                    id:
                      description: The hashed ID of the webinar
                      type: string
                      examples:
                      - abc123def456
                    title:
                      description: The title of the webinar
                      type: string
                      examples:
                      - 'Wellness Session: Coping with Outie Memories'
                    description:
                      description: The description of the webinar
                      type:
                      - string
                      - 'null'
                      examples:
                      - A comprehensive session on managing work-life balance
                    scheduled_for:
                      description: The scheduled start time in W3C format with timezone
                      type:
                      - string
                      - 'null'
                      format: date-time
                      examples:
                      - '2024-03-20T15:30:00-05:00'
                    event_duration:
                      description: Duration of the webinar in minutes
                      type:
                      - integer
                      - 'null'
                      examples:
                      - 60
                    time_zone:
                      description: The IANA time zone identifier the webinar is scheduled in
                      type: string
                      examples:
                      - America/New_York
                    lifecycle_status:
                      description: The current lifecycle status of the webinar. This is a read-only, system-managed field that Wistia updates as the event moves through its lifecycle; it cannot be set or changed via the API.
                      type: string
                      readOnly: true
                      enum:
                      - pending
                      - ready
                      - starting
                      - started
                      - ended
                      - vod_ready
                      - failed
                      examples:
                      - ready
                    registration_status:
                      description: Registration status of the event
                      type: string
                      examples:
                      - published
                    created_at:
                      description: When the event was created (UTC)
                      type: string
                      format: date-time
                      examples:
                      - '2024-03-15T10:30:00Z'
                    updated_at:
                      description: When the event was last updated (UTC)
                      type: string
                      format: date-time
                      examples:
                      - '2024-03-15T10:30:00Z'
                    audience_link:
                      description: Link for the audience to join the event
                      type: string
                      examples:
                      - https://lumon-industries.wistia.com/live/events/abc123def456
                    host_link:
                      description: Link for the host to manage the event
                      type: string
                      examples:
                      - https://lumon-industries.wistia.com/live/events/abc123def456/onair
                    panelist_link:
                      description: Link for panelists to join the event
                      type: string
                      examples:
                      - https://lumon-industries.wistia.com/live/events/abc123def456/onair/a1b2c3d4-e5f6-7890-abcd-ef1234567890
                    thumbnail_url:
                      description: URL of the webinar's custom thumbnail image, or null if no custom thumbnail has been set
                      type:
                      - string
                      - 'null'
                      examples:
                      - https://embed-ssl.wistia.com/deliveries/abc123def456.jpg
                    folder:
                      description: The folder (project) this webinar belongs to
                      unevaluatedProperties: false
                      oneOf:
                      - unevaluatedProperties: false
                        type: object
                        properties:
                          id:
                            description: A unique alphanumeric identifier for the record.
                            type: string
                          index_url:
                            description: 'A URL for fetching all the records of the given record type. You can pass hashed_ids as a param with multiple values

                              to do a batch fetch for this records type.

                              '
                            type: string
                          url:
                            description: A URL that can be used to fetch this record.
                            type: string
                        required:
                        - id
                        - index_url
                        - url
                      - type: 'null'
                    cursor:
                      description: A cursor for stable pagination based on current `sort_by` order. You can pass this to `cursor[before]` or `cursor[after]` as a parameter to fetch the records before or after this record in the same sort order. This is only populated if records were fetched with `cursor[enabled]`, or `cursor[before]` or `cursor[after]`.
                      type:
                      - string
                      - 'null'
                  required:
                  - id
                  - title
                  - time_zone
                  - lifecycle_status
                  - registration_status
                  - created_at
                  - updated_at
                  - audience_link
                  - host_link
                  - panelist_link
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    description: Error message detailing the reason for the bad request.
                    type: string
                    examples:
                    - Bad request
                  errors:
                    description: Array of error messages detailing the reasons for the bad request.
                    type: array
                    items:
                      type: string
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '403':
          description: Webinar feature not available
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Webinars are not available on your current plan
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Internal server error
      tags:
      - Webinars
      security:
      - BearerAuth: []
      operationId: getWebinars
      x-operation-id-source: derived
    post:
      summary: Create Webinar
      x-wistia-mcp-annotations:
        read_only_hint: false
        read_only_hint_justification: This tool creates a new webinar in the account, which modifies data.
        open_world_hint: false
        open_world_hint_justification: This tool only operates on records inside the account and does not reach external services.
        destructive_hint: false
        destructive_hint_justification: This tool only adds a new resource; existing data is not modified.
        idempotent_hint: false
        idempotent_hint_justification: Each call attempts to create an additional resource, so repeating the request may create duplicates.
      x-speakeasy-group: webinars
      x-speakeasy-name-override: create
      description: 'Creates a new webinar.


        ## Requires api token with one of the following permissions

        ```

        Read, update & delete anything

        ```'
      x-wistia-mcp-tool-name: create-webinar
      x-wistia-mcp-description: 'Create a new webinar — a live or scheduled online video event / live stream

        that people register for and attend. Use this when someone wants to create,

        add, set up, or schedule a new webinar or live event. Use update-webinar to

        edit it, get-webinars to list webinars, delete-webinar to cancel one, or

        create-webinar-registration to register an attendee.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              unevaluatedProperties: false
              type: object
              properties:
                title:
                  description: The title of the webinar
                  type: string
                  examples:
                  - 'Wellness Session: Coping with Outie Memories'
                description:
                  description: The description of the webinar
                  type: string
                  examples:
                  - A comprehensive session on managing work-life balance
                scheduled_for:
                  description: The scheduled start time as a UTC formatted ISO 8601 string (offset `Z` or `+00:00`).
                  type: string
                  format: date-time
                  examples:
                  - '2024-03-20T15:30:00Z'
                event_duration:
                  description: Duration of the event in minutes (minimum 15)
                  type: integer
                  examples:
                  - 60
                  minimum: 15
                time_zone:
                  description: The IANA time zone identifier the webinar is scheduled in.
                  type: string
                  examples:
                  - America/New_York
                folder_id:
                  description: Hashed ID of the folder to place this webinar in. Defaults to the account's default webinar folder if not provided.
                  type: string
                  examples:
                  - abc123def456
              required:
              - title
              - scheduled_for
              - event_duration
              - time_zone
      responses:
        '201':
          description: Webinar created successfully
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                description: 'A webinar is an event which allows you to stream a video

                  to multiple participants. See our [Webinars Guide](https://support.wistia.com/en/articles/8288501-getting-started-with-webinars)

                  for more info.

                  '
                properties:
                  id:
                    description: The hashed ID of the webinar
                    type: string
                    examples:
                    - abc123def456
                  title:
                    description: The title of the webinar
                    type: string
                    examples:
                    - 'Wellness Session: Coping with Outie Memories'
                  description:
                    description: The description of the webinar
                    type:
                    - string
                    - 'null'
                    examples:
                    - A comprehensive session on managing work-life balance
                  scheduled_for:
                    description: The scheduled start time in W3C format with timezone
                    type:
                    - string
                    - 'null'
                    format: date-time
                    examples:
                    - '2024-03-20T15:30:00-05:00'
                  event_duration:
                    description: Duration of the webinar in minutes
                    type:
                    - integer
                    - 'null'
                    examples:
                    - 60
                  time_zone:
                    description: The IANA time zone identifier the webinar is scheduled in
                    type: string
                    examples:
                    - America/New_York
                  lifecycle_status:
                    description: The current lifecycle status of the webinar. This is a read-only, system-managed field that Wistia updates as the event moves through its lifecycle; it cannot be set or changed via the API.
                    type: string
                    readOnly: true
                    enum:
                    - pending
                    - ready
                    - starting
                    - started
                    - ended
                    - vod_ready
                    - failed
                    examples:
                    - ready
                  registration_status:
                    description: Registration status of the event
                    type: string
                    examples:
                    - published
                  created_at:
                    description: When the event was created (UTC)
                    type: string
                    format: date-time
                    examples:
                    - '2024-03-15T10:30:00Z'
                  updated_at:
                    description: When the event was last updated (UTC)
                    type: string
                    format: date-time
                    examples:
                    - '2024-03-15T10:30:00Z'
                  audience_link:
                    description: Link for the audience to join the event
                    type: string
                    examples:
                    - https://lumon-industries.wistia.com/live/events/abc123def456
                  host_link:
                    description: Link for the host to manage the event
                    type: string
                    examples:
                    - https://lumon-industries.wistia.com/live/events/abc123def456/onair
                  panelist_link:
                    description: Link for panelists to join the event
                    type: string
                    examples:
                    - https://lumon-industries.wistia.com/live/events/abc123def456/onair/a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  thumbnail_url:
                    description: URL of the webinar's custom thumbnail image, or null if no custom thumbnail has been set
                    type:
                    - string
                    - 'null'
                    examples:
                    - https://embed-ssl.wistia.com/deliveries/abc123def456.jpg
                  folder:
                    description: The folder (project) this webinar belongs to
                    unevaluatedProperties: false
                    oneOf:
                    - unevaluatedProperties: false
                      type: object
                      properties:
                        id:
                          description: A unique alphanumeric identifier for the record.
                          type: string
                        index_url:
                          description: 'A URL for fetching all the records of the given record type. You can pass hashed_ids as a param with multiple values

                            to do a batch fetch for this records type.

                            '
                          type: string
                        url:
                          description: A URL that can be used to fetch this record.
                          type: string
                      required:
                      - id
                      - index_url
                      - url
                    - type: 'null'
                  cursor:
                    description: A cursor for stable pagination based on current `sort_by` order. You can pass this to `cursor[before]` or `cursor[after]` as a parameter to fetch the records before or after this record in the same sort order. This is only populated if records were fetched with `cursor[enabled]`, or `cursor[before]` or `cursor[after]`.
                    type:
                    - string
                    - 'null'
                required:
                - id
                - title
                - time_zone
                - lifecycle_status
                - registration_status
                - created_at
                - updated_at
                - audience_link
                - host_link
                - panelist_link
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '403':
          description: Webinar feature not available
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Webinars are not available on your current plan
        '422':
          description: Validation errors
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    examples:
                    - - Title is required
                      - Event duration must be at least 15 minutes
        '429':
          description: Rate limit exceeded
          content:
            text/plain:
              schema:
                type: string
                examples:
                - Rate limit exceeded
        '500':
          description: Internal server error during webinar creation
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    description: Error message describing the server-side failure.
                    type: string
                  errors:
                    type: array
                    items:
                      type: string
                    examples:
                    - - An error occurred while creating the webinar. Please try again.
      tags:
      - Webinars
      security:
      - BearerAuth: []
      operationId: postWebinars
      x-operation-id-source: derived
    servers:
    - url: https://api.wistia.com/modern
  /webinars/{id}:
    get:
      x-wistia-mcp-ignore: true
      summary: Show Webinar
      x-speakeasy-group: webinars
      x-speakeasy-name-override: get
      description: 'Returns the webinar associated with the hashed id.


        ## Requires api token with one of the following permissions

        ```

        Read all data

        ```'
      parameters:
      - name: id
        in: path
        description: The hashed ID of the webinar
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response with the webinar details
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                description: 'A webinar is an event which allows you to stream a video

                  to multiple participants. See our [Webinars Guide](https://support.wistia.com/en/articles/8288501-getting-started-with-webinars)

                  for more info.

                  '
                properties:
                  id:
                    description: The hashed ID of the webinar
                    type: string
                    examples:
                    - abc123def456
                  title:
                    description: The title of the webinar
                    type: string
                    examples:
                    - 'Wellness Session: Coping with Outie Memories'
                  description:
                    description: The description of the webinar
                    type:
                    - string
                    - 'null'
                    examples:
                    - A comprehensive session on managing work-life balance
                  scheduled_for:
                    description: The scheduled start time in W3C format with timezone
                    type:
                    - string
                    - 'null'
                    format: date-time
                    examples:
                    - '2024-03-20T15:30:00-05:00'
                  event_duration:
                    description: Duration of the webinar in minutes
                    type:
                    - integer
                    - 'null'
                    examples:
                    - 60
                  time_zone:
                    description: The IANA time zone identifier the webinar is scheduled in
                    type: string
                    examples:
                    - America/New_York
                  lifecycle_status:
                    description: The current lifecycle status of the webinar. This is a read-only, system-managed field that Wistia updates as the event moves through its lifecycle; it cannot be set or changed via the API.
                    type: string
                    readOnly: true
                    enum:
                    - pending
                    - ready
                    - starting
                    - started
                    - ended
                    - vod_ready
                    - failed
                    examples:
                    - ready
                  registration_status:
                    description: Registration status of the event
                    type: string
                    examples:
                    - published
                  created_at:
                    description: When the event was created (UTC)
                    type: string
                    format: date-time
                    examples:
                    - '2024-03-15T10:30:00Z'
                  updated_at:
                    description: When the event was last updated (UTC)
                    type: string
                    format: date-time
                    examples:
                    - '2024-03-15T10:30:00Z'
                  audience_link:
                    description: Link for the audience to join the event
                    type: string
                    examples:
                    - https://lumon-industries.wistia.com/live/events/abc123def456
                  host_link:
                    description: Link for the host to manage the event
                    type: string
                    examples:
                    - https://lumon-industries.wistia.com/live/events/abc123def456/onair
                  panelist_link:
                    description: Link for panelists to join the event
                    type: string
                    examples:
                    - https://lumon-industries.wistia.com/live/events/abc123def456/onair/a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  thumbnail_url:
                    description: URL of the webinar's custom thumbnail image, or null if no custom thumbnail has been set
                    type:
                    - string
                    - 'null'
                    examples:
                    - https://embed-ssl.wistia.com/deliveries/abc123def456.jpg
                  folder:
                    description: The folder (project) this webinar belongs to
                    unevaluatedProperties: false
                    oneOf:
                    - unevaluatedProperties: false
                      type: object
                      properties:
                        id:
                          description: A unique alphanumeric identifier for the record.
                          type: string
                        index_url:
                          description: 'A URL for fetching all the records of the given record type. You can pass hashed_ids as a param with multiple values

                            to do a batch fetch for this records type.

                            '
                          type: string
                        url:
                          description: A URL that can be used to fetch this record.
                          type: string
                      required:
                      - id
                      - index_url
                      - url
                    - type: 'null'
                  cursor:
                    description: A cursor for stable pagination based on current `sort_by` order. You can pass this to `cursor[before]` or `cursor[after]` as a parameter to fetch the records before or after this record in the same sort order. This is only populated if records were fetched with `cursor[enabled]`, or `cursor[before]` or `cursor[after]`.
                    type:
                    - string
                    - 'null'
                required:
                - id
                - title
                - time_zone
                - lifecycle_status
                - registration_status
                - created_at
                - updated_at
                - audience_link
                - host_link
                - panelist_link
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '403':
          description: Webinar feature not available
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Webinars are not available on your current plan
        '404':
          description: Webinar not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Internal server error
      tags:
      - Webinars
      security:
      - BearerAuth: []
      operationId: getWebinarsById
      x-operation-id-source: derived
    put:
      summary: Update Webinar
      x-wistia-mcp-annotations:
        read_only_hint: false
        read_only_hint_justification: This tool modifies an existing webinar in the account.
        open_world_hint: false
        open_world_hint_justification: This tool only operates on records inside the account and does not reach external services.
        destructive_hint: true
        destructive_hint_justification: Updating replaces existing values and the previous data cannot be recovered.
        idempotent_hint: true
        idempotent_hint_justification: Re-sending the same update with identical attributes leaves the resource in the same state, so repeating the request has no additional effect.
      x-speakeasy-group: webinars
      x-speakeasy-name-override: update
      description: 'Updates an existing webinar.


        ## Requires api token with one of the following permissions

        ```

        Read, update & delete anything

        ```'
      x-wistia-mcp-tool-name: update-webinar
      x-wistia-mcp-description: 'Update an existing webinar — a live or scheduled online video event / live

        stream — by its hashed ID. Use this when someone wants to update, edit, change,

        modify, or reschedule a webinar or live event (for example its title or schedule).

        Use get-webinars to find a webinar, create-webinar to make a new one, or

        delete-webinar to cancel one.

        '
      parameters:
      - name: id
        in: path
        description: The hashed ID of the webinar
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              unevaluatedProperties: false
              type: object
              properties:
                webinar:
                  unevaluatedProperties: false
                  type: object
                  properties:
                    title:
                      description: The title of the webinar
                      type: string
                      examples:
                      - Updated Webinar Title
                    description:
                      description: The description of the webinar
                      type: string
                      examples:
                      - Updated webinar description
                    scheduled_for:
                      description: The scheduled start time as a UTC formatted ISO 8601 string (offset `Z` or `+00:00`).
                      type: string
                      format: date-time
                      examples:
                      - '2024-03-20T15:30:00Z'
                    event_duration:
                      description: Duration of the webinar in minutes (minimum 15)
                      type: integer
                      examples:
                      - 90
                      minimum: 15
                    time_zone:
                      description: The IANA time zone identifier the webinar is scheduled in.
                      type: string
                      examples:
                      - America/New_York
                    folder_id:
                      description: Hashed ID of the folder to move this webinar to. Can only be changed before the webinar has started.
                      type: string
                      examples:
                      - abc123def456
      responses:
        '200':
          description: Webinar updated successfully
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                description: 'A webinar is an event which allows you to stream a video

                  to multiple participants. See our [Webinars Guide](https://support.wistia.com/en/articles/8288501-getting-started-with-webinars)

                  for more info.

                  '
                properties:
                  id:
                    description: The hashed ID of the webinar
                    type: string
                    examples:
                    - abc123def456
                  title:
                    description: The title of the webinar
                    type: string
                    examples:
                    - 'Wellness Session: Coping with Outie Memories'
                  description:
                    description: The description of the webinar
                    type:
                    - string
                    - 'null'
                    examples:
                    - A comprehensive session on managing work-life balance
                  scheduled_for:
                    description: The scheduled start time in W3C format with timezone
                    type:
                    - string
                    - 'null'
                    format: date-time
                    examples:
                    - '2024-03-20T15:30:00-05:00'
                  event_duration:
                    description: Duration of the webinar in minutes
                    type:
                    - integer
                    - 'null'
                    examples:
                    - 60
                  time_zone:
                    description: The IANA time zone identifier the webinar is scheduled in
                    type: string
                    examples:
                    - America/New_York
                  lifecycle_status:
                    description: The current lifecycle status of the webinar. This is a read-only, system-managed field that Wistia updates as the event moves through its lifecycle; it cannot be set or changed via the API.
                    type: string
                    readOnly: true
                    enum:
                    - pending
                    - ready
                    - starting
                    - started
                    - ended
                    - vod_ready
                    - failed
                    examples:
                    - ready
                  registration_status:
                    description: Registration status of the event
                    type: string
                    examples:
                    - published
                  created_at:
                    description: When the event was created (UTC)
                    type: string
                    format: date-time
                    examples:
                    - '2024-03-15T10:30:00Z'
                  updated_at:
                    description: When the event was last updated (UTC)
                    type: string
                    format: date-time
                    examples:
                    - '2024-03-15T10:30:00Z'
                  audience_link:
                    description: Link for the audience to join the event
                    type: string
                    examples:
                    - https://lumon-industries.wistia.com/live/events/abc123def456
                  host_link:
                    description: Link for the host to manage the event
                    type: string
                    examples:
                    - https://lumon-industries.wistia.com/live/events/abc123def456/onair
                  panelist_link:
                    description: Link for panelists to join the event
                    type: string
                    examples:
                    - https://lumon-industries.wistia.com/live/events/abc123def456/onair/a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  thumbnail_url:
                    description: URL of the webinar's custom thumbnail image, or null if no custom thumbnail has been set
                    type:
                    - string
                    - 'null'
                    examples:
                    - https://embed-ssl.wistia.com/deliveries/abc123def456.jpg
                  folder:
                    description: The folder (project) this webinar belongs to
                    unevaluatedProperties: false
                    oneOf:
                    - unevaluatedProperties: false
                      type: object
                      properties:
                        id:
                          description: A unique alphanumeric identifier for the record.
                          type: string
                        index_url:
                          description: 'A URL for fetching all the records of the given record type. You can pass hashed_ids as a param with multiple values

                            to do a batch fetch for this records type.

                            '
                          type: string
                        url:
                          description: A URL that can be used to fetch this record.
                          type: string
                      required:
                      - id
                      - index_url
                      - url
                    - type: 'null'
                  cursor:
                    description: A cursor for stable pagination based on current `sort_by` order. You can pass this to `cursor[before]` or `cursor[after]` as a parameter to fetch the records before or after this record in the same sort order. This is only populated if records were fetched with `cursor[enabled]`, or `cursor[before]` or `cursor[after]`.
                    type:
                    - string
                    - 'null'
                required:
                - id
                - title
                - time_zone
                - lifecycle_status
                - registration_status
                - created_at
                - updated_at
                - audience_link
                - host_link
                - panelist_link
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '403':
          description: Webinar feature not available
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Webinars are not available on your current plan
        '404':
          description: Webinar not found
        '422':
          description: Validation errors
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    examples:
                    - - Title is required
                      - Event duration must be at least 15 minutes
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Internal server error
      tags:
      - Webinars
      security:
      - BearerAuth: []
      operationId: putWebinarsById
      x-operation-id-source: derived
    delete:
      summary: Delete Webinar
      x-wistia-mcp-annotations:
        read_only_hint: false
        read_only_hint_justification: This tool deletes a webinar from the account, which modifies data.
        open_world_hint: false
        open_world_hint_justification: This tool only operates on records inside the account and does not reach external services.
        destructive_hint: true
        destructive_hint_justification: This tool permanently deletes the webinar and cannot be undone.
        idempotent_hint: true
        idempotent_hint_justification: Deleting a resource that is already deleted has no additional effect, so the request can be safely repeated.
      x-speakeasy-group: webinars
      x-speakeasy-name-override: delete
      description: 'Deletes an existing webinar.


        ## Requires api token with one of the following permissions

        ```

        Read, update & delete anything

        ```'
      x-wistia-mcp-tool-name: delete-webinar
      x-wistia-mcp-description: 'Delete an existing webinar — a live or scheduled online video event / live

        stream — by its hashed ID. Use this when someone wants to delete, remove,

        cancel, or take down a webinar or live event. This permanently removes the

        webinar and cannot be undone. Use get-webinars to find a webinar, create-webinar

        to make one, or update-webinar to edit one instead.

        '
      parameters:
      - name: id
        in: path
        description: The hashed ID of the webinar
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Webinar deleted successfully
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                description: 'A webinar is an event which allows you to stream a video

                  to multiple participants. See our [Webinars Guide](https://support.wistia.com/en/articles/8288501-getting-started-with-webinars)

                  for more info.

                  '
                properties:
                  id:
                    description: The hashed ID of the webinar
                    type: string
                    examples:
                    - abc123def456
                  title:
                    description: The title of the webinar
                    type: string
                    examples:
                    - 'Wellness Session: Coping with Outie Memories'
                  description:
                    description: The description of the webinar
                    type:
                    - string
                    - 'null'
                    examples:
                    - A comprehensive session on managing work-life balance
                  scheduled_for:
                    description: The scheduled start time in W3C format with timezone
                    type:
                    - string
                    - 'null'
                    format: date-time
                    examples:
                    - '2024-03-20T15:30:00-05:00'
                  event_duration:
                    description: Duration of the webinar in minutes
                    type:
                    - integer
                    - 'null'
                    examples:
                    - 60
                  time_zone:
                    description: The IANA time zone identifier the webinar is scheduled in
                    type: string
                    examples:
                    - America/New_York
                  lifecycle_status:
                    description: The current lifecycle status of the webinar. This is a read-only, system-managed field that Wistia updates as the event moves through its lifecycle; it cannot be set or changed via the API.
                    type: string
                    readOnly: true
                    enum:
                    - pending
                    - ready
                    - starting
                    - started
                    - ended
                    - vod_ready
                    - failed
                    examples:
                    - ready
                  registration_status:
                    description: Registration status of the event
                    type: string
                    examples:
                    - published
                  created_at:
                    description: When the event was created (UTC)
                    type: string
                    format: date-time
                    examples:
                    - '2024-03-15T10:30:00Z'
                  updated_at:
                    description: When the event was last updated (UTC)
                    type: string
                    format: date-time
                    examples:
                    - '2024-03-15T10:30:00Z'
                  audience_link:
                    description: Link for the audience to join the event
                    type: string
                    examples:
                    - https://lumon-industries.wistia.com/live/events/abc123def456
                  host_link:
                    description: Link for the host to manage the event
                    type: string
                    examples:
                    - https://lumon-industries.wistia.com/live/events/abc123def456/onair
                  panelist_link:
                    description: Link for panelists to join the event
                    type: string
                    examples:
                    - https://lumon-industries.wistia.com/live/events/abc123def456/onair/a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  thumbnail_url:
                    description: URL of the webinar's custom thumbnail image, or null if no custom thumbnail has been set
                    type:
                    - string
                    - 'null'
                    examples:
                    - https://embed-ssl.wistia.com/deliveries/abc123def456.jpg
                  folder:
                    description: The folder (project) this webinar belongs to
                    unevaluatedProperties: false
                    oneOf:
                    - unevaluatedProperties: false
                      type: object
                      properties:
                        id:
                          description: A unique alphanumeric identifier for the record.
                          type: string
                        index_url:
                          description: 'A URL for fetching all the records of the given record type. You can pass hashed_ids as a param with multiple values

                            to do a batch fetch for this records type.

                            '
                          type: string
                        url:
                          description: A URL that can be used to fetch this record.
                          type: string
                      required:
                      - id
                      - index_url
                      - url
                    - type: 'null'
                  cursor:
                    description: A cursor for stable pagination based on current `sort_by` order. You can pass this to `cursor[before]` or `cursor[after]` as a parameter to fetch the records before or after this record in the same sort order. This is only populated if records were fetched with `cursor[enabled]`, or `cursor[before]` or `cursor[after]`.
                    type:
                    - string
                    - 'null'
                required:
                - id
                - title
                - time_zone
                - lifecycle_status
                - registration_status
                - created_at
                - updated_at
                - audience_link
                - host_link
                - panelist_link
        '401':
          description: Unauthorized, invalid or missing token
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  code:
                    description: A machine-readable identifier for the specific authorization failure.
                    type: string
                    enum:
                    - unauthorized_credentials
                    - account_inactive
                    - unauthorized_scope
                    - unauthorized_params
                  error:
                    type: string
                    examples:
                    - Invalid credentials.
        '403':
          description: Webinar feature not available
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Webinars are not available on your current plan
        '404':
          description: Webinar not found
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                unevaluatedProperties: false
                type: object
                properties:
                  error:
                    type: string
                    examples:
                    - Internal server error
      tags:
      - Webinars
      security:
      - BearerAuth: []
      operationId: deleteWebinarsById
      x-operation-id-source: derived
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
    servers:
    - url: https://api.wistia.com/modern
  /webinars/{id}/registrations:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
    post:
      tags:
      - Webinars
      summary: Register for webinar
      operationId: registerWebinar
      responses:
        '201':
          description: Created
      security:
      - bearerAuth: []
      - basicAuth: []
    servers:
    - url: https://api.wistia.com/v1
      description: Wistia Data API production server
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
    bearerAuth:
      type: http
      scheme: bearer
      description: API access token sent as a Bearer token in the Authorization header
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using the API token as the password
x-refined-from:
- wistia-data-api-modern-edge-openapi.yml
- wistia-openapi.yml
x-tagGroups:
- name: Data API
  tags:
  - Media
  - Customizations
  - Captions
  - Localizations
  - Trims
  - Extended Audio Descriptions
  - Brands
  - Tags
  - Taggings
  - Folders
  - Folder Sharings
  - Subfolders
  - Channels
  - Channel Collaborators
  - Channel Episodes
  - Webinars
  - Webinar Collaborators
  - Webinar Registrations
  - Account
  - Search
  - Resource URLs
  - Expiring Access Tokens
  - Background Job Status
  - Allowed Domains
  - Remix
  - Push Devices
  - Deleted Media
  - Review Bundles
  - Share Links
  - Bulk Actions
  - Custom Metadata Field Definitions
  - Custom Metadata Field Values
- name: Stats API
  tags:
  - Stats:Account
  - Stats:Events
  - Stats:Media
  - Stats:Projects
  - Stats:Visitors
- name: Analytics API
  tags:
  - Analytics:Account
  - Analytics:Media
  - Analytics:Webinar
