openapi: 3.1.0
info:
  title: Wistia Data Account Folders API
  description: 'REST API providing programmatic access to medias, projects, channels, webinars,

    captions, customizations, tags, folders, accounts, and allowed domains in a

    Wistia account. Returns JSON over HTTPS.

    '
  version: '1.0'
  contact:
    name: Wistia
    url: https://docs.wistia.com/reference/getting-started-with-the-data-api
servers:
- url: https://api.wistia.com/v1
  description: Wistia Data API production server
security:
- bearerAuth: []
- basicAuth: []
tags:
- name: Folders
paths:
  /folders:
    get:
      tags:
      - Folders
      summary: List folders
      operationId: listFolders
      responses:
        '200':
          description: OK
    post:
      tags:
      - Folders
      summary: Create folder
      operationId: createFolder
      responses:
        '201':
          description: Created
  /folders/{id}:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
    get:
      tags:
      - Folders
      summary: Retrieve folder
      operationId: getFolder
      responses:
        '200':
          description: OK
    put:
      tags:
      - Folders
      summary: Update folder
      operationId: updateFolder
      responses:
        '200':
          description: OK
    delete:
      tags:
      - Folders
      summary: Delete folder
      operationId: deleteFolder
      responses:
        '204':
          description: No Content
  /folders/{id}/copy:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
    post:
      tags:
      - Folders
      summary: Copy folder (asynchronous)
      operationId: copyFolder
      responses:
        '202':
          description: Accepted
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API access token sent as a Bearer token in the Authorization header
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication using the API token as the password
